<!DOCTYPE html>
<html>
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<title>ZICOM :: Sistema de gestión de cobros</title>
	<meta name="keywords" content="Zicom Sistema de gestión de cobros" />
	<meta name="description" content="Zicom Sistema de gestión de cobros">
	<meta name="author" content="VozIPTelco Desarrollo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font CSS (Via CDN) -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/skin/default_skin/css/theme.css">

	<!-- Admin Forms CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/css/admin-forms.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{NeuralRutaWebPublico}}/assets/img/favicon.ico">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<style>
		label.error {
			color: #0063dc;
			font-size: 10px;
		}
	</style>
	<style>
		/* Demo Page Styles */
		.hero-content .btn {
			border-radius: 0 !important;
			padding: 12px 0 !important;
		}
		.col-adjust-8 {
			padding: 0 30px;
		}
		.col-adjust-8 > .row > div {
			width: 11.1%;
			padding-left: 7px;
			padding-right: 7px;
		}
		.col-adjust-8 > .row > div > .btn {
			padding-left: 5px;
			padding-right: 5px;
		}
		.col-adjust-8 > .row > div > .btn-group > .btn {
			padding-left: 10px;
			padding-right: 10px;
		}

		/* Responsive Demo Page Styles */
		@media (max-width: 700px) {
			.col-adjust-8 code {
				display: none;
			}
			.col-adjust-8 > .row > div {
				width: 100%;
				margin-bottom: 10px;
			}
			.hero-content {
				border-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
			.hero-content .col-adjust-8 h3,
			.hero-content .col-adjust-8 > .row:first-child > div {
				margin-bottom: 0px !important;
			}
			.col-adjust-8.demo-btn-groups > .row > div,
			.col-adjust-8.demo-btn-dropdowns > .row > div,
			.col-adjust-8.demo-btn-ladda > .row > div {
				width: 33%;
				margin-bottom: 10px;
			}
			.col-adjust-8.demo-btn-ladda > .row > div > .btn {
				min-width: 100px;
			}
		}

		/* Zocal Demo Page Styles*/
		button.zocial {
			margin: 6px;
		}

		/* Ladd Demo Page Styles*/
		.ladda-button[data-loading] {
			overflow: visible;
		}
		.ladda-button[data-style=contract][data-loading] {
			width: 35px;
		}
	</style>


</head>
<body class="external-page sb-l-c sb-r-c">
<div id="main" class="animated fadeIn">

	<section id="content_wrapper">

		<div id="canvas-wrapper">
			<canvas id="demo-canvas"></canvas>
		</div>


		<section id="content">

			<div class="admin-form theme-info mw700" style="margin-top: 3%;" id="register">

				<div class="row table-layout">
					<a href="dashboard.html" title="Return to Dashboard">
						<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo_header.png" class="center-block img-responsive" style="max-width: 275px;">
					</a>
				</div>

				<div class="panel panel-info mt10 br-n">

					<form method="POST" id="frm_Recuperacion" name="frm_Recuperacion">
						<div class="panel-body p25 bg-light">

							<div class="section row p10 ph15">
								<h3>Contraseña Activada</h3>
								<p>El proceso de generación de contraseña ya fue activado, en breve recibirá un correo con los nuevos datos de acceso a su cuenta.</p>
								<br><br>
								<h6><span class="label label-info">Información</span> &nbsp; Si presenta algún problema con el proceso de restauración de su contraseña, comuníquese con el administrador de la red.</h6>
							</div>

						</div>

						<div class="panel-footer clearfix">

						</div>

					</form>
				</div>

				<div class="login-links">
					<p>Ya se encuentra su cuenta activada?
						<a href="{{NeuralRutaApp}}/Index" class="active">Ingrese aquí</a>
					</p>
				</div>


			</div>

		</section>
	</section>
</div>

<!-- jQuery -->
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery-1.11.1.min.js" ></script>
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery_ui/jquery-ui.min.js" ></script>

<!-- CanvasBG Plugin(creates mousehover effect) -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/canvasbg/canvasbg.js" ></script>

<!-- Theme Javascript -->
<script src="{{NeuralRutaWebPublico}}/assets/js/utility/utility.js" ></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/demo/demo.js" ></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/main.js" ></script>

<!-- Page Javascript -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
		CanvasBG.init({
			Loc: {
				x: window.innerWidth / 2,
				y: window.innerHeight / 3.3
			},
		});
	});
</script>
</body>
</html>