<div class="alert alert-micro alert-border-left alert-info alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <i class="fa fa-info pr10"></i>
  <strong>Información!</strong> No hay registro de la llamada o la gestión en el sistema.
</div>

