<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>ZICOM :: Sistema de gestión de cobros</title>
	<meta name="keywords" content="Zicom Sistema de gestión de cobros" />
	<meta name="description" content="Zicom Sistema de gestión de cobros">
	<meta name="author" content="VozIPTelco Desarrollo">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font CSS (Via CDN) -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

	<!-- Theme CSS -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/skin/default_skin/css/theme.min.css">

	<!-- Admin Forms CSS -->
	<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/css/admin-forms.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{NeuralRutaWebPublico}}/assets/img/favicon.ico">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<style>
		label.error {
			color: #0063dc;
			font-size: 10px;
		}
	</style>
</head>

<body class="external-page sb-l-c sb-r-c">
<div id="main" class="animated fadeIn">

	<section id="content_wrapper">
	<div id="canvas-wrapper">
			<canvas id="demo-canvas"></canvas>
		</div>

		<section id="content">
			<div class="admin-form theme-info" id="login1">
				<div class="row mb15 table-layout">

					<div class="col-xs-6 va-m pln">
						<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo_header.png" title="AdminDesigns Logo" class="img-responsive w250">
					</div>
					<div class="col-xs-6 text-right va-b pr5">
					</div>

				</div>

				<div class="panel panel-info mt10 br-n">

					<div class="panel-heading heading-border bg-white">

						<div class="section row mn">

						</div>
					</div>

					<form method="post" action="{{NeuralRutaApp}}/Index/Autenticacion" id="frm_Login" name="frm_Login">
						<div class="panel-body bg-light p30">
							<div class="row">
								<div class="col-sm-7 pr30">

									<div class="section">
										<label for="username" class="field-label text-muted fs18 mb10">Usuario</label>
										<label for="username" class="field prepend-icon">
											<input type="text" id="username" name="username" class="gui-input" placeholder="Ingrese el nombre del usuario" autocomplete="off">
											<label for="username" class="field-icon">
												<i class="fa fa-user"></i>
											</label>
										</label>
									</div>

									<div class="section">
										<label for="username" class="field-label text-muted fs18 mb10">Contraseña</label>
										<label for="password" class="field prepend-icon">
											<input type="password" name="password" id="password" class="gui-input" placeholder="Ingrese la contraseña de acceso" autocomplete="off">
											<label for="password" class="field-icon">
												<i class="fa fa-lock"></i>
											</label>
										</label>
									</div>

								</div>
								<div class="col-sm-5 br-l br-grey pl30">
									<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo.gif" class="img-responsive w250"></img>
								</div>
							</div>
						</div>

						<div class="panel-footer clearfix p10 ph15">
							<button type="submit" class="button btn-primary mr10 pull-right"><span class="fa fa-angle-double-right pr5"></span> Entrar al Sistema</button>
							<label class="switch ib switch-primary pull-left input-align mt10">
								<input type="checkbox" name="recordar" id="recordar">
								<label for="recordar" data-on="SI" data-off="NO"></label>
								<span>Recordar El Acceso</span>
							</label>
						</div>
						<input type="hidden" id="Key" name="Key" value="{{Key}}" />

					</form>
				</div>
				<div class="login-links">
					<p>
						<a href="{{NeuralRutaApp}}/Index/RecuperacionPassword" class="active" title="¿Olvido su Contraseña?">¿Olvido su Contraseña?</a>
					</p>
					<p>Si usted esta registrado y no recuerda su contraseña presione <a href="{{NeuralRutaApp}}/Index/RecuperacionPassword" class="active">aquí</a>.
					</p>
				</div>

			</div>

		</section>
	</section>
</div>

<!-- jQuery -->
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery-1.11.1.min.js" ></script>
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery_ui/jquery-ui.min.js" ></script>

<!-- CanvasBG Plugin(creates mousehover effect) -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/canvasbg/canvasbg.js" ></script>

<!-- Theme Javascript -->
<script src="{{NeuralRutaWebPublico}}/assets/js/utility/utility.min.js" ></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/main.js" ></script>

<!-- Page Javascript -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
		CanvasBG.init({
			Loc: {
				x: window.innerWidth / 2,
				y: window.innerHeight / 3.3
			},
		});

	});
</script>
{{Scripts|raw}}

<script>
	jQuery(document).ready(function(){
		jQuery( "input[name=username]" ).focus();
	});
</script>

<!-- Invalida Enter -->
<script>
	jQuery(document).ready(function() {
		jQuery("Form").keypress(function(e) {
			if (e.which == 13) {
				return false;
			}
		});
		jQuery('#username').focus();
	});
</script>
</body>
</html>