<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="panel panel-dark">
			<div class="panel-heading">
				<span class="panel-title">Importación De Archivo Excel</span>
				<div class="widget-menu pull-right">
				</div>
			</div>

			<div class="panel-body">
				<div class="section row text-center">
					<br><br>
					<div class="col-md-4"></div>
					<div class="col-md-2 text-center">
						<a class="holder-style p15 mb20 holder-active" href="{{NeuralRutaWebPublico}}/documentos/registros_clientes.xlsx">
							<span class="fa fa-download holder-icon"></span>
							<br/> Descargar Plantilla
						</a>
					</div>

					<div id="ImportarExcel" onclick="javascript: frmAgregarArchivo()" class="col-md-2 text-center">
						<a class="holder-style p15 mb20 holder-active" href="#dock-image">
							<span class="fa fa-table holder-icon"></span>
							<br/> Subir Archivo Excel
						</a>
					</div>

				</div>
				<div class="section row">
					<div class="col-md-12">
						<br>
						<p><span class="label label-warning"><span class="glyphicons glyphicons-warning_sign"></span> &nbsp;Precaución:</span>
						Solo se pueden subir archivos en formato Excel (xls ó xlsx), sin diseño se recomienda la descarga de la plantilla para hacer un llenado correcto.</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<script>
	function frmAgregarArchivo(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ImportarExcel/frmAgregarArchivo',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>