 <section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		 <div class="panel" id="spy3">
            <div class="panel-heading">
              <span class="panel-title">
                <span class="fa fa-table"></span>Registros importados desde el archivo Excel</span>
            </div>
            <div class="panel-body pn">
              <div class="bs-component">
                <table class="table table-hover table-condensed">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Cliente</th>
                      <th>Gerencia</th>
                      <th>Cartera</th>
                      <th>Cliente Único</th>
                      <th>Nombre de Titular</th>
                      <th>Domicilio Contractual</th>
                      <th>Provincia</th>
                      <th>Distrito</th>
                      <th class="text-center">Semana de Atraso</th>
                      <th>Saldo</th>
                      <th>Saldo Total</th>
              		  <th>Codigo</th>
                      <th class="text-center">Tipo Ingreso</th>
                      <th class="text-center">Estado</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% set Contador = 0 %}
                  {% for Registro in Registros %}
                  	{% set Error = 0 %}
                  	{% if Registro.Gerencia == "ERROR" or Registro.Cliente == "ERROR" or Registro.Cartera == "ERROR" or Registro.Provincia == "ERROR" or Registro.Distrito == "ERROR" or Registro.Saldo == "ERROR" or Registro.SaldoTotal == "ERROR" or Registro.Telefono1 == "ERROR" or Registro.ClienteUnico == "ERROR" %}
                  		{% set Error = 1 %}
              		{% endif %}
                  	{% set Contador = Contador + 1 %}
                    <tr>
                      <td>{{Contador}}</td>
                      <td>
                      	{% if Registro.Cliente == "ERROR" %}
             			  <span class="label label-rounded label-danger">Error</span>
             			{% else %}
        				  {{Registro.Cliente}}
   				     	{% endif %}
					  </td>
					   <td>
                        {% if Registro.Gerencia == "ERROR" %}
                          <span class="label label-rounded label-danger">Error</span>
                        {% else %}
                          {{Registro.Gerencia}}
                        {% endif %}
                      </td>
                      <td>
                        {% if Registro.Cartera == "ERROR" %}
                          <span class="label label-rounded label-danger">Error</span>
                        {% else %}
                          {{Registro.Cartera}}
                        {% endif %}
                      </td>
                      <td>
                      	{% if Registro.ClienteUnico == "ERROR" %}
                    		<span class="label label-rounded label-danger">Error</span>
      					{% else %}
					  		{{Registro.ClienteUnico}}
					  	{% endif %}
					  </td>
                      <td>{{Registro.NombreTitular}}</td>
                      <td>{{Registro.DomicilioContractual}}</td>
                      <td>
                        {% if Registro.Provincia == "ERROR" %}
                          <span class="label label-rounded label-danger">Error</span>
                        {% else %}
                          {{Registro.Provincia}}
                        {% endif %}
                      </td>
                      <td>
                        {% if Registro.Distrito == "ERROR" %}
                          <span class="label label-rounded label-danger">Error</span>
                        {% else %}
                          {{Registro.Distrito}}
                        {% endif %}
                      </td>
                      <td class="text-center">{{Registro.SemanaAtraso}}</td>
                      <td class="text-right">
 						{% if Registro.Saldo == "ERROR" %}
 							<span class="label label-rounded label-danger">Error</span>
						{% else %}
                            S/.{{Registro.Saldo|Formato_Moneda}}
		  				{% endif %}
					  </td>
                      <td class="text-right">
                      	{% if Registro.SaldoTotal == "ERROR" %}
                      		<span class="label label-rounded label-danger">Error</span>
      					{% else %}
                            S/.{{Registro.SaldoTotal|Formato_Moneda}}
			  			{% endif %}
					  </td>
		   		      <td class="text-center">
                        {% if Registro.Codigo == "ERROR" %}
                          <span class="label label-rounded label-danger">Error</span>
                        {% else %}
                          {{Registro.Codigo}}
                        {% endif %}
                      </td>
                      <td>
                        {% if Registro.EstadoIngreso == "NUEVO REGISTRO" %}
                          <span class="label label-rounded label-primary">{{Registro.EstadoIngreso}}</span>
                        {% else %}
                        <span class="label label-rounded label-default">{{Registro.EstadoIngreso}}</span>
                        {% endif %}
                      </td>
                      <td class="text-center">
					  {% if Error == 1 %}
                        <span class="label label-rounded label-danger">Error</span>
		  			  {% else %}
                        <span class="label label-rounded label-success">Correcto</span>
  			  		  {% endif %}
					  </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>		 
            </div>
          </div>
           	<input type="hidden" id="Ruta" name="Ruta" value="{{Ruta}}"/>
           	<input type="hidden" id="Extension" name="Extension" value="{{Extension}}"/>
            <div class="section row">
				<div class="col-md-12">
					<p class="text-center">
					<button class="btn btn-alert" type="submit" onclick="javascript: fnCargarArchivo();" ><span class="glyphicons glyphicons-database_plus pr5"></span> Cargar Registros a la Base de Datos</button>
					</p>
				</div>
			</div>
	</div>
</section>

<script>
	/* Caragar Archivo */
	function fnCargarArchivo(){
		var dato = jQuery('#Ruta').val();
		var dato2 = jQuery('#Extension').val();
	
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ImportarExcel/GuardarArchivoBaseDatos',
			data: {Ruta:dato, Extension:dato2},
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#Ruta').on('submit', function(e){
		var isvalidate = jQuery('#Ruta').valid();
		if (isvalidate) {
			e.preventDefault();
			fnCargarArchivo();
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>