<div class="animated fadeIn">
	<form id="frmEditarDatosCliente" name="frmEditarDatosCliente" class="form-horizontal" role="form">
		<br/>
		<div class="admin-form">
				<div class="section row ">
					<label for="{{Indice}}" class="col-md-3 control-label">Teléfono</label>
					<div class="col-md-8 ">
						<label for="{{Indice}}" class="field prepend-icon has-error">
							<input type="text" name="{{Indice}}" id="{{Indice}}" class="form-control" placeholder="Teléfono" value="{{Dato}}" autocomplete="off"/>
							<label for="{{Indice}}" class="field-icon">
								<i class="fa fa-phone"></i>
							</label>
						</label>
						<label id="alerta" class="label label-danger"></label>
					</div>
				</div>
		</div>
		<br/>
		<input type="hidden" id="Key" name="Key" value="{{Key}}" />
		<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdDatoAgenda}}"/>
		<div class="text-right">
			<a href="#" onclick="javascript: fnCancelar();" class="btn btn-warning	">
				<span class="fa fa-times pr5"></span> Cancelar
			</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-primary" type="submit">
				<span class="glyphicons glyphicons-refresh pr5"></span> &nbsp; Actualizar Datos
			</button>
		</div>
	</form>
</div>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script>
	$(function() {
		jQuery("#{{Indice}}").focus();
		$("input").click(function(){
			var telefono = jQuery(this).val(); 
			if(telefono.length > 9){
				jQuery(this).val(telefono.substr(0, 9));
			}
			else if(isNaN(telefono)){
				jQuery(this).val(removeNonNumeric(telefono));
			}
		});
		$("input").on("change",function(){
			var telefono = jQuery(this).val(); 
			if(telefono.length > 9){
				jQuery(this).val(telefono.substr(0, 9));
			}
			else if(isNaN(telefono)){
				jQuery(this).val(removeNonNumeric(telefono));
			}
		});
		$("input").keyup(function(){
			var telefono = jQuery(this).val(); 
			if(telefono.length > 9){
				jQuery(this).val(telefono.substr(0, 9));
			}
			if(isNaN(telefono)){
				jQuery(this).val(removeNonNumeric(telefono));
			}
		});
	});

	function removeNonNumeric (testString) {
		var NumericString = testString.replace(/[^ 0-9]/g, '');
		return NumericString;
	}
</script>

<script>
	function fnCancelar(){
		fnGestionTelefonica('{{IdDatoAgenda}}', '{{Formulario}}');
		bootbox.hideAll();
	}
</script>

<script>
	$("#frmEditarDatosCliente").on('submit', function(e){
		var isvalidate = jQuery('#frmEditarDatosCliente').valid();
		if (isvalidate) {
			e.preventDefault();
			var telefono = jQuery("#{{Indice}}").val();
			if(jQuery("#{{Indice}}").val() != "" & ( telefono.length == 8 || telefono.length == 9) )
				fnActualizarDato();	
			else
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>

<script>
	function fnActualizarDato(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/ActualizarDato',
			data: jQuery('#frmEditarDatosCliente').serialize(),
			type: 'POST',
			success: function (data) {
				//jQuery("#AreContenido").html(data);
				bootbox.hideAll();
				fnGestionTelefonica('{{IdDatoAgenda}}', '{{Formulario}}');
				msjExito("El Telefono ha sido actualizado.");
			}
		});
	}
</script>
<script>
	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
</script>
