<div class="animated fadeIn">
	<form id="frmGestionTelefonica" name="frmGestionTelefonica" class="form-horizontal" role="form">
		<br/>
			<div class="form-group" id="Telefonos">
  				<label for="Telefono" class="col-lg-3 control-label">Teléfonos</label>
 					<div class="col-lg-8">
					    <span class="append-icon right">
					      <i class="" id="icono"></i>
					    </span>
					    <select class="form-control" id="Telefono" name="Telefono">
							<option value="nuevo">Seleccione Un Teléfono</option>
							{% for Valor in Telefonos %}
							<option value="{{Valor.Telefono}}" selected="" id="{{Valor.Indice}}">{{Valor.Telefono}}</option>
							{% endfor %}
						</select>
					</div>
			</div>
		<br/>
		<input type="hidden" id="Key" name="Key" value="{{Key}}" />
		<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdDatoAgenda}}"/>
		<div class="text-right">
			<span id="Capturar">
			</span>
			<button class="btn btn-primary" type="submit"><span class="glyphicons glyphicons-headset pr5"></span> &nbsp; Llamar al cliente</button>
		</div>
	</form>
</div>
{{ Scripts|raw }}
<script>
	jQuery("select[name=Telefono]").click(function(){
		var Telefono = jQuery("select[name=Telefono]").val();
		if(ValidaTelefono(Telefono)){
			jQuery(this).find('option').css('color', 'black');
			jQuery("#Telefonos").removeClass("has-error");
			jQuery("#icono").removeClass("fa fa-exclamation-triangle");
			jQuery("#Capturar").html("");
		}else{
			jQuery(this).find('option').css('color', 'black');
			jQuery(this).find('option:selected').css("color", "red");
			jQuery("#Telefonos").addClass("has-error");
			jQuery("#icono").addClass("fa fa-exclamation-triangle");
			if(Telefono == "nuevo"){
				msjAlerta('Capturar nuevo telefonos');
				jQuery("#Capturar").html('<a class="btn btn-success"'+ "href='javascript: fnActualizarTelefonos("+'"{{IdDatoAgenda}}",'+'"{{Formulario}}"'+"); bootbox.hideAll();'>Capturar</a>");
			}
			else{
				msjAlerta('El número no es correcto, vuelva a capturar los telefonos');
				jQuery("#Capturar").html('<a class="btn btn-success"'+ "href='javascript: fnActualizar("+'"{{IdDatoAgenda}}"'+"); bootbox.hideAll();'>Capturar</a>");
			}
		}
	});
	/* Llamar */
	function fnLlamar(){
		var Telefono = $('select[name=Telefono]').val();
  		if(ValidaTelefono(Telefono)){
  			jQuery("#Capturar").html("");
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/Marcacion',
				data: jQuery('#frmGestionTelefonica').serialize(),
				type: 'POST',
				async:true,
				cache:false,
				dataType:"html",
				error: function(){
					msjFallo('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
				},
				beforeSend: function() {
					bootbox.hideAll();
				},
				success: function(Response) {
					if(Response == 'Fallo'){
						msjError('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
					}
					if(Response == 'Error'){
						msjAlerta('La llamada no se pudo a completar.');
						//fnGetionarLlamada();
					}
					if(Response == 'Success'){
						fnGetionarLlamada(Telefono, '{{Formulario}}');
					}
				}
			});
		}
		else{
			msjAlerta('El número no es correcto, vuelva a capturar los telefonos');
			jQuery("#Capturar").html('<a class="btn btn-success"'+ "href='javascript: fnActualizar("+'"{{IdDatoAgenda}}",'+'"{{Formulario}}"'+"); bootbox.hideAll();'>Capturar</a>");
		}
	}

	/**
	 * [ValidaTelefono description]
	 * @param {[type]} Telefono [description]
	 */
	function ValidaTelefono(Telefono){
		if(!isNaN(parseFloat(Telefono)) && isFinite(Telefono)){
			var CantidadNumeros = Telefono.length;
			if(CantidadNumeros == 8 || CantidadNumeros == 9){
				return true;
			}
			else{
			    return false;
			}
		}
		else{
			return false;
		}
	}
</script>
<script>
	function msjAlerta(msj){
		var Mensaje = new PNotify({
			title: 'Alerta',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'info',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
	function msjFallo(msj){
		var Mensaje = new PNotify({
			title: 'Fallo',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
</script>
<script>
	function fnGetionarLlamada(Telefono, formulario){
			var Id = "{{IdDatoAgenda}}";
			jQuery.ajax({
			data: {'IdRegistro': Id, 'Telefono': Telefono, 'Formulario' : formulario},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmGestionarLlamada',
			beforeSend: function() {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function(data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#frmGestionTelefonica').on('submit', function(e){
		var isvalidate = jQuery('#frmGestionTelefonica').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnLlamar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#Telefono").val() == ''){
			error = false;
		}
		return error;
	}
</script>
<script>
	function fnActualizar(IdCliente, formulario){
		var indice = jQuery("select[name=Telefono]").find("option:selected").attr("id");
		jQuery.ajax({
			data: {IdDatoAgenda:IdCliente, Indice:indice, Formulario:formulario},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmModificaDato',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Información de Cliente"
				});
			}
		});
	}
	function fnActualizarTelefonos(IdCliente, formulario){
		jQuery.ajax({
			data: {IdDatoAgenda:IdCliente, Formulario:formulario},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmModificarTelefonos',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Telefonos Cliente"
				});
			}
		});
	}
</script>