<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="bs-component">
				<div class="alert alert-dark dark alert-dismissable">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
				  <i class="fa fa-cog pr10 hidden"></i>
				  <strong>No existen teléfonos!</strong> <p>Para continuar con el proceso debe capturar al menos un teléfono.</p>
				  <br />
				  <a class="btn btn-dark" href='javascript: fnActualizar("{{IdDatoAgenda}}"); bootbox.hideAll();'>Capturar</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function fnActualizar(IdCliente){
		jQuery.ajax({
			data: {IdDatoAgenda: IdCliente},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmActualizarDatosCliente',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Información de Cliente"
				});
			}
		});
	}
</script>