<header id="topbar" class="ph10">
	<div class="topbar-left">
	</div>
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</header>

<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-10 admin-grid">
				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Edicion de Registros</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_0" data-toggle="tab">General</a>
							</li>
							<li>
								<a href="#tab1_1" data-toggle="tab">Datos del Titular</a>
							</li>
							<li>
								<a href="#tab1_2" data-toggle="tab">Datos de Aval</a>
							</li>
							<li>
								<a href="#tab1_3" data-toggle="tab">Datos de Montos</a>
							</li>
							<li>
								<a href="#tab1_4" data-toggle="tab">Teléfonos</a>
							</li>
						</ul>
					</div>
					
					{% for Valor in Consulta %}
					<form id="frmEditarAgenda" name="frmEditarAgenda">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_0" class="tab-pane active">
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdGerencia" name="IdGerencia">
												<option value="" selected="true" >{{Valor.Gerencia}}</option>
											</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdCartera" name="IdCartera">
												<option value="">{{Valor.Cartera}}</option>
											</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="ClienteUnico" class="field prepend-icon">
												<input type="text" name="ClienteUnico" id="ClienteUnico" class="gui-input" placeholder="Cliente Único" value="{{Valor.ClienteUnico}}" readonly="true"/>
												<label for="ClienteUnico" class="field-icon">
													<i class="fa fa-file-text-o"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdCodigo" name="IdCodigo" readonly="off">
												{% for Codigo in Codigos %}
													{% if Valor.IdCodigo == Codigo.IdCodigo %}
														<option value="{{Codigo.IdCodigo}}"selected="">{{Codigo.Codigo}} {{Codigo.Descripcion}}</option>
													{% endif %}
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div id="tab1_1" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="NombreTitular" class="field prepend-icon">
												<input type="text" name="NombreTitular" id="NombreTitular" class="gui-input" placeholder="Nombre Completo" value="{{Valor.NombreTitular}}" readonly="true"/>
												<label for="NombreTitular" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
          									<label for="DomicilioContractual" class="field prepend-icon">
								  				<textarea class="gui-textarea" id="DomicilioContractual" name="DomicilioContractual" placeholder="Domicilio Contractual">{{Valor.DomicilioContractual}}</textarea>
								  				<label for="DomicilioContractual" class="field-icon">
									 				<i class="fa fa-building"></i>
		  										</label>
              								</label>
                						</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdProvincia" name="IdProvincia">
												<option value="">{{Valor.Provincia}}</option>
											</select>
         								</div>												
									</div>
									<div class="section row">
										<div class="col-md-8">
											<div id="Distrito">
												<select class="form-control" id="IdDistrito" name="IdDistrito">
													<option value="">{{Valor.Distrito}}</option>						
												</select>
											</div>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="NombreAval" class="field prepend-icon">
												<input type="text" name="NombreAval" id="NombreAval" class="gui-input" placeholder="Nombre del Aval" value="{{Valor.NombreAval}}" readonly="true"/>
												<label for="NombreAval" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
					                      <label for="DomicilioAval" class="field prepend-icon">
					                        <textarea class="gui-textarea" id="DomicilioAval" name="DomicilioAval" placeholder="Domicilio del Aval" readonly="true">{{Valor.DomicilioAval}}</textarea>
											  <label for="DomicilioAval" class="field-icon">
												  <i class="fa fa-building"></i>
											  </label>
					                      </label>
					                    </div>
									</div>
									<div class="section row">
										<div class="col-md-8">
					                      <label for="DistritoAval" class="field prepend-icon">
					                        <textarea class="gui-textarea" id="DistritoAval" name="DistritoAval" placeholder="Distrito del Aval" readonly="true">{{Valor.DistritoAval}}</textarea>
											  <label for="DistritoAval" class="field-icon">
												  <i class="fa fa-map-marker"></i>
											  </label>
					                      </label>
					                    </div>
									</div>
								</div>
								<div id="tab1_3" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="SemanaAtraso" class="field prepend-icon">
												<input type="text" name="SemanaAtraso" id="SemanaAtraso" class="gui-input" placeholder="Semana de Atraso" value="{{Valor.SemanaAtraso}}" readonly="true"/>
												<label for="SemanaAtraso" class="field-icon">
													<i class="fa fa-sun-o"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="Saldo" class="field prepend-icon">
												<input type="text" name="Saldo" id="Saldo" class="gui-input" placeholder="Saldo" value="{{Valor.Saldo}}" readonly="true"/>
												<label for="Saldo" class="field-icon">
													<i class="fa fa-money"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="SaldoTotal" class="field prepend-icon">
												<input type="text" name="SaldoTotal" id="SaldoTotal" class="gui-input" placeholder="Saldo Total" value="{{Valor.SaldoTotal}}" readonly="true"/>
												<label for="SaldoTotal" class="field-icon">
													<i class="fa fa-money"></i>
												</label>
											</label>
										</div>
									</div>	
								</div>
								<div id="tab1_4" class="tab-pane">									
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono1" class="field prepend-icon">
													<input type="text" name="Telefono1" id="Telefono1" class="gui-input" placeholder="Teléfono Contacto 1" value="{{Valor.Telefono1}}" autocomplete="off"/>
													<label for="Telefono1" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono2" class="field prepend-icon">
													<input type="text" name="Telefono2" id="Telefono2" class="gui-input" placeholder="Teléfono Contacto 2" value="{{Valor.Telefono2}}" autocomplete="off"/>
													<label for="Telefono2" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono3" class="field prepend-icon">
													<input type="text" name="Telefono3" id="Telefono3" class="gui-input" placeholder="Teléfono Contacto 3" value="{{Valor.Telefono3}}" autocomplete="off"/>
													<label for="Telefono3" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono4" class="field prepend-icon">
													<input type="text" name="Telefono4" id="Telefono4" class="gui-input" placeholder="Teléfono Contacto 4" value="{{Valor.Telefono4}}" autocomplete="off"/>
													<label for="Telefono4" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
								</div>
								<hr class="short alt"/>
									<div class="section row mbn">
										<div class="col-sm-8">
											<label class="switch block mt15">
												{% if Valor.StatusRegistro == "ACTIVO" %}
												<input type="checkbox" name="StatusRegistro" id="StatusRegistro"  checked="" disabled=""/>
												{% else %}
												<input type="checkbox" name="StatusRegistro" id="StatusRegistro" disabled="" />
												{% endif %}
												<label for="StatusRegistro" ></label>
												<span>Registro Activo</span>
											</label>
										</div>

									</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="IdRegistro" name="IdRegistro" value="{{IdRegistro}}" />
							<hr class="short alt"/>
				 			<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Editar Información Del Cliente</button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/fileupload/fileupload.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/jquery.maskMoney.js"></script>
<script>
	$(function() {
		jQuery("#Saldo").maskMoney({prefix:'S/.', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});
		jQuery("#SaldoTotal").maskMoney({prefix:'S/.', allowNegative: true, thousands:'.', decimal:',', affixesStay: false});		
		jQuery("#NombreTitular").focus();
		jQuery("#Telefono1").mask("99999999?9");
		jQuery("#Telefono2").mask("99999999?9");
		jQuery("#Telefono3").mask("99999999?9");
		jQuery("#Telefono4").mask("99999999?9");
	});
</script>
{{Scripts|raw}}

<script>
	/* Guardar */
	function fnEditar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/AgendaTelefonica/Actualizar',
			data: jQuery('#frmEditarAgenda').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				//jQuery("#AreContenido").html(data);
				fnListado();
			}
		});
	}
</script>
<script>
	jQuery('#IdProvincia').change(function () {
		var numero =document.getElementById("IdProvincia").value;
		var to=document.getElementById("Distrito");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Agente/AgendaTelefonica/Distritos",
			data: 'IdProvincia='+numero,
			success: function(data) {
				jQuery('#Distrito').html(data);
			}
		});
	});

</script>
<script>
	jQuery('#frmEditarAgenda').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarAgenda').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnEditar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
	
		if(jQuery("#DomicilioContractual").val() == ''){
			error = false;
		}
		return error;
	}
</script>