<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="bs-component">
				<div class="alert alert-info alert-dismissable mb30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h3 class="mt5">Error!</h3>
					<p>Puede faltar información en la base de datos, asegurese de que se han registrado Gerencias, Carteras, Provincias, Distritos o Clientes, para continuar con el proceso.</p>
					<br/>
					<p>
						<a class="btn btn-info" href="#" onclick="javascript: fnListado();">Regresar</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>