<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Historial de carga de Archivos</div>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th class="text-center">Número de Registro</th>
							<th class="text-center">Archivo</th>
							<th class="text-center">Fecha y hora de Carga</th>
							<th class="text-center">Status</th>
							<th class="text-center">Acciones</th>
						</tr>
						</thead>
						<tbody>
						{% set Contador = 0 %}
						{% for Valor in Consulta %}
							{% set Contador = Contador + 1 %}
						<tr>
							<td class="text-center">{{Contador}}</td>
							<td class="text-center">{{Valor.NombreArchivo|Archivo}}</td>
							<td class="text-center">{{Valor.FechaHoraCarga}}</td>
							<td class="text-center">
								{% if Valor.Status == "ENPROCESO" %}
								<span class="label label-info">EN PROCESO</span></td>
								{% endif %}
								{% if Valor.Status == "ERROR" or Valor.Status == "CANCELADO"%}
								<span class="label label-danger">{{Valor.Status}}</span></td>
								{% endif %}
								{% if Valor.Status == "TERMINADO"%}
								<span class="label label-success">{{Valor.Status}}</span></td>
								{% endif %}
							<td class="text-center">
								{% if Valor.Status != "CANCELADO"%}
								{% if Valor.Status == "TERMINADO" or Valor.Status == "ERROR"%}
									<a class="btn btn-rounded icon-only" href="{{NeuralRutaWebPublico}}/Log/{{Valor.ArchivoLog}}"><i class="fa fa-download"></i></a>
								{% else %}
								<a class="btn btn-default btn-xs shiny icon-only yellow" href='javascript: frmEditar("{{Valor.IdArchivosProgramados|Cifrado}}");'><i class="fa fa-pencil-square-o"></i></a>
								<a class="btn btn-default btn-xs shiny icon-only danger" href='javascript: fnEliminarRegistro("{{Valor.IdArchivosProgramados|Cifrado}}");'><i class="fa fa-times"></i></a>
								{% endif %}
								{% endif %}
							</td>
						</tr>
						{% endfor %} 
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {

		// Init DataTables
		$('#datatable2').dataTable({
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>
