<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>




<style>
	.my-custom-class .modal-dialog{
		width:95%;
	}
</style>

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>
 
<script>

	/* Agregar Nuevo Registro */
	function frmAsignarCarga(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/CargaLaboral/frmAsignarCargaLaboral',
			type: 'POST',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}

	/* Listado de Registros*/
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/CargaLaboral/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	/* Editar Registro */
	function frmEditar(ide){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Cartera/frmEditar',
			type: 'POST',
			dataType: 'html',
			data: {Id : ide},
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	/* Eliminar Registro */
	function fnEliminarRegistro(ide){
		swal({
					title: "¿Desea eliminar?",
					text: "El registro, sera eliminado completamente.",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Si, Acepto!",
					cancelButtonText: "No, Cancelar!",
					closeOnConfirm: false
				},
				function(isConfirm){
					if (isConfirm) {
						jQuery.ajax({
							url: '{{NeuralRutaApp}}/Supervisor/Cartera/Eliminar',
							type: 'POST',
							dataType: 'html',
							data: {Id : ide},
							beforeSend: function () {
								jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
							},
							success: function (data) {
								fnListado();
								//jQuery("#AreContenido").html(data);
							}
						});
						swal("¡Eliminado!", "Su registro ha sido eliminado.", "success");
					}
				});
	}
	
	function fnVerClientes(ID){
		jQuery.ajax({
			data: {IdAgente: ID},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Supervisor/CargaLaboral/VerClientesAsignados',
			success: function(data) {
				bootbox.dialog({
					message: data,
					className : "my-custom-class",
					title: "Clientes Asignados"
				});
			}
		});
	}

	fnListado();
</script>