<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>
 <section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
	              <span class="panel-title">
	                <span class="fa fa-table"></span>Lista de Clientes</span>
	            </div>
	            
				<div class="panel-body">
					<table class="table table-condensed table-hover" id="datatableclientes">
					  <thead>
					    <tr>
					    	<th data-column-id="ClienteUnico" data-sortable="false">Cliente Único</th>
							<th data-column-id="NombreTitular" data-width="200px" data-sortable="false">Nombre Titular</th>
							<th data-column-id="DomcilioContractual">Domicilio</th>
							<th data-column-id="Gerencia">Gerencia</th>
					      	<th data-column-id="Cartera">Cartera</th>
					      	<th data-column-id="Distrito">Distrito</th>
					      	<th data-column-id="Provincia">Provincia</th>
							<th data-column-id="SemanaAtraso" data-align="center" data-header-align="center" data-sortable="false">Semana de Atraso</th>
							<th data-column-id="Saldo" data-sortable="false">Saldo</th>
							<th data-column-id="SaldoTotal" data-align="center" data-header-align="center" data-sortable="false">Saldo Total</th>
					    </tr>
					  </thead>
					</table>
				</div>
			</div>
			<div class="row">
				<input id="IdAgente" name="IdAgente" value="{{IdAgente}}" type="hidden"/>
				<input id="TotalRegistros" name="TotalRegistros" value="{{TotalRegistros}}" type="hidden">
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			var grid = $("#datatableclientes").bootgrid({
			    ajax: true,
			    post: function ()
			    { 
			        return {
			            TotalRegistros: $("#TotalRegistros").val(),
			            IdAgente: $("#IdAgente").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Supervisor/CargaLaboral/VerClientesAsignadosPagina",
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
	});
</script>