<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Nuevo Cliente</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Datos de la Empresa</a>
							</li>
							<li>
								<a href="#tab1_2" data-toggle="tab">Datos del Contacto</a>
							</li>
							<li>
								<a href="#tab1_3" data-toggle="tab">Datos De La Cuenta</a>
							</li>
						</ul>
					</div>

					{% for Valor in Consulta %}
					<form id="frmEditarCliente" name="frmEditarCliente">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									<div class="section row">
										<div class="col-md-10">
											<label for="RUC" class="field prepend-icon">
												<input type="text" name="RUC" id="RUC" class="gui-input" placeholder="RUC" value="{{Valor.RUC}}"  autocomplete="off"/>
												<label for="RUC" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-10">
											<label for="RazonSocial" class="field prepend-icon">
												<input type="text" name="RazonSocial" id="RazonSocial" class="gui-input" placeholder="Razón Social" value="{{Valor.RazonSocial}}" autocomplete="off"/>
												<label for="Razon Social" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-10">
											<label for="Direccion" class="field prepend-icon">
												<textarea class="form-control textarea-grow" id="Direccion" name="Direccion" rows="4" placeholder="Dirección" >{{Valor.Direccion}}</textarea>
												  <label for="Direccion" class="field-icon">
													  <i class="fa fa-map-marker"></i>
												  </label>
										  	</label>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-4">
											<label for="Nombres" class="field prepend-icon">
												<input type="text" name="Nombres" id="Nombres" class="gui-input" placeholder="Nombre(s)" value="{{Valor.Nombres}}" autocomplete="off"/>
												<label for="Nombres" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoPaterno" class="field prepend-icon">
												<input type="text" name="ApellidoPaterno" id="ApellidoPaterno" class="gui-input" placeholder="Apellido Paterno" value="{{Valor.ApellidoPaterno}}" autocomplete="off">
												<label for="ApellidoPaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoMaterno" class="field prepend-icon">
												<input type="text" name="ApellidoMaterno" id="ApellidoMaterno" class="gui-input" placeholder="Apellido Materno" value="{{Valor.ApellidoMaterno}}" autocomplete="off">
												<label for="ApellidoMaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

									</div>

									<div class="section row mbn">
										<div class="col-md-12 pl15">
											<div class="section mb10">
												<label for="Cargo" class="field prepend-icon">
													<input type="text" name="Cargo" id="Cargo" class="event-name gui-input br-light light" placeholder="Cargo" value="{{Valor.Cargo}}" autocomplete="off">
													<label for="Cargo" class="field-icon">
														<i class="fa fa-truck"></i>
													</label>
												</label>
											</div>

											<div class="section row">
												<div class="col-md-6">
													<label for="TelefonoCasa" class="field prepend-icon">
														<input type="text" name="TelefonoCasa" id="TelefonoCasa" class="gui-input" placeholder="Teléfono Fijo" value="{{Valor.TelefonoCasa}}" autocomplete="off">
														<label for="TelefonoCasa" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>

												<div class="col-md-6">
													<label for="TelefonoMovil" class="field prepend-icon">
														<input type="text" name="TelefonoMovil" id="TelefonoMovil" class="gui-input" placeholder="Teléfono Móvil" value="{{Valor.TelefonoMovil}}" autocomplete="off">
														<label for="TelefonoMovil" class="field-icon">
															<i class="fa fa-mobile"></i>
														</label>
													</label>
												</div>

											</div>
											<div class="section row">
												<div class="col-md-12">
													<label for="Correo" class="field prepend-icon">
														<input type="text" name="Correo" id="Correo" class="event-name gui-input br-light light" placeholder="Correo Electrónico" value="{{Valor.Correo}}" autocomplete="off">
														<label for="Correo" class="field-icon">
															<i class="fa fa-envelope"></i>
														</label>
													</label>
												</div>
											</div>
											<div class="section row">
												<div class="col-md-12">
													<select class="form-control" id="IdProvincia" name="IdProvincia">
														<option value="">Selecciona una Provincia</option>
														{% for Provincia in Provincias %}
															{% if Valor.IdProvincia == Provincia.IdProvincia %}
																<option value="{{Provincia.IdProvincia}}" selected="">{{Provincia.Descripcion}}</option>
															{% else %}
																<option value="{{Provincia.IdProvincia}}">{{Provincia.Descripcion}}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tab1_3" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="Usuario" class="field prepend-icon">
												<input type="text" name="Usuario" id="Usuario" class="gui-input" placeholder="Usuario" value="{{Valor.Usuario}}" readonly="true" autocomplete="off">
												<label for="Usuario" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="Password" class="field prepend-icon">
												<input type="password" name="Password" id="Password" class="gui-input" placeholder="Contraseña" autocomplete="off">
												<label for="Password" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="RepitePassword" class="field prepend-icon">
												<input type="password" name="RepitePassword" id="RepitePassword" class="gui-input" placeholder="Repetir Contraseña">
												<label for="RepitePassword" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<hr class="short alt">
									<div class="section row mbn">
										<div class="col-sm-8">
											<label class="switch block mt15">
												{% if Valor.Status == "ACTIVO" %}
												<input type="checkbox" name="Status" id="Status" value="ACTIVO" checked="">
												<label for="Status" data-on="SI" data-off="NO"></label>
												{% else %}
												<input type="checkbox" name="Status" value="ACTIVO" id="Status">
												<label for="Status" data-on="SI" data-off="NO"></label>
												{% endif %}
												<span>Usuario Activo</span>
											</label>
										</div>

									</div>

								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="IdUsuario" name="IdUsuario" value="{{IdUsuario}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Modificar Información del Cliente</button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/fileupload/fileupload.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script>
	jQuery(function($){
		jQuery("#Nombres").focus();
		jQuery("#TelefonoCasa").mask("(99) 99999999");
		jQuery("#TelefonoMovil").mask("(99) 999999999");
	});
</script>
{{Scripts|raw}}

<script>
	/* Actualizar */
	function fnActualizar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Cliente/Actualizar',
			data: jQuery('#frmEditarCliente').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}
</script>
<script>
	jQuery('#frmEditarCliente').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarCliente').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnActualizar();
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#RazonSocial").val() == ''){
			error = false;
		}
		if(jQuery("#Correo").val() == ''){
			error = false;
		}
		return error;
	}
</script>
