<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>

<script>
	/* Listado */
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/MonitorAgentes/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	function fnMonitor(ide){
		jQuery.ajax({
  			url: '{{NeuralRutaApp}}/Supervisor/MonitorAgentes/Monitor',
		   	data: {Id: ide},
		   	type: 'POST',
		   	asynch: true,
		   	success: function(data){
		   		var respuesta = JSON.parse(data);

		   		if(respuesta['Respuesta'] != null && respuesta['Respuesta'] != '' && respuesta['Respuesta'] == 'Success'){
		   			msjExito(respuesta['Respuesta']);
		   			bootbox.dialog({
						message:  '<div class="alert alert-success alert-dismissable">'+
								  '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
								  '<i class="glyphicon glyphicon-earphone"></i>'+
								  '<strong>' + respuesta['Respuesta'] + '! </strong> Escuchando a '+respuesta['Agente'] + '....</div>',
						title: "Monitoreo de Agentes"
					});
		   		}else{
				   if( respuesta['Respuesta'] == 'Error' ){
				  		msjError( respuesta['Respuesta'])
					    bootbox.dialog({
					         message: '<div class="alert alert-danger alert-dismissable">'+
										  '<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+
										  '<i class="fa fa-remove pr10"></i>'+
										  '<strong>' + respuesta["Respuesta"] + '! </strong> No se pudo monitorear la llamada, intente de nuevo.</div>',
					         title: "Monitoreo de Agentes"
					    });
				   }
				}
		   	}
   		});
	}

	fnListado();

	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			delay: 1400
		});
	}

	function msjError(msj){
		var Mensaje = new PNotify({
			title: 'Error',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			delay: 1400
		});
	}
</script>

