 <section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">
					{% for Valor in FechasImportes%}
					<div class="section row">
						<div class="col-md-1"></div>
						<label class="col-lg-2 control-label"> Fecha </label>
						<div class="col-lg-3">
							<p>{{Valor.Fecha}}</p>
						</div>
						<label class="col-lg-2 control-label"> Importe </label>
						<div class="col-lg-3">
							<p>S/.{{Valor.Importe|Formato_Moneda}}</p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>