<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/colorpicker/css/bootstrap-colorpicker.min.css">

<header id="topbar" class="ph10">
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-8 admin-grid">
				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Editar informacion de Código</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">General</a>
							</li>
						</ul>
					</div>
					<form id="frmEditarCodigos" name="frmEditarCodigos">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									<div class="section row">
										<div class="col-md-1"></div>
										<div class="col-md-2">
											<label for="Codigo" class="field prepend-icon">
												<input type="text" name="Codigo" id="Codigo" class="gui-input" placeholder="Código" autocomplete="off"value="{{Consulta.Codigo}}"/>
												<label for="Codigo" class="field-icon">
													<i class="fa fa-barcode"></i>
												</label>
											</label>
										</div>
										<div class="col-md-6">
											<label for="Descripcion" class="field prepend-icon">
												<input type="text" name="Descripcion" id="Descripcion" class="gui-input" placeholder="Descripcion" autocomplete="off" value="{{ Consulta.Descripcion}}"/>
												<label for="Descripcion" class="field-icon">
													<i class="fa fa-pencil-square"></i>
												</label>
											</label>
										</div>
											<div class="col-md-3">
											<div class="form-group">
							                    <div class="col-md-10">
							                      <div class="input-group colorpicker-component demo demo-auto cursor">
							                        <span class="input-group-addon">
							                          <i></i>
							                        </span>
							                        <input type="text" id="Color" name="Color"class="form-control" placeholder="Color" value="{{Consulta.Color}}"/>
							                      </div>
							                    </div>
           									</div>
										</div>	
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="IdCodigo" name="IdCodigo" value="{{IdCodigo}}"/>
							<hr class="short alt">
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Modificaciones</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{{Scripts|raw}}
 <!-- BS Colorpicker Plugin -->
 <script src="{{NeuralRutaWebPublico}}/vendor/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
<script>
		$(function() {
			 $('.demo-auto').colorpicker({
			 	color:"{{Consulta.Color}}",
			 	onShow: function (colpkr) {
					this.ColorPickerSetColor("{{Consulta.Color}}");
				},
			 });				 
		});
</script>
<script>
	/* Editar */
	function fnEditar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/CodigosGestion/Editar',
			data: jQuery('#frmEditarCodigos').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				fnListado();
			}
		});
	}
</script>
<script>
	jQuery('#frmEditarCodigos').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarCodigos').valid();
		if (isvalidate) {
			e.preventDefault();
			fnEditar();	
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>