<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>


<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>
 
<script>

	/* Listado */
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/AsignacionTroncales/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	fnListado();
</script>