<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="bs-component">
				<div class="alert alert-info alert-dismissable mb30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h3 class="mt5">No se econtraron resultados!</h3>
					<p>Ningún registro cumple con los criterios de Búsqueda o aún no existen datos. Intente una nueva búsqueda.</p>
					<br/>
				</div>
			</div>
		</div>
	</div>
</section>