<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-6 admin-grid">
				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Programar una fecha de carga de archivo</span>
					</div>
					<form id="frmAgregarArchivo" name="frmAgregarArchivo">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div class="section row">
									<div class="col-md-2"></div>
										<div class="col-md-8">
											<label for="FechaHoraCarga" class="field prepend-icon">
												<input type="text" name="FechaHoraCarga" id="FechaHoraCarga" class="gui-input" placeholder="Fecha y hora de Carga de Archivo" autocomplete="off"/>
												<label for="FechaHoraCarga" class="field-icon">
													<i class="fa fa-calendar"></i>
												</label>
											</label>
										</div>
									</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="Ruta" name="Ruta" value="{{ruta}}" />
							<input type="hidden" id="Extension" name="Extension" value="{{extension}}" />
							<input type="hidden" id="Nombre" name="Nombre" value="{{nombre}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Programar </button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/moment/moment.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
  <script>
	  jQuery.datepicker.regional['es'] = {
		  closeText: 'Cerrar',
		  prevText: '<Ant',
		  nextText: 'Sig>',
		  currentText: 'Hoy',
		  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		  weekHeader: 'Sm',
		  dateFormat: 'dd/mm/yy',
		  firstDay: 1,
		  isRTL: false,
		  showMonthAfterYear: false,
		  yearSuffix: ''
	  };
	  jQuery.datepicker.setDefaults($.datepicker.regional['es']);
  </script>
<script>
$(document).ready(function(){
	$("#FechaHoraCarga").datetimepicker({
		closeText: "Cerrar",
		currentText: "Hoy",
		timeText: "HORA",
		hourText: "Horas",
		minuteText: "Minutos",
		minDate: "0D"
	});
})
</script>
<script>
	function fnCargarArchivo(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ImportarRegistros/CargarArchivo',
			data: jQuery("#frmAgregarArchivo").serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmAgregarArchivo').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarArchivo').valid();
		if (isvalidate) {
			e.preventDefault();
			fnCargarArchivo();	
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>