<style>
	#timeline .timeline-divider .divider-label {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    border: 1px solid #DDD;
    color: #777;
    font-weight: 600;
    background: #FFF;
}
</style>
	  <section id="content" class="animated fadeIn">
        <div id="timeline" class="mt30">
          <div class="timeline-divider mtn">
            <div class="divider-label">{{DatosCliente.ClienteUnico}} - {{DatosCliente.NombreTitular}}</div>
            <div class="pull-right">
              <button id="timeline-toggle" class="btn btn-default btn-sm">
                <span class="ad ad-lines fs16 lh20"></span>
              </button>
            </div>
          </div>
          <div class="row">
          	{% set Contador = 0 %}
          	{% for Columnas in Gestiones %}
          	{% set Valor = ParImpar(Contador) %}
          	{% set Contador = Contador + 1 %}
          	{% if Valor == 0 %}
            <div class="col-sm-6 left-column">
              <div class="timeline-item">
                <div class="timeline-icon">
                  <span class="glyphicon glyphicon-user text-primary"></span>
                </div>
                <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="glyphicon glyphicon-comment"></span> {{Columnas.Nombres}} {{Columnas.ApellidoPaterno}} </span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12"> {{Columnas.FechaHora_Captura}}</div>
                  </div>
                  <div class="panel-body">
                  	<div class="section row">
                  		<label class="col-lg-4 control-label"> Tipo de Gestión </label>
                  		{% if Columnas.IdGestionCampo %}
                  		<span class="label label-rounded label-system">Campo</span>
                  		{% elseif Columnas.IdGestionManual %}
                  		<span class="label label-rounded label-alert">Manual</span>
                  		{% else %}
                  		<span class="label label-rounded label-info">Telefónica</span>
                  		{% endif %}
	   				</div>
                    <div class="section row">
						<label class="col-lg-4 control-label"> Compromiso de Pago </label>
						{% if Columnas.IdGestionCampo %}
						  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.IdGestionCampo|Cifrado}}", "CAMPO");'>Ver Fechas</a>
				  		{% elseif Columnas.IdGestionManual%}
			  			  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.IdGestionManual|Cifrado}}", "MANUAL");'>Ver Fechas</a>
				  		{% else %}
				  		  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.idGestionTelefonica|Cifrado}}", "TELEFONICA");'>Ver Fechas</a>
	  		  			{% endif %}
			 		</div>
					{% if Columnas.Grabacion %} 
			 		<div class="section row">
			 			<label class="col-lg-4 control-label"> Gabación </label>
			 			{% if Columnas.Grabacion == "SI" %}
    			 		  <a class="label label-system" href='javascript: fnVerGrabacion({{Columnas.uniqueid}});'>Escuchar Grabación</a>
 		                {% else %}
     	  				  <a class="label label-danger">No hay Grabación</a>
   	  				    {% endif %}
		 			</div>
		 			{% endif %}
			 		<br />
                    <div class="section row">
  		 				<label class="col-lg-3 control-label"> Observaciones </label>
      					<div class="col-lg-8">
			           		<p>{{Columnas.Observaciones}}</p>
              			</div>
	 				</div>
                  </div>
                  <div class="panel-footer p15">
                    <div class="admin-form">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div class="col-sm-6 right-column">
          	 <div class="timeline-item">
                <div class="timeline-icon">
                  <span class="glyphicon glyphicon-user text-primary"></span>
                </div>
               <div class="panel">
                  <div class="panel-heading">
                    <span class="panel-title">
                      <span class="glyphicon glyphicon-comment"></span> {{Columnas.Nombres}} {{Columnas.ApellidoPaterno}} </span>
                    <div class="panel-header-menu pull-right mr10 text-muted fs12"> {{Columnas.FechaHora_Captura}}</div>
                  </div>
                  <div class="panel-body">
                  <div class="section row">
                  		<label class="col-lg-4 control-label"> Tipo de Gestión </label>
                  		{% if Columnas.IdGestionCampo %}
                  		<span class="label label-rounded label-system">Campo</span>
	            		{% elseif Columnas.IdGestionManual %}
                  		<span class="label label-rounded label-alert">Manual</span>
                  		{% else %}
                  		<span class="label label-rounded label-info">Telefónica</span>
                  		{% endif %}
	   				</div>
                  	<div class="section row">
						<label class="col-lg-4 control-label"> Compromiso de Pago </label>
						{% if Columnas.IdGestionCampo %}
						  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.IdGestionCampo|Cifrado}}", "CAMPO");'>Ver Fechas</a>
			  			{% elseif Columnas.IdGestionManual%}
			  			  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.IdGestionManual|Cifrado}}", "MANUAL");'>Ver Fechas</a>
					    {% else %}
				  		  <a class="label label-success" href='javascript: fnVerFechas("{{Columnas.idGestionTelefonica|Cifrado}}", "TELEFONICA");'>Ver Fechas</a>
	  		  			{% endif %}
			 		</div>
		 			{% if Columnas.Grabacion %} 
			 		<div class="section row">
			 			<label class="col-lg-4 control-label"> Gabación </label>
			 			{% if Columnas.Grabacion == "SI" %}
    			 		  <a class="label label-system" href='javascript: fnVerGrabacion({{Columnas.uniqueid}});'>Escuchar Grabación</a>
 		                {% else %}
     	  				  <a class="label label-danger">No hay Grabación</a>
   	  				    {% endif %}
		 			</div>
		 			{% endif %}
			 		<br />
                    <div class="section row">
  		 				<label class="col-lg-3 control-label"> Observaciones </label>
      					<div class="col-lg-8">
			           		<p>{{Columnas.Observaciones}}</p>
              			</div>
	 				</div>
                  </div>
                  <div class="panel-footer p15">
                    <div class="admin-form">
                    </div>
                  </div>
                </div>
              </div>              
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </section>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/holder/holder.min.js"></script>
<script>
	jQuery(document).ready(function(){
		 // Toggle single item timeline style
	    $('#timeline-toggle').on('click', function() {
	      $('#timeline').toggleClass('timeline-single');
	      Holder.run();
	    });	
	});
</script>

<script>
	function fnVerFechas(Id, Tipo){
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/LineaTiempo/VerDetalleCompormiso",
			data: {IdGestion : Id, TipoGestion : Tipo},
			success: function(data) {
				bootbox.dialog({
				message: data,
				title: "Detalles de Gestión"
				});
			}
		});
	}
</script>
<script>
	function fnVerGrabacion(uniqueId){
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/LineaTiempo/VerGrabacion",
			data: {uniqueid : uniqueId},
			success: function(data) {
				bootbox.dialog({
				message: data,
				title: "Audio Grabación"
				});
			}
		});
	}
</script>
