<select class="form-control" id="IdAgente4" name="IdAgente4">
	<option value="">Selecciona Agente a Asignar</option>
	{% for Valor in Agentes%}
	<option value="{{Valor.IdAgente}}">{{Valor.Nombres}} {{Valor.ApellidoPaterno}} {{Valor.ApellidoMaterno}}</option>
	{% endfor %}
</select>