<div class="admin-form ">
	<div class="panel heading-border ">
 		<div class="panel-body bg-light">
			<form method="POST" id="frmAsignarCargaAgente" name="frmAsignarCargaAgente">
				<div class="section row">
					<div class="section-divider mb40" id="spy1">
						<span>Registros Encontrados # {{ CantidadRegistros }}</span>
					</div>
				</div>
				<div class="section row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<span>Número de Registros a Asignar</span>
						<br/><br/>
						<input type="text" id="TotalRegistrosAsignar" name="TotalRegistrosAsignar" class="slider-countbox" readonly="" value="1"/>
						<div class="slider-wrapper slider-primary">
							<div id="slider1"></div>
						</div>
						<br/><br/>
	                    	<label for="NumAgentes" class="col-lg-4 control-label">Número de Agentes</label>
                    		<select class="form-control" id="NumAgentes" name="NumAgentes">
								<option value="">Selecciona el número de Agentes</option>
								<option value="1"> 1 </option>
								<option value="2"> 2 </option>
								<option value="3"> 3 </option>
								<option value="4"> 4 </option>
								<option value="5"> 5 </option>
							</select>
					</div>
				</div>
				<div class="section row">
					<div class="col-md-1"></div>
					<div class="col-md-10" id="Principal">
						<div id="Agente1">
						<select class="form-control" id="IdAgente" name="IdAgente">
							<option value="">Selecciona Agente a Asignar</option>
							{% for Valor in Agentes%}
							<option value="{{Valor.IdAgente}}">{{Valor.Nombres}} {{Valor.ApellidoPaterno}} {{Valor.ApellidoMaterno}}</option>
							{% endfor %}
						</select>
						</div>
						<br />
						<div id="Agente2">
							<select class="form-control" id="IdAgente2" name="IdAgente2">
								<option value="">Selecciona Agente a Asignar</option>
							</select>
						</div>
						<br />
						<div id="Agente3">
							<select class="form-control" id="IdAgente3" name="IdAgente3">
								<option value="">Selecciona Agente a Asignar</option>
							</select>
						</div>
						<br />
						<div id="Agente4">
							<select class="form-control" id="IdAgente4" name="IdAgente4">
								<option value="">Selecciona Agente a Asignar</option>
							</select>
						</div>
						<br />
						<div id="Agente5">
							<select class="form-control" id="IdAgente5" name="IdAgente5">
								<option value="">Selecciona Agente a Asignar</option>
							</select>
						</div>
					</div>
				</div>
				<input type="hidden" id="Key" name="Key" value="{{Key}}" />
				<input type="hidden" id="ArregloRegistros" name="ArregloRegistros" value="{{Consulta}}"/>
				<hr class="short alt"/>
				<div class="section row">
					<div class="col-md-12">
						<div class="text-right">
							<button class="btn btn-system" type="submit"><span class="fa fa-user pr5"></span> Asignar Carga Laboral Al Agente</button>
						</div>
					</div>
				</div>
			</form>
 		</div>
	</div>
</div>
{{Scripts|raw}}
<script>
	jQuery(document).ready(function() {
		 $("#slider1").slider({
	      range: "min",
	      min: 1,
	      max: {{CantidadRegistros}},
	      value: 1,
	      slide: function(event, ui) {
        $(".slider-countbox").val(ui.value);
      }
    });
	$("#Agente1").hide();
	$("#Agente2").hide();
	$("#Agente3").hide();
	$("#Agente4").hide();
	$("#Agente5").hide();
   });
</script>

<script>
	/* AsignarCarga a Agente*/
	function fnAsignarCargaAgente(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/CargaLaboral/AsignarCargaAgente',
			data: jQuery('#frmAsignarCargaAgente').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaAsignacionAgente").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreaAsignacionAgente").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#NumAgentes').change(function() {
		var numero =document.getElementById("NumAgentes").value;
		switch(numero){
			case '1':
				$("#Agente1").show();
				$("#Agente2").hide();
				$("#Agente3").hide();
				$("#Agente4").hide();
				$("#Agente5").hide();
				break;
			case '2':
				$("#Agente1").show();
				$("#Agente2").show();
				$("#Agente3").hide();
				$("#Agente4").hide();
				$("#Agente5").hide();
				break;
			case '3':
				$("#Agente1").show();
				$("#Agente2").show();
				$("#Agente3").show();
				$("#Agente4").hide();
				$("#Agente5").hide();
				break;
			case '4':
				$("#Agente1").show();
				$("#Agente2").show();
				$("#Agente3").show();
				$("#Agente4").show();
				$("#Agente5").hide();
				break;
			case '5':
				$("#Agente1").show();
				$("#Agente2").show();
				$("#Agente3").show();
				$("#Agente4").show();
				$("#Agente5").show();
				break;
			default:
				$("#Agente1").hide();
				$("#Agente2").hide();
				$("#Agente3").hide();
				$("#Agente4").hide();
				$("#Agente5").hide();
		}
		
	});
</script>

<script>
	jQuery('#IdAgente').change(function () {
		var numero =document.getElementById("IdAgente").value;
		if( numero != ""){
		var to=document.getElementById("Agente2");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/CargaLaboral/Agente2",
			data: 'IdAgente='+numero,
			success: function(data) { 
				jQuery('#Agente2').html(data);
			}
		});
		}
	}).change();
</script>

<script>
	jQuery('#Agente2').change(function () {
		var Agente1 =document.getElementById("IdAgente").value;
		var Agente2 = document.getElementById("IdAgente2").value;
		if( Agente1 !='' && Agente2 != ''){
		var to=document.getElementById("Agente3");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/CargaLaboral/Agente3",
			data: {IdAgente1 : Agente1, IdAgente2: Agente2},
			success: function(data) {
				jQuery('#Agente3').html(data);
			}
		});
		}
	});
</script>

<script>
	jQuery('#Agente3').change(function () {
		var Agente1 =document.getElementById("IdAgente").value;
		var Agente2 = document.getElementById("IdAgente2").value;
		var Agente3 = document.getElementById("IdAgente3").value;
		if( Agente1 !='' && Agente2 != '' && Agente3 != ''){
		var to=document.getElementById("Agente4");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/CargaLaboral/Agente4",
			data: {IdAgente1 : Agente1, IdAgente2: Agente2, IdAgente3: Agente3},
			success: function(data) {
				jQuery('#Agente4').html(data);
			}
		});
		}
	});
</script>

<script>
	jQuery('#Agente4').change(function () {
		var Agente1 =document.getElementById("IdAgente").value;
		var Agente2 = document.getElementById("IdAgente2").value;
		var Agente3 = document.getElementById("IdAgente3").value;
		var Agente4 = document.getElementById("IdAgente4").value;
		if( Agente1 !='' && Agente2 != '' && Agente3 != '' && Agente4 !=''){
		var to=document.getElementById("Agente5");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/CargaLaboral/Agente5",
			data: {IdAgente1 : Agente1, IdAgente2: Agente2, IdAgente3: Agente3, IdAgente4: Agente4},
			success: function(data) {
				jQuery('#Agente5').html(data);
			}
		});
		}
	});
</script>

<script>
	jQuery('#frmAsignarCargaAgente').on('submit', function(e){
		var isvalidate = jQuery('#frmAsignarCargaAgente').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnAsignarCargaAgente();
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>

<script>
	function fnValidacion(){
		var numero =document.getElementById("NumAgentes").value;
		var Error = true;
		switch(numero){
			case '2':
				if(jQuery("#IdAgente2").val() == ''){
					Error = false;	
				}
				break;
			case '3':
				if(jQuery("#IdAgente2").val() == '' || jQuery("#IdAgente3").val() == ''){
					Error = false;	
				}
				break;
			case '4':
				if(jQuery("#IdAgente2").val() == '' || jQuery("#IdAgente3").val() == '' || jQuery("#IdAgente4").val() == ''){
					Error = false;	
				}
				break;
			case '5':
				if(jQuery("#IdAgente2").val() == '' || jQuery("#IdAgente3").val() == '' || jQuery("#IdAgente4").val() == '' || jQuery("#IdAgente5").val() == ''){
					Error = false;	
				}
				break;
			default:
				Error = true;
		}
		return Error;
	}
</script>
