<header id="topbar" class="ph10">
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-10 admin-grid center-block">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Búsqueda de registros</a>
							</li>
						</ul>
					</div>

					<form  id="frmAsignarCargaLaboral" name="frmAsignarCargaLaboral">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">									
									<div class="section row">
										<div class="col-md-3">
								  			<div class="bs-component">		  			
												<select class="form-control" id="IdCartera" name="IdCartera">
													<option value="">Todos las Carteras</option>
													{% for Valor in Carteras%}
													<option value="{{Valor.IdCartera}}">{{Valor.Descripcion}}</option>
													{% endfor %}
												</select>
											 </div>
										</div>
										<div class="col-md-3">
								  			<div class="bs-component">								  				
												<select class="form-control" id="IdGerencia" name="IdGerencia">
													<option value="">Todas las Gerencias</option>
													{% for Valor in Gerencias%}
													<option value="{{Valor.IdGerencia}}">{{Valor.Descripcion}}</option>
													{% endfor %}										  			
												</select>
											 </div>
										</div>
										<div class="col-md-3">
								  			<div class="bs-component">
												<select class="form-control" id="IdProvincia" name="IdProvincia">
													<option value="">Todas las Provincias</option>
													{% for Valor in Provincias%}
													<option value="{{Valor.IdProvincia}}">{{Valor.Descripcion}}</option>
													{% endfor %}
												</select>
											 </div>
										</div>
										<div class="col-md-3">
											<select class="form-control" id="IdDistrito" name="IdDistrito">
												<option value="">Todos los Distritos</option>
												{% for Valor in Distritos%}
												<option value="{{Valor.IdDistrito}}">{{Valor.Descripcion}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-md-4">
											<div class="checkbox-custom checkbox-success mb5">
		         								<input type="checkbox" id="Semanas" name="Semanas"/>
		                 						<label for="Semanas">Semanas de Atraso</label>
	  										</div>	
	  										<br />
											<div class="section mb25">
												<div class="row form-group has-primary" id="SemanaAtraso">
													  <div class="col-xs-5">
													    <input type="text" id="minimoSemanas" name="minimoSemanas" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
													  </div>
													   <div class="col-xs-2 text-center"> _ </div>
													  <div class="col-xs-5">
													    <input type="text" id="maximoSemanas" name="maximoSemanas" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
													  </div>
												</div>
		                        			</div>
										</div>									 		
										<div class="col-md-4">
											<div class="checkbox-custom checkbox-success mb5">
		         								<input type="checkbox" id="RangoSaldo" name="RangoSaldo"/>
		                 						<label for="RangoSaldo">Saldo</label>
	  										</div>	
  										<br />
											<div class="section mb25">
												<div class="row form-group has-primary" id="ContenedorSaldo">
													  <div class="col-xs-5">
													    <input type="text" id="minimoSaldo" name="minimoSaldo" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
													  </div>
													   <div class="col-xs-2 text-center"> _ </div>
													  <div class="col-xs-5">
													    <input type="text" id="maximoSaldo" name="maximoSaldo" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
													  </div>
												</div>
		                        			</div>
										</div>
										<div class="col-md-4">
											<div class="checkbox-custom checkbox-success mb5">
		         								<input type="checkbox" id="RangoSaldoTotal" name="RangoSaldoTotal"/>
		                 						<label for="RangoSaldoTotal">Saldo Total</label>
	  										</div>	
	  										<br />
											<div class="section mb25">
												<div class="row form-group has-primary" id="ContenedorSaldoTotal">
													  <div class="col-xs-5">
													    <input type="text" id="minimoSaldoTotal" name="minimoSaldoTotal" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
													  </div>
													   <div class="col-xs-2 text-center"> _ </div>
													  <div class="col-xs-5">
													    <input type="text" id="maximoSaldoTotal" name="maximoSaldoTotal" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
													  </div>
												</div>
		                        			</div>
										</div>
									</div>	
									<div class="col-md-6">						
										<div class="section row">
											<div class="col-md-12">
												<div class="checkbox-custom checkbox-primary mb5">
			 										<input type="checkbox" id="NombreCliente" name="NombreCliente"/>
				                 					<label for="NombreCliente">Nombre del Titular</label>
												</div>
											</div>									
										</div>
										<div class="section row" id="ContenedorNombreCliente">
											<div class="col-md-12">
												<label for="NombreTitular" class="field prepend-icon">
													<input type="text" name="NombreTitular" id="NombreTitular" class="gui-input" placeholder="Nombre de Titular" autocomplete="off"/>
													<label for="NombreTitular" class="field-icon">
													<i class="fa fa-user"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-12">
												<div class="checkbox-custom checkbox-primary mb5">
			 										<input type="checkbox" id="Aval" name="Aval" />
				                 					<label for="Aval">Nombre de Aval</label>
												</div>
											</div>									
										</div>
										<div class="section row" id="ContenedorAval">
											<div class="col-md-12">
												<label for="NombreAval" class="field prepend-icon">
													<input type="text" name="NombreAval" id="NombreAval" class="gui-input" placeholder="Nombre del Aval" autocomplete="off"/>
													<label for="NombreAval" class="field-icon">
													<i class="fa fa-user"></i>
													</label>
												</label>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="section row">
											<div class="col-md-12">
												<div class="checkbox-custom checkbox-primary mb5">
			 										<input type="checkbox" id="Telefono" name="Telefono"/>
				                 					<label for="Telefono">Número Telefónico</label>
												</div>
											</div>									
										</div>
										<div class="section row" id="ContenedorTelefono">
											<div class="col-md-12">
												<label for="TelefonoCasa" class="field prepend-icon">
													<input type="text" name="TelefonoCasa" id="TelefonoCasa" class="gui-input" placeholder="Teléfono Fijo" />
													<label for="TelefonoCasa" class="field-icon">
													<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row"> 
											<div class="col-md-12">
												<div class="checkbox-custom checkbox-primary mb5">
				         							<input type="checkbox" id="ClienteUnico" name="ClienteUnico"/>
				                 					<label for="ClienteUnico">Número de Cliente Único</label>
		  										</div>
											</div>	
										</div>
										<div class="section row form-group" id="NumeroCliente">
											<div class="col-md-2">
											    <input type="text" id="Pais" name="Pais" class="form-control" placeholder="Pais" value="" autocomplete="off"/>
											</div>
											<div class="col-md-2">
											    <input type="text" id="Producto" name="Producto" class="form-control" placeholder="Producto" value="" autocomplete="off"/>
											</div>
											<div class="col-md-4">
											    <input type="text" id="NumeroEconomico" name="NumeroEconomico" class="form-control" placeholder="Número Económico" value="" autocomplete="off"/>
											</div>
											<div class="col-md-4">
											    <input type="text" id="Operacion" name="Operacion" class="form-control" placeholder="Operación" value="" autocomplete="off"/>
											</div>
										</div>
									</div>							
								</div>
							</div>								
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"  ><span class="fa fa-search pr5"></span> Consultar Registros</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 admin-grid center-block">
				<div id="AreaAsignacionAgente"></div>
			</div>
		</div>
	</div>
</section>

<script>
	jQuery('#frmAsignarCargaLaboral').on('submit', function(e){
		var isvalidate = jQuery('#frmAsignarCargaLaboral').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacionRango()){
				fnAsignarCarga();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	/* AsignarCarga */
	function fnAsignarCarga(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/CargaLaboral/AsignarCargaLaboral',
			data: jQuery('#frmAsignarCargaLaboral').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaAsignacionAgente").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreaAsignacionAgente").html(data);
			}
		});
	}
</script>
<script>
	jQuery(document).ready(function(){
		jQuery("#ContenedorSemanas").hide();
		jQuery("#NumeroCliente").hide();
		jQuery("#ContenedorTelefono").hide();
		jQuery("#SemanaAtraso").hide();
		jQuery("#ContenedorSaldo").hide();
		jQuery("#ContenedorSaldoTotal").hide();
		jQuery("#ContenedorNombreCliente").hide();
		jQuery("#ContenedorAval").hide();	
	});
</script>
<script>
	jQuery("#Semanas").click(function(){
		if(jQuery("#Semanas").is(":checked")){
			jQuery("#SemanaAtraso").show();
		}else{
			jQuery("#SemanaAtraso").hide();
			jQuery("#minimoSemanas").val("");
			jQuery("#maximoSemanas").val("");
		}
	});

	jQuery("#RangoSaldo").click(function(){
		if(jQuery("#RangoSaldo").is(":checked")){
			jQuery("#ContenedorSaldo").show();
		}else{
			jQuery("#ContenedorSaldo").hide();
			jQuery("#minimoSaldo").val("");
			jQuery("#maximoSaldo").val("");
		}
	});

	jQuery("#RangoSaldoTotal").click(function(){
		if(jQuery("#RangoSaldoTotal").is(":checked")){
			jQuery("#ContenedorSaldoTotal").show();
		}else{
			jQuery("#ContenedorSaldoTotal").hide();
			jQuery("#minimoSaldoTotal").val("");
			jQuery("#maximoSaldoTotal").val("");
		}
	});
	
	jQuery("#NombreCliente").click(function(){
		if(jQuery("#NombreCliente").is(":checked")){
			jQuery("#ContenedorNombreCliente").show();
		}else{
			jQuery("#ContenedorNombreCliente").hide();
			jQuery("#NombreTitular").val("");
		}
	});
	
	jQuery("#Aval").click(function(){
		if(jQuery("#Aval").is(":checked")){
			jQuery("#ContenedorAval").show();
		}else{
			jQuery("#ContenedorAval").hide();
			jQuery("#NombreAval").val("");
		}
	});

	jQuery("#ClienteUnico").click(function(){
		if(jQuery("#ClienteUnico").is(':checked')){
			jQuery("#NumeroCliente").show();	
		} else{
			jQuery("#NumeroCliente").hide();
			jQuery("#Pais").val("");
			jQuery("#Producto").val("");
			jQuery("#NumeroEconomico").val("");
			jQuery("#Operacion").val("");
		}	
	});

	jQuery("#Telefono").click(function(){
		if(jQuery("#Telefono").is(":checked")){
			jQuery("#ContenedorTelefono").show();
		}else{
			jQuery("#ContenedorTelefono").hide();
			jQuery("#TelefonoCasa").val("");
		}
	});
</script>
<script>
	function fnValidacionRango(){
		var Error = true;
		if(jQuery("#Semanas").is(':checked')){
			if(jQuery("#minimoSemanas").val() == "" || jQuery("#maximoSemanas").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#ClienteUnico").is(':checked')){	
			if(jQuery("#Pais").val() != '' || jQuery("#Producto").val() != '' || jQuery("#NumeroEconomico").val() != '' || jQuery("#Operacion").val() != ''){
				Error = true;
			}
			else{
				Error = false;
			}
		}
		if(jQuery("#Telefono").is(':checked')){
			if(jQuery("#TelefonoCasa").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#NombreCliente").is(':checked')){
			if(jQuery("#NombreTitular").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Aval").is(':checked')){
			if(jQuery("#NombreAval").val() == ""){
				Error = false;
			}
		}if(jQuery("#RangoSaldo").is(':checked')){
			if(jQuery("#minimoSaldo").val() == "" || jQuery("#maximoSaldo").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#RangoSaldoTotal").is(':checked')){
			if(jQuery("#minimoSaldoTotal").val() == "" || jQuery("#maximoSaldoTotal").val() == "" ){
				Error = false;
			}
		}
		return Error;
	}
</script>


