 <section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">
		<div class="alert alert-info pastel alert-dismissable">
		  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		  <div class="col-md-12">
		  	<i class="fa fa-info pr10"></i>
		  	<strong>No hay Fechas!</strong> No se hizo un compromiso de pago.
		  </div>
		<br />
		<br />
		<br />
	  	&nbsp;&nbsp;<a class="btn btn-success " href="#" onclick="javascript: bootbox.hideAll();">Regresar</a>
		</div>
	</div>
</section>