<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>
 
<script>

	/* Agregar Nuevo Registro */
	function frmAgregar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/LimiteLlamada/frmAgregar',
			type: 'POST',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}

	/* Listado */
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Gerencia/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	/* Editar Registro */
	function frmEditar(ide){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Gerencia/frmEditar',
			type: 'POST',
			dataType: 'html',
			data: {Id : ide},
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	/* Eliminar Registro */
	function fnEliminarRegistro(ide){
		swal({
					title: "¿Desea eliminar?",
					text: "El registro, sera eliminado completamente.",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Si, Acepto!",
					cancelButtonText: "No, Cancelar!",
					closeOnConfirm: false
				},
				function(isConfirm){
					if (isConfirm) {
						jQuery.ajax({
							url: '{{NeuralRutaApp}}/Supervisor/Gerencia/Eliminar',
							type: 'POST',
							dataType: 'html',
							data: {Id : ide},
							beforeSend: function () {
								jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
							},
							success: function (data) {
								fnListado();
								//jQuery("#AreContenido").html(data);
							}
						});
						swal("¡Eliminado!", "Su registro ha sido eliminado.", "success");
					}
				});
	}

	frmAgregar();
</script>