<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="bs-component">
				<div class="alert alert-system alert-dismissable mb30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h3 class="mt5">Éxito!</h3>
					<p>Los datos han sido guardados de manera correcta.</p>
					<br />
					<p>
						<a class="btn btn-system" href="#" onclick="javascript: fnListadoGestionExito('{{Formulario}}');">Regresar</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	/* Listado  de Gestión*/
	function fnListadoGestionExito(consulta) {
		if(consulta){
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmFiltradoClientes',
				data: {Formulario : consulta},
				type: 'POST',
				beforeSend: function () {
					jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
				},
				success: function (data) {
					jQuery("#AreContenido").html(data);
				}
			});
		}else{
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmListado',
				dataType: 'html',
				beforeSend: function () {
					jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
				},
				success: function (data) {
					jQuery("#AreContenido").html(data);
				}
			});
		}
	}
</script>