<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/nanoscroller/nanoscroller.css" />
<style>
	.nano {height: 300px; }
	.nano .nano-content {padding: 10px; } 
</style>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
			<div class="col-md-8 admin-grid">
				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title"> GESTIÓN TELEFÓNICA - {{Telefono}}</span>
					</div>
					<form id="frmGestionarLlamada" name="frmGestionarLlamada">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div class="row">
						          <div class="col-md-12">
						            <div class="panel">  
						                <div class="panel-body">
						                	<div class="section row">
												<label class="col-md-6 control-label" >Compromiso de Pago</label>
												<div class="col-md-2 bs-component">
			        								<div class="radio-custom radio-primary mb5">
			                            	 			<input type="radio" id="CompromisoPago1" name="Compromiso" value="SI"/>
						                           		<label for="CompromisoPago1">Si</label>
						                           	</div>
			         			                </div>
						                       	<div class="col-md-2 bs-component">
						                           	<div class="radio-custom radio-primary mb5">
						                           		<input type="radio" id="CompromisoPago2" name="Compromiso" value="NO" checked="checked"/>
			                              				<label for="CompromisoPago2">No</label>
					                            	</div>
      											</div>
											</div>
											<div class="section row" id="ContenedorTipoPago">
												<label class="col-md-3 control-label" for="TipoPago">Tipo de Pago</label>
												<div class="col-md-8">							
													<select class="form-control" name="TipoPago" id="TipoPago">
													  <option value="">Seleccione Tipo de Pago</option>
													  <option value="Parcial"> Parcial </option>
													  <option value="Total"> Total </option>
													</select>
												</div>
											</div>
											<div id="Fecha">
												<div class="section row " >											
													<label class="col-md-3 control-label" for="Fecha_Compromiso">Fecha de Compromiso</label>
													<div class="col-md-4">
														<label for="Fecha_Compromiso" class="field prepend-icon">
									      					<input type="text" id="Fecha_Compromiso" name="Fecha_Compromiso" class="gui-input" placeholder="Fecha Compromiso" value=""/>
									            			<label class="field-icon">
									             				<i class="fa fa-calendar-o"></i>
									                   		</label>
										               	</label>
													</div>
													<div class="col-md-4">
														<label for="Importe" class="field prepend-icon">
															<input type="text" name="Importe" id="Importe" class="form-control" placeholder="Importe" value="" />
															<label for="Importe" class="field-icon">
																<i class="fa fa-money"></i>
															</label>
														</label>
													</div>
												</div>	
											</div>
											<div class="section row" id="NumCuotas">
												<label for="Cuotas" class="col-lg-3 control-label"> Número de Cuotas</label>
			                   					<div class="col-lg-8">
				                  				<div class="smart-widget sm-right smr-120">
													<label class="field prepend-icon">
						                              <input type="text" name="Cuotas" id="Cuotas" class="gui-input" placeholder="Número de Cuotas" value=""/>
														<label for="Cuotas" class="field-icon">
															<i class="glyphicons glyphicons-calculator"></i>
														</label>
													</label>
													<button type="button" class="button">Calcular</button>
                          						</div>
												</div>
											</div>
											<div class="section row" id="ContenedorFechas">
												<label class="col-md-3 control-label" for="Fechas">Fechas por Cuotas</label>
												<div class="col-md-8" id="Fechas">
												</div>
											</div>
											<div class="section row">
							   					 <label class="col-md-3 control-label" for="IdCodigo">Código</label>
							   					 <div class="col-md-8">
							   						 <label for="IdCodigo" class="field prepend-icon">
														<select class="form-control" name="IdCodigo" id="IdCodigo">
														<label for="IdCodigo" class="field-icon"><i class="fa fa-file-text-o"></i></label>
														<option value="">Seleccione un Código</option>
														{% for codigo in Codigos%}
															<option value="{{codigo.IdCodigo}}"> {{codigo.Codigo}} {{codigo.Descripcion}} </option>
														{% endfor %}
														</select>
													</label>
												</div>
								   			</div>
											<div class="section row">
													<label class="col-md-3 control-label" for="Observaciones">Observaciones</label>
													<div class="col-md-8">
														<textarea class="form-control" id="Observaciones"  name="Observaciones" rows="3" ></textarea>
													</div>
											</div>
											<div class="section row">
													<div class="col-md-10">
														<div class="checkbox-custom checkbox-primary mb5">
														  <input type="checkbox" id="Prioridad" name="Prioridad" value="Si"/>
														  <label for="Prioridad"> Prioridad </label>
														</div>
													</div>
											</div>
						                </div>
						            </div>
						          </div>
								</div>
						
								<input type="hidden" id="Key" name="Key" value="{{Key}}" />
								<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdDatoAgenda}}"/>
								<input type="hidden" id="Formulario" name="Formulario" value="{{Formulario}}"/>
								<div class="text-right">
									<button id="BtnGuardarGestionTelefonica" class="btn btn-primary" disabled type="submit"><span class="glyphicon glyphicon-earphone pr5"></span> Llamada En Espera...</button>
								</div>
								
							</div>
						</div>
					</form>
				</div>
					<div class="panel">
  					<div class="panel-heading">
       					<span class="panel-icon">
            				<i class="fa fa-clock-o"></i>
                		</span>
                  		<span class="panel-title"> HISTORIAL DE GESTIONES </span>
              		</div>

                    	<div class="panel-body nano" >
							
							<ol class="timeline-list nano-content">
								{% if Gestion %}
								<div class="row">
									<div class="col-lg-12">
								{% for Valor in Gestion %}
									<li class="timeline-item">
         								<div class="timeline-icon bg-dark light">
                 							<span class="glyphicons glyphicons-headset"></span>
                   						</div>
                      					<div class="timeline-desc">
											{{Valor.FechaHora_Captura}} <br><b>{{Valor.Nombres}} {{Valor.ApellidoPaterno}}</b>
       		 								<a class="timeline-date" href='javascript: fnVerMas("{{Valor.idGestionTelefonica|Cifrado}}");'><span class="glyphicons glyphicons-search"></span> &nbsp;Detalles ...</a>
                  						</div>
    								</li>
 								{% endfor %}
 								</div>
 								</div>
								{% else %}
								<br/>
								<div class="row">
									<div class="col-lg-1"></div>
									<div class="col-lg-10">
										<div class="alert alert-micro alert-border-left alert-alert alert-dismissable">
											<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
											<i class="fa fa-info pr10"></i>
											<strong>Información</strong> <br/> No hay mas gestiones de este cliente.
										</div>
									</div>
									<div class="col-lg-1"></div>
								</div>
								{% endif %}
							</ol>
						</div>
				</div>
			</div>
			<div class="col-md-4">
			<!--	<div class="panel">
					<div class="panel-body">-->
						<div class="panel panel-tile text-center">
						  <div class="panel-body bg-success light" id="Contador">
						    <i class="fa fa-clock-o text-muted fs45 br64 bg-success p15 ph20 mt10" id="Icono"></i>
						    <div id="texto">							
						    	<h3 id="Timer" data-seconds="{{Tiempo}}"></h3>
							</div>
						  </div>
						</div>
					<!--</div>
				</div>-->
				<div class="panel-heading">
					<span class="panel-icon">
 						<i class="fa fa-user"></i>
     				</span>
       				<span class="panel-title"> INFORMACIÓN DEL CLIENTE</span>
      			</div>
        		<div class="panel">
        			{% for Valor in Cliente %}
          				<div class="panel-body">
           		 			<div class="row">
             		 			<label class="col-lg-4 control-label"> Cliente </label>
                   					<div class="col-lg-8">
			                        	<p>{{Valor.NombreTitular}}</p>
	                  				</div>
						 	</div>
							 <div class="row">
    		 					<label class="col-lg-4 control-label">Aval </label>
            					<div class="col-lg-8">
                      				<p>{{Valor.NombreAval}}</p>
		                    	</div>
						 	</div>
							 <div class="row">
    		 					<label class="col-lg-4 control-label">Semanas Atraso </label>
            						<div class="col-lg-8">
                        				<p>{{Valor.SemanaAtraso}}</p>
				                    </div>
							 </div>
							 <div class="row">
		 						<label class="col-lg-4 control-label">Saldo </label>
         							<div class="col-lg-8">
                      					<p>S/.{{Valor.Saldo|Formato_Moneda}}</p>
		                    		</div>
							 </div>
							 <div class="row">
		                		 	<label class="col-lg-4 control-label"> Saldo Total </label>
                   					<div class="col-lg-8">
			                        	<p>S/.{{Valor.SaldoTotal|Formato_Moneda}}</p>
				                    </div>
						 	</div>
							<hr class="short alt"/>
						 	<div class="row">
						 		<div class= "col-md-5"></div>
						 		<a class="label label-success" href='javascript: fnActualizar("{{IdDatoAgenda}}");'>ACTUALIZAR</a>
						 	</div>  
  						</div>
      				{% endfor %}
      				</div>    					
			</div>
	</div>
</section>
{{Scripts|raw}}

<script src="{{NeuralRutaWebPublico}}/vendor/plugins/moment/moment.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/kkcountdown/js/build/kkcountdown.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/nanoscroller/jquery.nanoscroller.js"></script>
 <script>
	 jQuery.datepicker.regional['es'] = {
		 closeText: 'Cerrar',
		 prevText: '<Ant',
		 nextText: 'Sig>',
		 currentText: 'Hoy',
		 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		 weekHeader: 'Sm',
		 dateFormat: 'dd/mm/yy',
		 firstDay: 1,
		 isRTL: false,
		 showMonthAfterYear: false,
		 yearSuffix: ''
	 };
	 jQuery.datepicker.setDefaults($.datepicker.regional['es']);
 </script>
<script>
	jQuery(document).ready(function() {
		jQuery("#Fecha_Compromiso").datepicker({
		      prevText: '<i class="fa fa-chevron-left"></i>',
		      nextText: '<i class="fa fa-chevron-right"></i>',
		      showButtonPanel: true,
		      beforeShow: function(input, inst) {
		        var newclass = 'admin-form';
		        var themeClass = $(this).parents('.admin-form').attr('class');
		        var smartpikr = inst.dpDiv.parent();
		        if (!smartpikr.hasClass(themeClass)) {
		          inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
		        }
		      }
		    });
		jQuery(".fecha").datepicker();
		jQuery("#ContenedorTipoPago").hide();
		jQuery("#Fecha").hide();
		jQuery("#NumCuotas").hide();
		jQuery("#ContenedorFechas").hide();
		jQuery(".nano").nanoScroller();
	});
</script>
<script>
	jQuery("#frmGestionarLlamada").on('submit', function(e){
		var isvalidate = jQuery('#frmGestionarLlamada').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacionGestion()){
				fnGuardarGestionTelefonica();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
		
	});
</script>
<script>
	jQuery("input:radio[name=Compromiso]").click(function(){
		var Compromiso = $(this).val();
		if(Compromiso == "SI"){
			jQuery("#ContenedorTipoPago").show();	
		}
		else{
			jQuery("#ContenedorTipoPago").hide();
			jQuery("#TipoPago").val("");
			jQuery("#NumCuotas").hide();
			jQuery("#Cuotas").val("");
			jQuery("#Fecha").hide();
			jQuery("#ContenedorFechas").hide();
			
		}
	});
	jQuery("#Importe").click(function(){
		if(!(isNumeric(jQuery("#Importe").val()))){
			jQuery("#Importe").val("");	
		}
	});
	
	jQuery("#TipoPago").change(function(){
		if(jQuery("#TipoPago").val() == "Parcial"){
			jQuery("#NumCuotas").show();
			jQuery("#Fecha").hide();
			jQuery("#Fecha_Compromiso").val("");
		}
		else if(jQuery("#TipoPago").val() == "Total"){
			jQuery("#Fecha").show();
			jQuery("#NumCuotas").hide();
			jQuery("#Cuotas").val("");
			jQuery("#ContenedorFechas").hide();
			jQuery("#Fechas").html("");
		}
		else{
			jQuery("#NumCuotas").hide();
			jQuery("#Cuotas").val("");
			jQuery("#Fecha").hide();
			jQuery("#Fecha_Compromiso").val("");
			jQuery("#ContenedorFechas").hide();
			
		}
	});
	jQuery("#Cuotas").change(function(){
		if(jQuery("#Cuotas").val() > 0)
			jQuery("#ContenedorFechas").show();
		jQuery("#Fechas").html("");
		var NumeroFechas = jQuery("#Cuotas").val();
		for(var i = 0; i < NumeroFechas; i++){
			jQuery("#Fechas").append('' +
			'<div class="row"><div class="col-md-6">' +
			'<label class="field prepend-icon">' +
			'<input type="text" id="Fecha_pago'+ i +'" name="Fecha[]" class="gui-input fecha" placeholder="Fecha Compromiso"/>' +
			'<label class="field-icon"><i class="fa fa-calendar-o"></i></label>' +
			'</label>' +
			'</div>' +
			'<div class="col-md-6">' +
			'<label  class="field prepend-icon">' +
			'<input type="text" id="importe'+ i +'"  name="Importes[]" class="form-control importe" placeholder="Importe" value="" />' +
			'<label for="Importe" class="field-icon"><i class="fa fa-money"></i></label>' +
			'</label></div></div><br>');
		}
		jQuery(".fecha").datepicker({
		      prevText: '<i class="fa fa-chevron-left"></i>',
		      nextText: '<i class="fa fa-chevron-right"></i>',
		      showButtonPanel: true,
		      beforeShow: function(input, inst) {
		        var newclass = 'admin-form';
		        var themeClass = $(this).parents('.admin-form').attr('class');
		        var smartpikr = inst.dpDiv.parent();
		        if (!smartpikr.hasClass(themeClass)) {
		          inst.dpDiv.wrap('<div class="' + themeClass + '"></div>');
		        }
		      }
		    });
	});
</script>

<script>
	function fnValidacionGestion(){
		var error = true;
		
		if($("#CompromisoPago1").is(":checked") && $("input:radio[name=Compromiso]").val() == "SI"){
 		var NumeroFechas = jQuery("#Cuotas").val();
	 	for(var i = 0; i < NumeroFechas; i++){
			if (!(isNumeric($("#importe"+ i).val()))){
				$("#importe"+ i).val("");
			}
		}
 		if($("#TipoPago").val() == ""){
 			error = false;
 		}else
 		if($("#TipoPago").val() == "Total"){
			if($("#Fecha_Compromiso").val() == "" || $("#Importe").val() == ""){
				error = false;
			}	
 		}else
 		if($("#TipoPago").val() == "Parcial"){
 			if($("#Cuotas").val() == ""){
 				error = false;
 			}else{
				var NumeroFechas = jQuery("#Cuotas").val();
		
				for(var i = 0; i < NumeroFechas; i++){
					if($("#Fecha_pago"+ i ).val() == ""){
						error = false;
					}
					if($("#importe"+ i).val() == ""){
						error = false;
					}
 				}
 			}
		}
		}
		return error;
	}
</script>
<script>
	function fnVerMas(Id){
		jQuery.ajax({
			data: {id: Id},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmVerMas',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Detalles de Gestión"
				});
			}
		});
	}
</script>
<script>
	function fnGuardarGestionTelefonica(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/GuardarGestion',
			data: jQuery('#frmGestionarLlamada').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			//	fnListadoGestionTelefonica();
			}
		});
	}
</script>

<script>
	/* Verifica los estados de agente */
	MonitorAgente();
	var estado = false;
	var interval = setInterval('MonitorAgente()', 6000);
	function MonitorAgente(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/MonitorAgente',
			data: { 'extension': {{ExtensionAgente}} },
			type: 'POST',
			async: true,
			cache: false,
			dataType: 'text',
			timeout: 50000,
			error: function(){
				msjFallo('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
			},
			success: function(data) {
				var respuesta = data;
				if(respuesta == 'Contestado'){
					estado = true;
					jQuery("#BtnGuardarGestionTelefonica").html('<span class="glyphicon glyphicon-earphone pr5"></span> Llamada En Curso...');
					jQuery("#BtnGuardarGestionTelefonica").attr('disabled', 'disabled');
					jQuery("#Timer").kkcountdown({
						dayText		: ' ',
						daysText 	: ' ',
						hoursText	: ':',
						minutesText	: ':',
						secondsText	: '',
						callback	: function() {
							$("#Contador").addClass('bg-warning');
							$("#Icono").addClass('bg-warning');
						},
						displayZeroDays : false,
						textAfterCount: 'Tiempo Límite!',
					});
				}
				else if(respuesta == 'NoContestado'){
					jQuery("#BtnGuardarGestionTelefonica").html('<span class="fa fa-save pr5"></span> Llamada En Espera...');
				}
				else if(respuesta == 'Colgado'){
					var Tiempo = jQuery("#Timer").text();
					jQuery("#texto").html('<h3>'+ Tiempo +'</h3>');
					jQuery("#BtnGuardarGestionTelefonica").html('<span class="fa fa-save pr5"></span> Guardar Gestión Telefónica');
					jQuery("#BtnGuardarGestionTelefonica").removeAttr('disabled');
					clearInterval(interval);
				}
			}
		});
	}
</script>
<script>
	function fnActualizar(IdCliente){
		jQuery.ajax({
			data: {IdDatoAgenda: IdCliente},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmActualizarDatosCliente',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Información de Cliente"
				});
			}
		});
	}
</script>
<script>
	function isNumeric(n) {
	  return !isNaN(parseFloat(n)) && isFinite(n);
	}
</script>