<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.css">
<section id="content" class="animated fadeIn">
	<div class="tray tray-center">
		<div class="admin-panels mw700 center-block" >
		<div class="row mt20">
			<div class="col-md-12 admin-grid" data-animate='["400","fadeIn"]'>
				<div class="panel sort-disable mb50 panel-dark" id="p0" data-panel-title="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-collapse="false" data-panel-fullscreen="false">
			 		<div class="panel-heading">
						<span class="panel-icon">
                        	<i class="fa fa-minus"></i>
                      	</span> &nbsp;
						REPORTE POR CRITERIOS DE BÚSQUEDA
			 		</div>
					<div class="panel-body p40 pb10">
						<form  id="frmFiltroGestiones" name="frmFiltroGestiones">
							<div class="tab-content pn br-n admin-form">
								<div class="col-md-6">
									<div class="section row">
										<div class="col-md-12">
											<div class="checkbox-custom checkbox-primary mb5">
		 										<input type="checkbox" id="NombreCliente" name="NombreCliente"/>
			                 					<label for="NombreCliente">Nombre del Titular</label>
											</div>
										</div>									
									</div>
									<div class="section row" id="ContenedorNombreCliente">
										<div class="col-md-12">
											<label for="NombreTitular" class="field prepend-icon">
												<input type="text" name="NombreTitular" id="NombreTitular" class="gui-input" placeholder="Nombre de Titular" autocomplete="off"/>
												<label for="NombreTitular" class="field-icon">
												<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-12">
											<div class="checkbox-custom checkbox-primary mb5">
		 										<input type="checkbox" id="FechaGestion" name="FechaGestion"/>
			                 					<label for="FechaGestion">Fecha de Gestión</label>
											</div>
										</div>									
									</div>
									<div class="section row" id="ContenedorFecha">
										<div class="col-md-12">
											<label for="FechasGestion" class="field prepend-icon">
												<input type="text" name="FechasGestion" id="FechasGestion" class="form-control pull-right" placeholder="Fecha de Gestión" />
												<label for="FechasGestion" class="field-icon">
												<i class="fa fa-calendar"></i>
												</label>
											</label>
										</div>
									</div>
							    </div>
								<div class="col-md-6">
									<div class="section row">
										<div class="col-md-12">
											<div class="checkbox-custom checkbox-primary mb5">
		 										<input type="checkbox" id="Telefono" name="Telefono" autocomplete="off"/>
			                 					<label for="Telefono">Número Telefónico</label>
											</div>
										</div>									
									</div>
									<div class="section row" id="ContenedorTelefono">
										<div class="col-md-12">
											<label for="NumeroTelefono" class="field prepend-icon">
												<input type="text" name="NumeroTelefono" id="NumeroTelefono" class="gui-input" placeholder="Teléfono Fijo" autocomplete="off"/>
												<label for="NumeroTelefono" class="field-icon">
												<i class="fa fa-phone"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-12">
											<div class="checkbox-custom checkbox-primary mb5">
		 										<input type="checkbox" id="Agente" name="Agente"/>
			                 					<label for="Agente">Agente</label>
											</div>
										</div>									
									</div>
									<div class="section row" id="ContenedorAgente">
										<div class="col-md-12">
											<select class="form-control" id="IdAgente" name="IdAgente" autofocus="on">
												<option value="">Selecciona un Agente</option>
												{% for Valor in Agentes%}
												<option value="{{Valor.idUsuario}}">{{Valor.Nombres}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div class="row col-md-12">
								<div class="col-md-6">
									<label class="control-label mb15">Seleccione el tipo de Reporte</label>
				                      <div class="form-group">
				                        <div class="col-sm-12">				
				                          <div class="bs-component">
				                            <div class="radio-custom square radio-alert mb5">
				                              <input type="radio" id="Telefonica" name="TipoGestion" value="Telefonica"/>
				                              <label for="Telefonica">Telefónica</label>
				                            </div>
				                          </div>
		                          		</div>
		                          		<div class="col-sm-12">
				                          <div class="bs-component">
				                            <div class="radio-custom square radio-success mb5">
				                              <input type="radio" id="Campo" name="TipoGestion" value="de Campo"/>
				                              <label for="Campo">Campo</label>
				                            </div>
				                          </div>
                                        </div>
                                        <div class="col-sm-12">
				                          <div class="bs-component">
				                            <div class="radio-custom square radio-info mb5">
				                              <input type="radio" id="Manual" name="TipoGestion" value="Manual"/>
				                              <label for="Manual">Manual</label>
				                            </div>
				                          </div>
                                        </div>
									</div>
								</div>
								<div class="col-md-6">
									<label class="control-label mb15">Opciones de descarga</label>
				                      <div class="form-group">
				                        <div class="col-sm-12 ">				
				                          <div class="bs-component">
				                            <div class="radio-custom square radio-alert mb5">
				                              <input type="radio" id="Correo" name="OpcionReporte" value="Correo"/>
				                              <label for="Correo">Enviar e-mail</label>
				                            </div>
				                          </div>
		                          		</div>
		                          		<div class="col-sm-12 ">				
				                          <div class="bs-component">
				                            <div class="radio-custom square radio-success mb5">
				                              <input type="radio" id="Descarga" name="OpcionReporte" value="Archivo"/>
				                              <label for="Descarga">Descargar Archivo</label>
				                            </div>
				                          </div>
		                          		</div>
									</div>
								</div>
								</div>
								<div class="row"></div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-alert btn-rounded" type="submit" ><span class="fa fa-file"></span>&nbsp; Generar Reporte de Gestiones  </button>
									</p>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/moment/moment.min.js"></script>
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
  <script>
	  jQuery.datepicker.regional['es'] = {
		  closeText: 'Cerrar',
		  prevText: '<Ant',
		  nextText: 'Sig>',
		  currentText: 'Hoy',
		  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		  weekHeader: 'Sm',
		  dateFormat: 'dd/mm/yy',
		  firstDay: 1,
		  isRTL: false,
		  showMonthAfterYear: false,
		  yearSuffix: ''
	  };
	  jQuery.datepicker.setDefaults($.datepicker.regional['es']);
  </script>
<script>
	jQuery(document).ready(function() {
		jQuery("#ContenedorAgente").hide();
		jQuery("#ContenedorTelefono").hide();
		jQuery("#ContenedorNombreCliente").hide();
		jQuery("#ContenedorFecha").hide();
		jQuery("#FechasGestion").daterangepicker({
	 		 format: "DD/MM/YYYY",
	 		 timePicker: true,
			 locale:{
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: "  Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
			}
  		});
   	});
</script>
<script>
	jQuery('#frmFiltroGestiones').on('submit', function(e){
		var isvalidate = jQuery('#frmFiltroGestiones').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnGeneraReporte();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnValidacion(){
		var Error = true;
		if(jQuery("#Telefono").is(':checked')){
			if(jQuery("#NumeroTelefono").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#NombreCliente").is(':checked')){
			if(jQuery("#NombreTitular").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaGestion").is(':checked')){
			if(jQuery("#FechasGestion").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Agente").is(':checked')){
			if(jQuery("#IdAgente").val() == ""){
				Error = false;
			}
		}
		if(!(jQuery("#Campo").is(':checked') || jQuery("#Telefonica").is(':checked') || jQuery("#Manual").is(':checked'))){
			Error = false;
		}
		if(!(jQuery("#Correo").is(':checked') || jQuery("#Descarga").is(':checked'))){
			Error = false;
		}
		
		return Error;
	}
</script>
<script>
	jQuery("#Telefono").click(function(){
		if(jQuery("#Telefono").is(":checked")){
			jQuery("#ContenedorTelefono").show();
		}else{
			jQuery("#ContenedorTelefono").hide();
			jQuery("#NumeroTelefono").val("");
		}
	});	
	
	jQuery("#NombreCliente").click(function(){
		if(jQuery("#NombreCliente").is(":checked")){
			jQuery("#ContenedorNombreCliente").show();
		}else{
			jQuery("#ContenedorNombreCliente").hide();
			jQuery("#NombreTitular").val("");
		}
	});
	
	jQuery("#FechaGestion").click(function(){
		if(jQuery("#FechaGestion").is(":checked")){
			jQuery("#ContenedorFecha").show();
		}else{
			jQuery("#ContenedorFecha").hide();
			jQuery("#FechasGestion").val("");
		}
	});

	jQuery("#Agente").click(function(){
		if(jQuery("#Agente").is(":checked")){
			jQuery("#ContenedorAgente").show();
		}else{
			jQuery("#ContenedorAgente").hide();
			jQuery("#IdAgente").val("");
		}
	});
	
</script>
<script>
	jQuery(function($){
		jQuery("#NumeroTelefono").mask("99999999?9");
	});
</script>
<script>
	function fnReporte(){
			var mensaje = '<div class="section row col-sm-12"><div class="col-md-6 btn-group"><button type="button" class="btn btn-rounded btn-dark btn-block"><i class="fa fa-download"></i> Descargar</button></div><div class="col-md-6 btn-group"><a type="button" class="btn btn-rounded btn-dark btn-block" href="javascript:fnGeneraReporte();"><i class="fa fa-envelope"></i> Eviar a Correo</a></div></div>';
			bootbox.dialog({
					message: mensaje
				});
	}
</script>