<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Registros De Clientes</div>
						<input type="hidden" id="Consulta" name="Consulta" value="{{Consulta}}"/>
						<input type="hidden" id="TotalRegistros" name="TotalRegistros" value="{{Total}}"/>
						<input type="hidden" id="Formulario" name="Formulario" value="{{Formulario}}"/>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="bootgrid" cellspacing="0" width="100%">
						<thead>
						<tr>						
							<th data-column-id="ClienteUnico" data-sortable="false">Cliente Único</th>
							<th data-formatter="Telefonos" data-align="center" data-sortable="false" data-header-align="center">Teléfonos </th>
							<th data-column-id="NombreTitular" data-width="200px" data-sortable="false">Nombre Titular</th>
							<th data-column-id="SemanaAtraso" data-width="80px" data-align="center" data-header-align="center" data-sortable="false"> Atraso</th>
							<th data-column-id="Saldo" data-sortable="false">Saldo</th>
							<th data-column-id="SaldoTotal" data-sortable="false">Saldo Total</th>
							<th data-formatter="Codigo" data-sortable="false" data-align="center" data-header-align="center" data-width="80px"> Código</th>
							<th data-formatter="Gestion" data-width="150px" data-header-align="center" data-align="center" data-sortable="false">Status</th>
							<th data-formatter="Accion" data-header-align="center" data-width="150px" data-align="center" data-sortable="false">Gestión</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script>
	jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    { 
			        return {
			            Consulta: $("#Consulta").val(),
			            TotalRegistros: $("#TotalRegistros").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Agente/FiltradoClientes/ConsultarClientePagina",
			    formatters: {
			        "Telefonos": function(column, row)
			        {	
			        	if(row.StatusTelefono == "DISPONIBLE")
			            	return 	'<span class="label label-info"> Disponibles </span>';
			        	else
			        		return '<span class="label label-warning"> No disponibles </span>';
					},
					"Gestion": function(column, row)
					{
						if(row.StatusCobro == "GESTIONADO")
							return '<span class="label label-primary"> &nbsp;GESTIONADO</span>';
						else
							return '<span class="label label-default"> &nbsp;NO GESTIONADO</span>';
					},
					"Accion": function(column, row)
					{	
						return ' <a class="btn btn-primary btn-sm" href=\'javascript: fnGestionTelefonica("'+row.IdDatoAgenda+'","'+$("#Formulario").val()+'");\'><span class="glyphicons glyphicons-headset pr5"></span></a>&nbsp'+
								'<a class="btn btn-primary btn-sm" href=\'javascript: fnGestionCampo("'+row.IdDatoAgenda+'","'+$("#Formulario").val()+'");\'><span class="glyphicons glyphicons-bus pr5"></span></a>&nbsp'+
								'<a class="btn btn-primary btn-sm" href=\'javascript: fnGestionManual("'+row.IdDatoAgenda+'","'+$("#Formulario").val()+'");\'><span class="glyphicons glyphicons-edit"></span></a>';
					},
					"Codigo": function(column, row)
					{
						return '<span class="label label-default" style="background: '+row.Color+'; color: '+row.Color+';">--</span>';
					}
					
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			}).on("loaded.rs.jquery.bootgrid", function()
			{
			    grid.find(".command-gestion-campo").on("click", function(e)
			    {
			        fnEscucharGrabacion($(this).data("row-id"));
			    });
			});
		});
</script>


