<br>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Limite De Llamada</a>
							</li>
						</ul>
					</div>
					{% if Configuracion %}
					{% for Valor in Configuracion %}
					<form id="frmAgregarLimiteLlamada" name="frmAgregarLimiteLlamada">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									
									<br><br>
									<div class="section row">
										<div class="col-md-3"></div>
										<div class="col-md-5">
											<label for="TiempoLlamada" class="field prepend-icon">
												<input type="text" name="TiempoLlamada" id="TiempoLlamada" class="gui-input" placeholder="Limite de tiempo de la llamada" autocomplete="off" value="{{Valor.TiempoLlamada}}"/>
												<label for="TiempoLlamada" class="field-icon">
													<i class="fa fa-clock-o"></i>
												</label>
												<span class="help-block mt5">Formato de Tiempo hh:mm:ss</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="IdTiempoLlamada" name="IdTiempoLlamada" value="{{Valor.IdTiempoLlamada}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Limite Llamada </button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endfor %}								
					{% else %}
					<form id="frmAgregarLimiteLlamada" name="frmAgregarLimiteLlamada">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									
									<br><br>
									<div class="section row">
										<div class="col-md-3"></div>
										<div class="col-md-5">
											<label for="TiempoLlamada" class="field prepend-icon">
												<input type="text" name="TiempoLlamada" id="TiempoLlamada" class="gui-input" placeholder="Limite de tiempo de la llamada" autocomplete="off"/>
												<label for="TiempoLlamada" class="field-icon">
													<i class="fa fa-clock-o"></i>
												</label>
												<span class="help-block mt5">Formato de Tiempo hh:mm:ss</span>
											</label>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Limite Llamada </button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>

<script>
	$(document).ready(function(){
		$("#TiempoLlamada").mask("99:99:99");	
	});
</script>

<script>
	/* Guardar */
	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/LimiteLlamada/Agregar',
			data: jQuery('#frmAgregarLimiteLlamada').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#frmAgregarLimiteLlamada').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarLimiteLlamada').valid();
		if (isvalidate) {
			e.preventDefault();
			fnGuardar();
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>