<header id="topbar" class="ph10">
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-10 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Nuevo Supervisor</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_0" data-toggle="tab">General</a>
							</li>
							<li>
								<a href="#tab1_1" data-toggle="tab">Datos del Titular</a>
							</li>
							<li>
								<a href="#tab1_2" data-toggle="tab">Datos de Aval</a>
							</li>
							<li>
								<a href="#tab1_3" data-toggle="tab">Datos de Montos</a>
							</li>
							<li>
								<a href="#tab1_4" data-toggle="tab">Telefónos</a>
							</li>
						</ul>
					</div>

					<form method="POST" action="{{NeuralRutaApp}}/Supevisor/AgendaTelefonica/Agregar" id="frmAgregarAgendaTelefonica" name="frmAgregarAgendaTelefonica">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_0" class="tab-pane active">
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdCliente" name="IdCliente">
												<option value="" disabled="" selected="">Selecciona un Cliente</option>
												{% for Cliente in Clientes %}
												<option value="{{Cliente.idUsuario}}">{{Cliente.RazonSocial}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdGerencia" name="IdGerencia">
												<option value="" disabled="" selected="">Selecciona Tipo De Gerencia</option>
												{% for Gerencia in Gerencias %}
												<option value="{{Gerencia.IdGerencia}}">{{Gerencia.Descripcion}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
												<select class="form-control" id="IdCartera" name="IdCartera">
													<option value="" disabled="" selected="">Selecciona Tipo De Carteras</option>
													{% for Cartera in Carteras %}
													<option value="{{Cartera.IdCartera}}">{{Cartera.Descripcion}}</option>
													{% endfor %}
												</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="ClienteUnico" class="field prepend-icon">
												<input type="text" name="ClienteUnico" id="ClienteUnico" class="gui-input" placeholder="Cliente Único" autocomplete="off"/>
												<label for="ClienteUnico" class="field-icon">
													<i class="fa fa-file-text-o"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdCodigo" name="IdCodigo">
												<option value="" disabled="" selected="">Selecciona Código De Gestión</option>
												{% for Codigo in Codigos %}
												<option value="{{Codigo.IdCodigo}}">{{Codigo.Codigo}} {{Codigo.Descripcion}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
								<div id="tab1_1" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="NombreTitular" class="field prepend-icon">
												<input type="text" name="NombreTitular" id="NombreTitular" class="gui-input" placeholder="Nombre Completo" autocomplete="off"/>
												<label for="NombreTitular" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
										  <label for="DomicilioContractual" class="field prepend-icon">
											<textarea class="gui-textarea" id="DomicilioContractual" name="DomicilioContractual" placeholder="Domicilio Contractual"></textarea>
											  <label for="DomicilioContractual" class="field-icon">
												  <i class="fa fa-building"></i>
											  </label>
										  </label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<select class="form-control" id="IdProvincia" name="IdProvincia">
												<option value="">Selecciona la Provincias</option>
												{% for Provincia in Provincias %}
												<option value="{{Provincia.IdProvincia}}">{{Provincia.Descripcion}}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<div id="Distrito"></div>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="NombreAval" class="field prepend-icon">
												<input type="text" name="NombreAval" id="NombreAval" class="gui-input" placeholder="Nombre del Aval" autocomplete="off"/>
												<label for="NombreAval" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
					                      <label for="DomicilioAval" class="field prepend-icon">
					                        <textarea class="gui-textarea" id="DomicilioAval" name="DomicilioAval" placeholder="Domicilio del Aval"></textarea>
											  <label for="DomicilioAval" class="field-icon">
												  <i class="fa fa-building"></i>
											  </label>
					                      </label>
					                    </div>
									</div>

									<div class="section row">
										<div class="col-md-8">
					                      <label for="DistritoAval" class="field prepend-icon">
					                        <textarea class="gui-textarea" id="DistritoAval" name="DistritoAval" placeholder="Distrito del Aval"></textarea>
											  <label for="DistritoAval" class="field-icon">
												  <i class="fa fa-map-marker"></i>
											  </label>
					                      </label>
					                    </div>
									</div>
								</div>
								<div id="tab1_3" class="tab-pane">
										<div class="section row">
											<div class="col-md-8">
												<label for="SemanaAtraso" class="field prepend-icon">
													<input type="text" name="SemanaAtraso" id="SemanaAtraso" class="gui-input" placeholder="Semana de Atraso" autocomplete="off"/>
													<label for="SemanaAtraso" class="field-icon">
														<i class="fa fa-sun-o"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Saldo" class="field prepend-icon">
													<input type="text" name="Saldo" id="Saldo" class="gui-input" placeholder="Saldo" autocomplete="off"/>
													<label for="Saldo" class="field-icon">
														<i class="fa fa-money"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="SaldoTotal" class="field prepend-icon">
													<input type="text" name="SaldoTotal" id="SaldoTotal" class="gui-input" placeholder="Saldo Total" autocomplete="off"/>
													<label for="SaldoTotal" class="field-icon">
														<i class="fa fa-money"></i>
													</label>
												</label>
											</div>
										</div>	
								</div>
								<div id="tab1_4" class="tab-pane">
									
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono1" class="field prepend-icon">
													<input type="text" name="Telefono1" id="Telefono1" class="gui-input" placeholder="Telefóno Contacto 1" autocomplete="off"/>
													<label for="Telefono1" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono2" class="field prepend-icon">
													<input type="text" name="Telefono2" id="Telefono2" class="gui-input" placeholder="Telefóno Contacto 2" autocomplete="off" />
													<label for="Telefono2" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono3" class="field prepend-icon">
													<input type="text" name="Telefono3" id="Telefono3" class="gui-input" placeholder="Telefóno Contacto 3" autocomplete="off"/>
													<label for="Telefono3" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
										<div class="section row">
											<div class="col-md-8">
												<label for="Telefono4" class="field prepend-icon">
													<input type="text" name="Telefono4" id="Telefono4" class="gui-input" placeholder="Telefóno Contacto 4" autocomplete="off"/>
													<label for="Telefono4" class="field-icon">
														<i class="fa fa-phone"></i>
													</label>
												</label>
											</div>
										</div>
								</div>
									<div class="section row mbn">
										<div class="col-sm-8">
											<label class="switch block mt15">
												<input type="checkbox" name="StatusRegistro" id="StatusRegistro"  checked>
												<label for="StatusRegistro" data-on="SI" data-off="NO"></label>
												<span>Registro Activo</span>
											</label>
										</div>
									</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt">
				 			<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Información Del Cliente</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$(function() {
		jQuery("#Saldo").maskMoney({prefix:'S/.', allowNegative: true, thousands:',', decimal:'.', affixesStay: false});
		jQuery("#SaldoTotal").maskMoney({prefix:'S/.', allowNegative: true, thousands:',', decimal:'.', affixesStay: false});
		jQuery("#NombreTitular").focus();
		jQuery("#Telefono1").mask("99999999?9");
		jQuery("#Telefono2").mask("99999999?9");
		jQuery("#Telefono3").mask("99999999?9");
		jQuery("#Telefono4").mask("99999999?9");
	});
</script>
{{Scripts|raw}}

<script>
	/* Guardar */
	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/Agregar',
			data: jQuery('#frmAgregarAgendaTelefonica').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#IdProvincia').change(function () {
		var numero =document.getElementById("IdProvincia").value;
		var to=document.getElementById("Distrito");
		to.innerHTML="buscando....";
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/Distritos",
			data: 'IdProvincia='+numero,
			success: function(data) {
				jQuery('#Distrito').html(data);
			}
		});
	}).change();
</script>

<script>
	jQuery('#frmAgregarAgendaTelefonica').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarAgendaTelefonica').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#IdCliente").val() == ''){
			error = false;
		}
		if(jQuery("#IdGerencia").val() == '' || jQuery("#IdGerencia").val() == null){
			error = false;
		}
		if(jQuery("#IdCartera").val() == '' || jQuery("#IdCartera").val() == null){
			error = false;
		}
		if(jQuery("#ClienteUnico").val() == ''){
			error = false;
		}
		if(jQuery("#NombreTitular").val() == ''){
			error = false;
		}
		if(jQuery("#DomicilioContractual").val() == ''){
			error = false;
		}
		if(jQuery("#IdProvincia").val() == '' || jQuery("#IdProvincia").val() == null){
			error = false; 
		}
		if(jQuery("#IdDistrito").val() == '' || jQuery("#IdDistrito").val() == null){
			error = false;
		}
		if(jQuery("#IdCodigo").val() == ''){
			error = false;
		}
		if(jQuery("#SemanaAtraso").val() == ''){
			error = false;
		}
		if(jQuery("#Saldo").val() == ''){
			error = false;
		}
		if(jQuery("#SaldoTotal").val() == ''){
			error = false;
		}
		return error;
	}
</script>