<select class="form-control" id="IdDistrito" name="IdDistrito">
	<option value="">Selecciona el Distrito</option>
	{% for Distrito in Distritos %}
	<option value="{{Distrito.IdDistrito}}">{{Distrito.Descripcion}}</option>
	{% endfor %}
</select>