<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>

<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right ">
		<a href="#" onclick="javascript: frmAgregar();" class="btn btn-success btn-sm fw600 ml10">
			<span class="fa fa-plus pr5"></span> Agregar Nueva Provincia</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

			<input type="hidden" id="TotalRegistros" value="{{TotalRegistros}}">
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Provincias</div>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="bootgrid" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th data-column-id="Descripcion" data-sortable="false" data-align="center" data-header-align="center">Provincia</th>
							<th data-formatter="Acciones" data-align="center" data-sortable="false" data-header-align="center">Acciones</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script>
jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    {
			        return {
			            TotalRegistros: $("#TotalRegistros").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Supervisor/Provincia/ConsultarProvinciasPagina",
			    formatters: {
			        "Acciones": function(column, row)
			        {	
			        	return "<a class=\"btn btn-default btn-xs shiny icon-only yellow\" href='javascript: frmEditar(\""+row.IdProvincia +"\");'><i class=\"fa fa-pencil-square-o\"></i></a><a class=\"btn btn-default btn-xs shiny icon-only danger\" href='javascript: fnEliminarRegistro(\""+row.IdProvincia+"\");'><i class=\"fa fa-trash-o\"></i></a>";
					}
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
		});
</script>
