<header id="topbar" class="ph10">
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Nueva Provincia</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Datos Generales</a>
							</li>
						</ul>
					</div>

					<form method="POST"  id="frmAgregarProvincia" name="frmAgregarProvincia">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									<div class="section row">
										<div class="col-md-8">
											<label for="Descripcion" class="field prepend-icon">
												<input type="text" name="Descripcion" id="Descripcion" class="gui-input" placeholder="Descripción de la Provincia" autocomplete="off"/>
												<label for="Descripcion" class="field-icon">
													<i class="fa fa-pencil-square-o"></i>
												</label>
											</label>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Información de Provincia</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/fileupload/fileupload.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script>
	jQuery(function($){
		jQuery("#Nombres").focus();
		jQuery("#TelefonoCasa").mask("(999) 9999-999");
		jQuery("#TelefonoMovil").mask("(999) 9999-9999");
	});
</script>
{{Scripts|raw}}

<script>
	/* Guardar */
	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Provincia/Agregar',
			data: jQuery('#frmAgregarProvincia').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#frmAgregarProvincia').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarProvincia').valid();
		if (isvalidate) {
			e.preventDefault();
			fnGuardar();
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>