
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Registro de Troncales </span>
					</div>
					<form method="POST" id="frmGuardarTroncales" name="frmGuardarTroncales">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
									<div class="section row">
									<div class="col-md-2"></div>
									<div class="col-md-8">
									<div class="section row">
										<div class="col-md-12">
											<label for="NombreTroncal" class="field prepend-icon">
												<input type="text" name="NombreTroncal" id="NombreTroncal" class="gui-input" placeholder="Nombre Troncal" autocomplete="off" />
												<label for="NombreTroncal" class="field-icon">
													<i class="glyphicons glyphicons-cloud"></i>
												</label>
											</label>
										</div>	
									</div>
									<div class="section row">									
										<div class="col-md-12">
											<label for="Descripcion" class="field prepend-icon">
												<textarea name="Descripcion" id="Descripcion" class="form-control" placeholder="Descripción" rows="3"></textarea>
												<label for="Descripcion" class="field-icon">
													<i class="fa fa-date"></i>
												</label>
											</label>
										</div>										
									</div>
									<div class="section row">
										<div class="col-md-12">
											<label for="Ip" class="field prepend-icon">
												<input type="text" name="Ip" id="Ip" class="gui-input" placeholder="IP o Diminio" autocomplete="off" />
												<label for="Ip" class="field-icon">
													<i class="glyphicons glyphicons-cloud"></i>
												</label>
											</label>
										</div>	
									</div>
									<div class="section row">
										<div class="col-md-12">
											<label for="CodigoPais" class="field prepend-icon">
												<input type="text" name="CodigoPais" id="CodigoPais" class="gui-input" placeholder="Código de Pais" autocomplete="off" />
												<label for="CodigoPais" class="field-icon">
													<i class="glyphicons glyphicons-cloud"></i>
												</label>
											</label>
										</div>	
									</div>
									<div class="section row">
										<div class="col-md-12">
											<label for="PrefijoSalida" class="field prepend-icon">
												<input type="text" name="PrefijoSalida" id="PrefijoSalida" class="gui-input" placeholder="Prefijo de Salida" autocomplete="off" />
												<label for="PrefijoSalida" class="field-icon">
													<i class="glyphicons glyphicons-cloud"></i>
												</label>
											</label>
										</div>	
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Troncal</button>
									</p>
								</div>
							</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	jQuery(function($){
		jQuery("#NombreTroncal").focus();
	//	jQuery("#Ip").mask('099.099.099.099');
	});
</script>

{{Scripts|raw}}

<script>
	/* Guardar configuracion */
	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/RegistroTroncales/GuardarTroncales',
			data: jQuery('#frmGuardarTroncales').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}
</script>

<script>
	jQuery('#frmGuardarTroncales').on('submit', function(e){
		var isvalidate = jQuery('#frmGuardarTroncales').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#NombreTroncal").val() == ''){
			error = false;
		}
		if(jQuery("#Descripcion").val() == ''){
			error = false;
		}
		return error;
	}
</script>