<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <i class="fa fa-warning pr10"></i>
  <strong>Error!</strong> Algo va mal,
  <a href="#" class="alert-link">hubo un error de consulta.</a>.
</div>