<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado de registros de Clientes con Compromiso de Pago</div>
					<input type="hidden" id="Criterios" name="Criterios" value="{{Criterios}}"/>
					<input type="hidden" id="Total" name="Total" value="{{Total}}"/>				
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="bootgrid" cellspacing="0" width="100%">
						<thead>
						<tr>							
							<th data-column-id="ClienteUnico" data-sortable="false">Cliente Único</th>
							<th data-column-id="NombreTitular" data-sortable="false">Nombre Titular</th>
							<th data-column-id="SemanaAtraso" data-align="center" data-sortable="false">Semana de Atraso</th>
							<th data-column-id="Saldo" data-sortable="false">Saldo</th>
							<th data-column-id="SaldoTotal" data-sortable="false">Saldo Total</th>
							<th data-formatter="Codigo" data-sortable="false" data-align="center" data-header-align="center" data-width="80px"> Código</th>
							<th data-formatter="Accion" data-align="center" data-header-align="center" data-sortable="false">Historial</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    { 
			        return {
			        	Criterios: $("#Criterios").val(),
			            Total: $("#Total").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Agente/FiltradoCompromisoPago/ConsultaClientesPagina",
			    formatters: {					
					"Accion": function(column, row)
					{	
						return '<a class="btn btn-primary" href=\'javascript: fnLineaTiempo("'+row.IdDatoAgenda+'");\'><span class="fa fa-search"></span></a>';
					},
					"Codigo": function(column, row)
					{
						return '<span class="label label-default" style="background: '+row.Color+'; color: '+row.Color+';">--</span>';
					}
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
	});
</script>