<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">

<section id="content" class="animated fadeIn">
	<div class="tray tray-center">

		<div class="admin-panels mw700 center-block" >
		<div class="row mt20">
			<div class="col-md-12 admin-grid" data-animate='["400","fadeIn"]'>
				<div class="panel sort-disable mb50 panel-dark" id="p0" data-panel-title="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-collapse="false" data-panel-fullscreen="false">
			 		<div class="panel-heading">
						<span class="panel-icon">
                        	<i class="fa fa-minus"></i>
                      	</span> &nbsp;
						FILTRADO POR SEMANAS DE ATRASO
			 		</div>
						<div class="panel-body p40 pb10">
							<form  id="frmFiltrosClientes" name="frmFiltrosClientes">
							<div class="tab-content pn br-n admin-form">
								<div class="section row">
									<div class="col-md-2"></div>
									<div class="col-md-8">
   										<label for="Semanas">Semanas de Atraso</label>	
  										<br />
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="SemanaAtraso">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSemanas" name="minimoSemanas" class="form-control" placeholder="Mínimo" value=""/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSemanas" name="maximoSemanas" class="form-control" placeholder="Máximo" value=""/>
												  </div>
											</div>
	                        			</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-alert btn-rounded" type="submit" ><span class="fa fa-search "></span>&nbsp; Buscar cliente(s) por criterio  </button>
									</p>
								</div>
							</div>
							</form>
						</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-12 admin-grid">
				<div id="AreaConsulta"></div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
<script>
	jQuery(document).ready(function() {
		jQuery("#minimoSemanas").focus();

   	});
</script>
<script>
	/* Consultar Clientes*/
	function fnConsultar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/FiltroSemanasAtraso/ConsultarClientes',
			data: jQuery('#frmFiltrosClientes').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaConsulta").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreaConsulta").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmFiltrosClientes').on('submit', function(e){
		var isvalidate = jQuery('#frmFiltrosClientes').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnConsultar();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnValidacion(){
		var Error = true;
		if(jQuery("#minimoSemanas").val() == "" || jQuery("#maximoSemanas").val() == "" ){
			Error = false;
		}
		return Error;
	}
</script>