<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>

<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
		<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Modificaciones de Agentes</div>
			            <input type="hidden" id="ToltalRegistros" name="ToltalRegistros" value="{{ToltalRegistros}}"/>
				</div>
              <div class="panel-body bg-ligth">
                <table class="table table-condensed table-hover table-striped text-center" id="bootgrid" cellspacing="0" width="100%">
                  <thead>
                    <tr>
					  	<th data-column-id="Fecha" data-sortable="false">Fecha</th>
						<th data-column-id="Hora" data-sortable="false">Hora</th>
						<th data-column-id="Agente" data-sortable="false">Agente</th>
						<th data-column-id="ClienteUnico"data-sortable="false">Cliente Unico</th>
						<th data-column-id="Registro"data-sortable="false" data-header-align="center">Registro</th>
					</tr>
                  </thead>
                </table>
              </div>
      		</div>
		</div>
     </div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script>
jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    {
			        return {
			            ToltalRegistros: $("#ToltalRegistros").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Supervisor/Bitacora/ListadoPagina",
			    formatters: {
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
		});
</script>
