<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="col-sm-8 col-lg-8 col-md-8">
				<div class="panel panel-dark">
					<div class="panel-heading">
						<span class="panel-title">Sistema De Gestión de Cobranzas 1.0</span>
						<div class="widget-menu pull-right">
						</div>
					</div>
					<div class="panel-body text-center">
						<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo.gif" class="img-responsive center-block w280"></img>
						<h6>Sistema Para El Control Y Administración De Cobros De La Empresa ZICOM Group.</h6>
					</div>
				</div>
		</div>

	</div>
</section>
