<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">

<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>

<script src="{{NeuralRutaWebPublico}}/vendor/plugins/fileupload/fileupload.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/js/jquery.maskMoney.js"></script>

<!-- PNotify -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<style>
	/*demo button styles*/
	.contextual-demo a {
		padding: 9px 4px;
		width: 9.5%;
	}
	.contextual-demo a + a {
		margin-left: 0.5%;
	}
	.contextual-demo-alt a {
		padding: 9px 4px;
		width: 15%;
	}
	.contextual-demo-alt a + a {
		margin-left: 0.5%;
	}

	/*responsive demo button styles*/
	@media(max-width: 800px) {
		.contextual-demo a {
			padding: 9px 4px;
			width: 23%;
		}
		.contextual-demo a + a {
			margin-left: 0.5%;
		}
		.contextual-demo-alt a {
			padding: 9px 4px;
			width: 28%;
		}
		.contextual-demo-alt a + a {
			margin-left: 0.5%;
		}
	}
</style>

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>

<script>



	/* Listado */
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Bitacora/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}

	function msjError(msj){
		var Mensaje = new PNotify({
			title: 'Error',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}

	function fnAsignacionAgentes(Id){
		jQuery.ajax({
			data: {id: Id},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/frmReAsignacionAgentes',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Asignación Del Registro Al Agente"
				});
			}
		});
	}

	fnListado();
</script>