<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>

<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
		<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado de grabaciones</div>
						<input type="hidden" id="Consulta" name="Consulta" value="{{Condiciones}}"/>
			            <input type="hidden" id="ToltalRegistros" name="ToltalRegistros" value="{{Total}}"/>
				</div>
              <div class="panel-body bg-ligth">
                <table class="table table-condensed table-hover table-striped text-center" id="bootgrid" cellspacing="0" width="100%">
                  <thead>
                    <tr>
					  	<th data-column-id="Nombres" data-sortable="false">Agente</th>
						<th data-column-id="NumeroTelefono" data-sortable="false">Número Telefónico</th>
						<th data-column-id="duration" data-sortable="false">Duración</th>
						<th data-column-id="FechaHora_Captura"data-sortable="false">Fecha Gestión</th>
						<th data-column-id="NombreTitular" data-sortable="false">Nombre de Cliente</th>
						<th data-column-id="Escuchar" data-formatter="Escuchar" data-align="center" data-sortable="false" data-header-align="center">Acciones</th>
                    </tr>
                  </thead>
                </table>
              </div>
      		</div>
		</div>
     </div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script>
jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    {
			        return {
			            Consulta: $("#Consulta").val(),
			            ToltalRegistros: $("#ToltalRegistros").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/ConsultarGrabacionesPagina",
			    formatters: {
			        "Escuchar": function(column, row)
			        {	
			        	if(row.Grabacion == "SI")
			            	return 	"<a class=\"btn btn-primary command-edit\" data-row-id=\"" + row.uniqueid + "\"><span class=\"text-center glyphicons glyphicons-headphones\"></span></a>";
			        	else
			        		return '<a class="btn btn-primary disabled"><span class="glyphicons glyphicons-headphones"></span></a>';
					}
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			}).on("loaded.rs.jquery.bootgrid", function()
			{
			    grid.find(".command-edit").on("click", function(e)
			    {
			        fnEscucharGrabacion($(this).data("row-id"));
			    });
			});
		});
</script>
<script>
	function fnEscucharGrabacion(uniqueId){
		jQuery.ajax({
			type: "POST",
			url: "{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/VerGrabacion",
			data: {uniqueid : uniqueId},
			success: function(data) {
				bootbox.dialog({
				message: data,
				title: "Audio Grabación"
				});
			}
		});
	}
</script>