<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>
<header id="topbar" class="ph10">
	<div class="topbar-left">
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Gestion de Campo </div>
						<input type="hidden" id="Total" name="Total" value="{{Total}}"/>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="bootgrid" cellspacing="0" width="100%">
						<thead>
						<tr>							
							<th data-formatter="StatusTelefono" data-sortable="false">Teléfonos </th>
							<th data-column-id="Nombres" data-sortable="false">Agente</th>
							<th data-column-id="NombreTitular" data-sortable="false">Titular</th>
							<th data-column-id="FechaHora_Captura" data-width="150px" data-sortable="false">Fecha de Captura</th>
							<th data-column-id="Nombre_Gestor" data-sortable="false">Tipo de Pago</th>
							<th data-column-id="Fecha_Visita" data-sortable="false">Fecha visita</th>
							<th data-column-id="Observaciones" data-sortable="false">Detalle</th>
							<th data-formatter="Compromiso"data-align="center" data-header-align="center" data-sortable="false">Compromiso</th>
							<th data-formatter="Acciones" data-align="center" data-header-align="center"  data-width="150px" data-sortable="false">Gestión</th>	
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			var i = 0;
			var grid = $("#bootgrid").bootgrid({
			    ajax: true,
			    post: function ()
			    { 
			        return {
			            TotalRegistros: $("#Total").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Agente/GestionCampo/ConsultaPagina",
			    formatters: {
			        "StatusTelefono": function(column, row)
			        {	
			        	if(row.StatusTelefono == "DISPONIBLE")
			            	return 	'<span class="label label-info"> Disponibles </span>';
			        	else
			        		return '<span class="label label-warning"> No disponibles </span>';
					},
					"Compromiso": function(column, row)
					{
						if (row.Compromiso == "SI" )
							return '<span class="label label-primary">'+row.Compromiso+'</span>';
						else 
							if(row.Compromiso == null){
								return '';
							}
							else{
								return '<span class="label label-default">'+row.Compromiso+'</span>';	
							}
					},
					"Captura": function(column, row)
					{
						if (row.Status == "CAPTURADO")
							return '<span class="label label-success">'+ row.Status +'</span>';
					 	else
							return '<a class="label label-warning" href=\'javascript: frmCapturar("'+ row.idGestionTelefonica +'");\'><span class="glyphicon glyphicon-edit"></span> CAPTURAR</a>';
					},
					
					"Acciones": function(column, row)
					{	
						return '<a class="btn btn-primary btn-sm" href=\'javascript: fnGestionTelefonica("'+row.IdDatoAgenda+'");\'><span class="glyphicons glyphicons-headset pr5"></span></a>&nbsp'+
								'<a  class="btn btn-round btn-primary btn-sm " href=\'javascript: fnGestionCampo("'+row.IdDatoAgenda+'");\'><span class="glyphicons glyphicons-bus pr5"></span></a>&nbsp'+
								'<a class="btn btn-primary btn-sm" href=\'javascript: fnGestionManual("'+row.IdDatoAgenda+'");\'><span class="glyphicons glyphicons-edit"></span></a>';
					}
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
	});
</script>