<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="bs-component">
				<div class="alert alert-info alert-dismissable mb30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
					<h3 class="mt5">Acceso no permitido!</h3>
					<p>No tiene permisos para generar reportes excel.</p>
					<br/>
				</div>
			</div>
		</div>
	</div>
</section>