
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8 admin-grid">
				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<form method="POST" id="frmVerTroncales" name="frmVerTroncales">
						<div class="section row" style="padding:2em">
						
							<select class="form-control" id="IdTroncal" name="IdTroncal">
							{% for Valor in Troncales%}
								{%if Valor.IdTroncal == Asignacion.IdTroncal%}
								<option value="{{Valor.IdTroncal}}" selected="">{{Valor.NombreTroncal}}</option>
								{% else %}
								<option value="{{Valor.IdTroncal}}">{{Valor.NombreTroncal}}</option>
								{%endif%}
							{% endfor %}
							</select>
						</div>
						<input type="hidden" name="IdTroncalAsignada" value="{{Asignacion.IdTroncalAsignada}}"/>
						<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<div class="col-md-12">
								<p class="text-right">
									<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Asignar Troncal</button>
								</p>
							</div>						
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}

<script>
	jQuery('#frmVerTroncales').on('submit', function(e){
		var isvalidate = jQuery('#frmVerTroncales').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnAsignar();
				bootbox.hideAll();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = false;
		if($("IdTroncal").val() != ""){
			error = true;
		}
		return error;
	}
</script>
<script>
	function fnAsignar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/AsignacionTroncales/Reasignar',
			data: jQuery('#frmVerTroncales').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>