<div id="modal-form2" class=" popup-basic admin-form mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
              <span class="panel-title">
                <i class="glyphicons glyphicons-lock"></i> Contactar con el Supervisor</span>
		</div>
		<!-- end .panel-heading section -->

		<form id="frmContacto" name="frmContacto" >
			<div class="panel-body p25">
				<hr class="short alt">
				<div class="text-center">
					<button type="submit" class="button btn-success lg"><span class="fa fa-phone pr5"></span>Marcar al Supervisor </button>
				</div>

			</div>

		</form>
	</div>
</div>
{{ScriptPerfil|raw}}
<script>
	/* Guardar Nueva Contraseña */
	function fnGuardarNuevoPassword(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Perfil/Index',
			data: jQuery('#frmCambioPassword').serialize(),
			type: 'POST',
			beforeSend: function () {
				//jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				//jQuery("#AreContenido").html(data);
				var magnificPopup = jQuery.magnificPopup.instance;
				magnificPopup.close();
				alert(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmCambioPassword').on('submit', function(e){
		var isvalidate = jQuery('#frmCambioPassword').valid();
		if (isvalidate) {
			e.preventDefault();
			fnGuardarNuevoPassword();
		}
	});
</script>