<li class="menu-divider hidden-xs">
	<i class="fa fa-circle"></i>
</li>
<li class="dropdown menu-merge">
	<a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
		<img src="{{NeuralRutaWebPublico}}/assets/img/avatars/placeholder.png" alt="avatar" class="mw30 br64" id="imagen2">
		<span class="hidden-xs pl15"> {{ Usuario }} </span>
		<span class="caret caret-tp hidden-xs"></span>
	</a>
	<ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
		<li class="dropdown-header clearfix">
			<div class="pull-left ml10">
				<select id="user-status">
					<optgroup label="Estado del usuario:">
						<option value="1-1">Ocupado</option>
						<option value="1-2">Desconectado</option>
						<option value="1-3" selected="selected">En linea</option>
					</optgroup>
				</select>
			</div>
		</li>

		<li class="list-group-item">
			<a id="ConfigurarPerfil" href="#modal-form" class="animated animated-short fadeInUp">
				<span class="fa fa-lock"></span> Cambio de Contraseña </a>
		</li>

		<li class="list-group-item">
			<a id="ConfigurarImagen" href="#modal-form2" class="animated animated-short fadeInUp">
				<span class="fa fa-gear"></span> Editar Información del Usuario </a>
		</li>
		<li class="list-group-item">
			<a id="Marcar" href="#modal-form3" class="animated animated-short fadeInUp">
				<span class="glyphicons glyphicons-headset"></span> Contactar Supervisor </a>
		</li>
		<li class="dropdown-footer">
			<a href="{{NeuralRutaApp}}/LogOut" class="">
				<span class="fa fa-power-off pr5"></span> Salir </a>
		</li>
	</ul>
</li>


<div id="modal-form3" class=" popup-basic admin-form mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
              <span class="panel-title">
                <i class="glyphicons glyphicons-headset"></i> Contactar con el Supervisor</span>
		</div>
		<!-- end .panel-heading section -->

		<form id="frmContacto" name="frmContacto" >
			<div class="panel-body p25">
				<div class="text-center">
					<a href="javascript: fnMarcar()" id="BotonDeMarcado" class="button btn-rounded btn-success lg"><span class="fa fa-phone pr5"></span>Marcar al Supervisor </a>
				</div>
			</div>
		</form>
	</div>
</div>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<script>
	function mostrarImagen(){
			var data = '{{Imagen}}';
			if(data != ""){
				var bytes = new Uint8Array(data.length / 2);

				for (var i = 0; i < data.length; i += 2) {
				    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
				}
				
				// Make a Blob from the bytes
				var blob = new Blob([bytes], {type: 'image/jpeg'});
				
				// Use createObjectURL to make a URL for the blob
				var image = new Image();
				image.src = URL.createObjectURL(blob);
				$("#imagen2").attr('src', image.src);	
			}
	}
	mostrarImagen();
</script>

<script>
	jQuery('#ConfigurarPerfil').on('click', function() {
		jQuery('#frmCambioPassword')[0].reset();
		jQuery("#PasswordActual").focus();
		jQuery.magnificPopup.open({
			removalDelay: 800,
			items: {
				src: '#modal-form'
			},
			callbacks: {
				beforeOpen: function(e) {
					var Animation = 'mfp-flipInX';
					this.st.mainClass = Animation;
				}
			},
			midClick: true
		});

	});
	jQuery('#ConfigurarImagen').on('click', function() {
		jQuery('#frmCambioImagen')[0].reset();
		jQuery.magnificPopup.open({
			removalDelay: 800,
			items: {
				src: '#modal-form2'
			},
			callbacks: {
				beforeOpen: function(e) {
					var Animation = 'mfp-flipInX';
					this.st.mainClass = Animation;
				}
			},
			midClick: true
		});

	});
</script>


<script>
	jQuery('#Marcar').on('click', function() {
		jQuery.magnificPopup.open({
			removalDelay: 3800,
			items: {
				src: '#modal-form3'
			},
			callbacks: {
				beforeOpen: function(e) {
					var Animation = 'mfp-flipInX';
					this.st.mainClass = Animation;
				}
			},
			midClick: true
		});
	});
</script>
<script>
	var interval = false;
	
	function msjFallo(msj){
		var Mensaje = new PNotify({
			title: 'Fallo',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
	function msjAlerta(msj){
		var Mensaje = new PNotify({
			title: 'Alerta',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'info',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
	function fnMarcar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/MarcacionSupervisor/Marcacion',
			async:true,
			cache:false,
			error: function(){
					msjFallo('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
			},
			beforeSend: function () {
				jQuery("#BotonDeMarcado").html('<span class="glyphicon glyphicon-earphone pr5"></span> Llamada En Espera..');
			},
			success: function(Response) {
					if(Response == 'Fallo'){
						msjError('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
					}
					if(Response == 'Error'){
						msjAlerta('La llamada no se pudo a completar.');
					}
					if(Response == 'Success'){
						jQuery("#BotonDeMarcado").html('<span class="glyphicon glyphicon-earphone pr5"></span> Llamada En Curso..');
						interval = setInterval('MonitorAgente()', 6000);
					}
			}
		});	
	}

	/* Verifica los estados de agente */
	function MonitorAgente(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/MarcacionSupervisor/MonitorAgente',
			async: true,
			cache: false,
			dataType: 'text',
			timeout: 50000,
			error: function(){
				msjFallo('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
			},
			success: function(data) {
				var respuesta = data;
				if(respuesta == 'Idle'){
						var Tiempo = jQuery("#Timer").text();
						jQuery("#texto").html('<h3>'+ Tiempo +'</h3>');
						jQuery("#BotonDeMarcado").html('<span class="fa fa-phone pr5"></span>Marcar al Supervisor');
						jQuery("#BotonDeMarcado").removeAttr('disabled');
						clearInterval(interval);
				}
			}
		});
	}
</script>

