<div class="sidebar-widget author-widget">
	<div class="media">
		<a class="media-left" href="#" id="UserImage">
			<img src="{{NeuralRutaWebPublico}}/assets/img/avatars/placeholder.png" class="img-responsive">
		</a>
		<div class="media-body">
			<div class="media-links">
				<a href="#" class="sidebar-menu-toggle">{{ TipoUsuario }}, </a> <a href="{{NeuralRutaApp}}/LogOut">Salir</a>
			</div>
			<div class="media-author">{{ Usuario }}</div>
		</div>
	</div>
</div>

<script>
	function mostrarImagen(){
			var data = '{{Imagen}}';
			if (data != ""){
				var bytes = new Uint8Array(data.length / 2);

				for (var i = 0; i < data.length; i += 2) {
				    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
				}
				
				// Make a Blob from the bytes
				var blob = new Blob([bytes], {type: 'image/jpeg'});
				
				// Use createObjectURL to make a URL for the blob
				var image = new Image();
				image.src = URL.createObjectURL(blob);
				$("#UserImage").html(image);	
			}
	}
	mostrarImagen();
</script>