<footer id="content-footer" class="affix">
	<div class="row">
		<div class="col-md-6">
			<a href="http://tecapacitate.com" target="_blank" class="footer-legal">©2015 Tec Capacitate</a>
		</div>
		<div class="col-md-6 text-right">
			<span class="footer-meta">ZICOM GROUP</span>
			<a href="#content" class="footer-return-top">
				<span class="fa fa-arrow-up"></span>
			</a>
		</div>
	</div>
</footer>