<div class="animated fadeIn">
	<div class="panel sort-disable">
		<div class="panel-heading">
			<ul class="nav panel-tabs panel-tabs-left">
				<li class="active">
					<a href="#tab1_1" data-toggle="tab"> Datos Titular</a>
				</li>
				<li>
					<a href="#tab1_2" data-toggle="tab"><i class="fa fa-thumbs-up"></i> Datos Aval</a>
				</li>
			</ul>
		</div>
		<form id="frmEditarDatosCliente" name="frmEditarDatosCliente" >
			<div class="panel-body p20 pb10">
					<div class="tab-content pn br-n admin-form">
					<div id="tab1_1" class="tab-pane active">
						<div class="section row">
							<label for="Telefono1" class="col-md-3 control-label">Teléfono 1</label>
							<div class="col-md-8">
								<label for="Telefono1" class="field prepend-icon">
									<input type="text" name="Telefono1" id="Telefono1" class="form-control" placeholder="Teléfono 1" value="{{Cliente.Telefono1}}" />
									<label for="ClienteUnico" class="field-icon">
										<i class="fa fa-phone"></i>
									</label>
								</label>
							</div>
						</div>
						<div class="section row">
							<label for="Telefono2" class="col-lg-3 control-label">Teléfono 2</label>
							<div class="col-lg-8">
								<label for="Telefono2" class="field prepend-icon">
									<input type="text" name="Telefono2" id="Telefono2" class="form-control" placeholder="Teléfono 2" value="{{Cliente.Telefono2}}" />
									<label for="ClienteUnico" class="field-icon">
										<i class="fa fa-phone"></i>
									</label>
								</label>
							</div>
						</div>
						<div class="section row">
							<label for="Telefono3" class="col-lg-3 control-label">Teléfono 3</label>
							<div class="col-lg-8">
								<label for="Telefono3" class="field prepend-icon">
									<input type="text" name="Telefono3" id="Telefono3" class="form-control" placeholder="Teléfono 3" value="{{Cliente.Telefono3}}"/>
									<label for="ClienteUnico" class="field-icon">
										<i class="fa fa-phone"></i>
									</label>
								</label>
							</div>
						</div>
						<div class="section row">
							<label for="Telefono4" class="col-lg-3 control-label">Teléfono 4</label>
							<div class="col-lg-8">
								<label for="Telefono4" class="field prepend-icon">
									<input type="text" name="Telefono4" id="Telefono4" class="form-control" placeholder="Teléfono 4" value="{{Cliente.Telefono4}}" />
									<label for="ClienteUnico" class="field-icon">
										<i class="fa fa-phone"></i>
									</label>
								</label>
							</div>
						</div>
						<div class="section row">
							<label  class="col-lg-3 control-label">Domicilio</label>
							<div class="col-lg-8">
								<label for="DomicilioContractual" class="field prepend-icon">
									<textarea class="form-control" id="DomicilioContractual" name="DomicilioContractual" placeholder="Domicilio Contractual">{{Cliente.DomicilioContractual}}</textarea>
									<label for="DomicilioContractual" class="field-icon">
										<i class="fa fa-file-text-o"></i>
									</label>
								</label>
							</div>
						</div>
					</div>
					<div id="tab1_2" class="tab-pane">
						<div class="section row">
							<label  class="col-lg-3 control-label">Domicilio Aval</label>
							<div class="col-lg-8">
								<label for="DomicilioAval" class="field prepend-icon">
									<textarea class="form-control" id="DomicilioAval" name="DomicilioAval" placeholder="Domicilio Aval">{{Cliente.DomicilioAval}}</textarea>
									<label for="DomicilioAval" class="field-icon">
										<i class="fa fa-file-text-o"></i>
									</label>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<input type="hidden" id="Key" name="Key" value="{{Key}}" />
			<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdDatoAgenda}}"/>
				<div class="text-right">
					<a href="#" onclick="javascript: fnCancelar();" class="btn btn-warning	">
						<span class="fa fa-times pr5"></span> Cancelar
					</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="btn btn-primary" type="submit">
						<span class="glyphicons glyphicons-refresh pr5"></span> &nbsp; Actualizar Datos
					</button>
				</div>
			
		</form>
	</div>
</div>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script>
	$(function() {
		jQuery("#Telefono1").focus();
		jQuery("#Telefono1").mask("99999999?9");
		jQuery("#Telefono2").mask("99999999?9");
		jQuery("#Telefono3").mask("99999999?9");
		jQuery("#Telefono4").mask("99999999?9");
	});
</script>

<script>
	function fnCancelar(){
		bootbox.hideAll();
	}
</script>

<script>
	$("#frmEditarDatosCliente").on('submit', function(e){
		var isvalidate = jQuery('#frmEditarDatosCliente').valid();
		if (isvalidate) {
			e.preventDefault();
			fnActualizarDatosCliente();			
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>

<script>
	function fnActualizarDatosCliente(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/GestionCampo/ActualizarDatosCliente',
			data: jQuery('#frmEditarDatosCliente').serialize(),
			type: 'POST',
			success: function (data) {
			//	jQuery("#AreContenido").html(data);
				bootbox.hideAll();
				msjExito("Los datos han sido guardados.")
			}
		});
	}
</script>
<script>
	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
</script>
