<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right ">
		<a href="#" onclick="javascript: frmAsignarCarga();" class="btn btn-success btn-sm fw600 ml10">
			<span class="fa fa-plus pr5"></span> Asignar Carga Laboral</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Carga Laboral Asignada a Agentes</div>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th class="text-center">#</th>
							<th class="text-center">Agente</th>
							<th class="text-center">Registros Asignados</th>
							<th class="text-center">Acciones</th>
						</tr>
						</thead>
						<tbody>
						{% set Contador = 0 %}
						{% for Valor in Consulta %}
							{% set Contador = Contador + 1 %}
						<tr>
							<td class="text-center">{{Contador}}</td>
							<td class="text-center">{{Valor.Nombres}} {{Valor.ApellidoPaterno}} {{Valor.ApellidoMaterno}}</td>
							<td class="text-center">{{Valor.Cantidad}}</td>
							
							<td class="text-center">
								{% if Valor.Cantidad == 0 %}
								<a class="btn btn-default btn-xs disabled"><i class="fa fa-search"></i></a>
								{% else %}
								<a class="btn btn-primary btn-xs shiny icon-only yellow" href='javascript: fnVerClientes("{{ Valor.IdAgente|Cifrado }}");'><i class="fa fa-search"></i></a>
								{% endif %}
							</td>
						</tr>
						{% endfor %} 
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>

<script type="text/javascript">
	jQuery(document).ready(function() {

		// Init DataTables
		$('#datatable2').dataTable({
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>
