<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Nuevo Agente</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Datos Generales</a>
							</li>
							<li>
								<a href="#tab1_2" data-toggle="tab">Datos De La Cuenta</a>
							</li>
						</ul>
					</div>

					{% for Valor in Consulta %}
					<form id="frmEditarAgente" name="frmEditarAgente">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">

									<div class="section row">

										<div class="col-md-4">
											<label for="Nombres" class="field prepend-icon">
												<input type="text" name="Nombres" id="Nombres" class="gui-input" placeholder="Nombre(s)" value="{{Valor.Nombres}}">
												<label for="Nombres" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoPaterno" class="field prepend-icon">
												<input type="text" name="ApellidoPaterno" id="ApellidoPaterno" class="gui-input" placeholder="Apellido Paterno" value="{{Valor.ApellidoPaterno}}">
												<label for="ApellidoPaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoMaterno" class="field prepend-icon">
												<input type="text" name="ApellidoMaterno" id="ApellidoMaterno" class="gui-input" placeholder="Apellido Materno" value="{{Valor.ApellidoMaterno}}">
												<label for="ApellidoMaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

									</div>

									<div class="section row mbn">
										<div class="col-md-4">
											<div class="fileupload fileupload-new admin-form" data-provides="fileupload">
												<div id="imagen" class="fileupload-preview thumbnail mb20">
													<img src="{{NeuralRutaWebPublico}}/assets/img/logos/imagen.png" alt="holder">
												</div>
													<div class="row">
													<div class="col-xs-12">
														<span class="button btn-system btn-file btn-block">
														  <span class="fileupload-new">Cargar Imagen</span>
														  <span class="fileupload-exists">Change</span>
														  <input type="file" name="Imagen" id="Imagen" accept=".gif,.jpg,.jpeg,.png,.bmp">
														</span>
													</div>
													</div>
											</div>
										</div>

										<div class="col-md-8 pl15">
											<div class="section mb10">
												<label for="Cargo" class="field prepend-icon">
													<input type="text" name="Cargo" id="Cargo" class="event-name gui-input br-light light" placeholder="Cargo" value="{{Valor.Cargo}}" autocomplete="off">
													<label for="Cargo" class="field-icon">
														<i class="fa fa-truck"></i>
													</label>
												</label>
											</div>

											<div class="section row">
												<div class="col-md-6">
													<label for="TelefonoCasa" class="field prepend-icon">
														<input type="text" name="TelefonoCasa" id="TelefonoCasa" class="gui-input" placeholder="Teléfono Fijo" value="{{Valor.TelefonoCasa}}" autocomplete="off">
														<label for="TelefonoCasa" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>

												<div class="col-md-6">
													<label for="TelefonoMovil" class="field prepend-icon">
														<input type="text" name="TelefonoMovil" id="TelefonoMovil" class="gui-input" placeholder="Teléfono Móvil" value="{{Valor.TelefonoMovil}}" autocomplete="off">
														<label for="TelefonoMovil" class="field-icon">
															<i class="fa fa-mobile"></i>
														</label>
													</label>
												</div>

											</div>
											<div class="section row">
												<div class="col-md-6">
													<label for="Extension" class="field prepend-icon">
														<input type="text" name="Extension" id="Extension" class="event-name gui-input br-light light" placeholder="Extensión" value="{{Valor.Extension}}" autocomplete="off">
														<label for="Extension" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>
												<div class="col-md-6">
													<label for="Correo" class="field prepend-icon">
														<input type="text" name="Correo" id="Correo" class="event-name gui-input br-light light" placeholder="Correo Electrónico" value="{{Valor.Correo}}" autocomplete="off">
														<label for="Correo" class="field-icon">
															<i class="fa fa-envelope"></i>
														</label>
													</label>
												</div>
											</div>
											<div class="section row">
												<div class="col-md-12">
												<select class="form-control" id="IdProvincia" name="IdProvincia">
														<option value="">Selecciona una Provincia</option>
														{% for Provincia in Provincias %}
															{% if Valor.IdProvincia == Provincia.IdProvincia %}
																<option value="{{Provincia.IdProvincia}}" selected="">{{Provincia.Descripcion}}</option>
															{% else %}
																<option value="{{Provincia.IdProvincia}}">{{Provincia.Descripcion}}</option>
															{% endif %}
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<div class="section row">
											<div class="col-sm-12 pl15">
												<div class="bs-component">
													<div class="checkbox-custom mb5">
														{% if Valor.ExportarExcel == "INACTIVO" %}
														<input type="checkbox" id="ExportarExcel" name="ExportarExcel">
														{% else %}
														<input type="checkbox" checked="" id="ExportarExcel" name="ExportarExcel">
														{% endif %}
														<label for="ExportarExcel">Permisos De Exportar Documentos A Formato De Excel.</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="Usuario" class="field prepend-icon">
												<input type="text" name="Usuario" id="Usuario" class="gui-input" placeholder="Usuario" value="{{Valor.Usuario}}" readonly="true">
												<label for="Usuario" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="Password" class="field prepend-icon">
												<input type="password" name="Password" id="Password" class="gui-input" placeholder="Contraseña" >
												<label for="Password" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="RepitePassword" class="field prepend-icon">
												<input type="password" name="RepitePassword" id="RepitePassword" class="gui-input" placeholder="Repetir Contraseña">
												<label for="RepitePassword" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<hr class="short alt">
									<div class="section row mbn">
										<div class="col-sm-8">
											<label class="switch block mt15">
												{% if Valor.Status == "ACTIVO" %}
												<input type="checkbox" name="Status" id="Status" value="ACTIVO" checked="">
												<label for="Status" data-on="SI" data-off="NO"></label>
												{% else %}
												<input type="checkbox" name="Status" value="ACTIVO" id="Status">
												<label for="Status" data-on="SI" data-off="NO"></label>
												{% endif %}
												<span>Usuario Activo</span>
											</label>
										</div>

									</div>

								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="IdUsuario" name="IdUsuario" value="{{IdUsuario}}" />
							<hr class="short alt">
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Modificar Información Del Agente</button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	function mostrarImagen(){
		var data = '{{Imagen}}';
		if (data != ""){
			var bytes = new Uint8Array(data.length / 2);
			for (var i = 0; i < data.length; i += 2) {
			    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
			}
			
			// Make a Blob from the bytes
			var blob = new Blob([bytes], {type: 'image/jpeg'});
				
			// Use createObjectURL to make a URL for the blob
			var image = new Image();
			image.src = URL.createObjectURL(blob);
			$("#imagen").html(image);
		}
	}
</script>
<script>
	jQuery(function($){
		jQuery("#Nombres").focus();
		jQuery("#TelefonoCasa").mask("99999999");
		jQuery("#TelefonoMovil").mask("999999999");
		mostrarImagen();
	});
</script>
{{Scripts|raw}}

<script>
	/* Actualizar */
	function fnGuardar(){
		var formData = new FormData(document.getElementById("frmEditarAgente"));
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Agente/Actualizar',
			data: formData,
			type: 'POST',
			cache: false,
			contentType: false,
			async: false,
			processData: false,
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				fnListado();
			}
		});
	}

	function fnMostrarImagen(){
		jQuery.ajax({
			url: "{{NeuralRutaApp}}/Supervisor/Agente/MostrarImagen/11",
			dataType: "html",
			async: true,
			beforeSend: function () {
				jQuery("#imagen").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				var bytes = new Uint8Array(data.length / 2);

				for (var i = 0; i < data.length; i += 2) {
				    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
				}
				
				// Make a Blob from the bytes
				var blob = new Blob([bytes], {type: 'image/jpeg'});
				
				// Use createObjectURL to make a URL for the blob
				var image = new Image();
				image.src = URL.createObjectURL(blob);
				$("#imagen").html(image);	
			}
		});
	}
</script>
<script>
	jQuery('#frmEditarAgente').on('submit', function(e){
		var isvalidate = jQuery('#frmEditarAgente').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#Nombres").val() == ''){
			error = false;
		}
		if(jQuery("#ApellidoPaterno").val() == ''){
			error = false;
		}
		if(jQuery("#ApellidoMaterno").val() == ''){
			error = false;
		}
		if(jQuery("#Extension").val() == ''){
			error = false;
		}
		if(jQuery("#Correo").val() == ''){
			error = false;
		}
		if(jQuery("#IdProvincia").val() == ''){
			error = false;
		}
		return error;
	}
</script>
