 <section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
				
  			<div class="panel">
      				<div class="panel-body">
						{% if Detalles %}
						<div class="row">
							<label class="col-lg-4 control-label"> Compromiso de Pago </label>
							<div class="col-lg-8">
								{% if Detalles.Compromiso == "SI" %}
								<span class="label label-primary">{{Detalles.Compromiso}}</span>
								{% else %}
								<span class="label label-default">{{Detalles.Compromiso}}</span>
								{% endif %}
							</div>
						</div>
						<br />
						{% if FechasImportes %}
							{% for Valor in FechasImportes %}
							<div class="row">
								<label class="col-lg-2 control-label">Fecha</label>
								<div class="col-lg-4">
									<p>{{Valor.Fecha}}</p>
								</div>
								<label class="col-lg-2 control-label">Importe</label>
								<div class="col-lg-4">
									<p>{{Valor.Importe}}</p>
								</div>
							</div>
						    {% endfor %}
			            {% else %}
			            	<span class="label label-danger">No hay fechas</span>
         	            {% endif %}
         	            <br />
						<div class="row">
							<label class="col-lg-4 control-label">Observaciones </label>
							<div class="col-lg-8">
								<p>{{Detalles.Observaciones}}</p>
							</div>
						</div>
						{% else %}
						<br/>
						<div class="row">
							<div class="col-lg-1"></div>
							<div class="col-lg-10">
								<div class="alert alert-micro alert-border-left alert-alert alert-dismissable">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
									<i class="fa fa-info pr10"></i>
									<strong>Información</strong> <br/> No hay mas gestiones de este cliente.
								</div>
							</div>
							<div class="col-lg-1"></div>
						</div>
						{% endif %}
      				</div>
			</div>
		</div>
	</div>
</section>