<ul class="nav sidebar-menu">
	<li class="sidebar-label pt20">Menu de Opciones</li>

	{% if Menu == "Index" %}
	<li class="active">
		{% else %}
		<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Administrador/Index">
			<span class="fa fa-windows"></span>
			<span class="sidebar-title">Principal</span>
		</a>
	</li>

	{% if Menu == "Supervisor" %}
	<li class="active">
		{% else %}
	<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Administrador/Supervisor">
			<span class="fa fa-sitemap"></span>
			<span class="sidebar-title">Supervisores</span>
		</a>
	</li>
	<li class="sidebar-label pt20">Sistemas</li>

	<li>
		{% if Menu == "Conmutador" or Menu == "RegistroTroncales" or Menu == "AsignacionTroncales" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="fa fa-cogs"></span>
			<span class="sidebar-title">Configuración</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "Conmutador" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Administrador/Conmutador">
					<span class="glyphicon glyphicon-phone-alt"></span> Conmutador VOIP </a>
			</li>
			{% if Menu == "RegistroTroncales" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Administrador/RegistroTroncales">
					<span class="glyphicon glyphicon-phone-alt"></span> Registro de Troncales </a>
			</li>
			{% if Menu == "AsignacionTroncales" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Administrador/AsignacionTroncales">
					<span class="glyphicon glyphicon-user"></span> Asignación de Troncales </a>
			</li>
		</ul>
	</li>

	<!--{% if Menu == "Configuracion" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Administrador/Configuracion">
			<span class="fa fa-gear"></span>
			<span class="sidebar-title">Configuración</span>
		</a>
	</li>-->

	<br><br>
	<!--<li>
		<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo.gif" class="img-responsive w250"></img>
	</li>-->
	<br><br>
</ul>