<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/css/dataTables.bootstrap.css">
<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado de registros de Clientes con Compromiso de Pago</div>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th class="text-center">Num.</th>
							
							<th>Cliente Único</th>
							<th>Nombre Titular</th>
							<th class="text-center">Semana de Atraso</th>
							<th>Saldo</th>
							<th class="text-center">Saldo Total</th>
							<th class="text-center">Historial</th>
						</tr>
						</thead>
						<tbody>
						{% set Contador = 0%}
						{% for Valor in Consulta %}
    						{% set Contador = Contador + 1 %}
						<tr>
							<td class="text-center">{{ Contador }}</td>
							
							<td>{{ Valor.ClienteUnico }}</td>
							<td>{{ Valor.NombreTitular }}</td>
							<td class="text-center">{{ Valor.SemanaAtraso }}</td>
							<td> {{ Valor.Saldo|Formato_Moneda }} PEN</td>
							<td> {{ Valor.SaldoTotal|Formato_Moneda }} PEN</td>
							<td class="text-center">
								<a class="btn btn-primary" href='javascript: fnVerHistorial("{{Valor.IdDatoAgenda|Cifrado}}");'><span class="fa fa-search"></span></a>
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#datatable2').dataTable({
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>
