<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Agentes</div>
				</div>
				<div class="panel-body pn">
					<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th>Nombre(s)</th>
							<th>Apellido Paterno</th>
							<th>Apellido Materno</th>
							<th>Usuario</th>
							<th class="text-center">Estatus</th>
							<th class="text-center">Acciones</th>
						</tr>
						</thead>
						<tbody>
						{% for Valor in Consulta %}
						<tr>
							<td>{{ Valor.Nombres }}</td>
							<td>{{ Valor.ApellidoPaterno }}</td>
							<td>{{ Valor.ApellidoMaterno }}</td>
							<td>{{ Valor.Usuario }}</td>
							<td class="text-center">
								{% if Valor.Status == "CONECTADO" %}
								<span class="label label-success">{{ Valor.Status }}</span>
								{% elseif Valor.Status == "NO EXISTE" %}
								<span class="label label-danger">{{ Valor.Status }}</span>
								{% else %}
								<span class="label label-warning">{{ Valor.Status }}</span>
								{% endif %}
							</td>
							<td class="text-center">
								{% if Valor.Status == "CONECTADO" %}
									<a class="btn btn-primary " href='javascript: fnMonitor("{{Valor.IdAgente|Cifrado}}");'><i class="fa fa-volume-up"></i> &nbsp;&nbsp; Monitoreo </a>
								{% else %}
									<a class="btn  btn-primary  disabled" href='javascript: fnMonitor("{{Valor.IdAgente|Cifrado}}");'><i class="fa fa-volume-up"></i> &nbsp;&nbsp; Monitoreo </a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</section>

<script type="text/javascript">
	jQuery(document).ready(function() {

		// Init DataTables
		$('#datatable2').dataTable({
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>
