<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.css">

<section id="content" class="animated fadeIn">
	<div class="tray tray-center">

		<div class="admin-panels mw700 center-block" >
		<div class="row mt20">
			<div class="col-md-12 admin-grid" data-animate='["400","fadeIn"]'>
				<div class="panel sort-disable mb50 panel-dark" id="p0" data-panel-title="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-collapse="false" data-panel-fullscreen="false">
			 		<div class="panel-heading">
						<span class="panel-icon">
                        	<i class="fa fa-minus"></i>
                      	</span> &nbsp;
						FILTRADO POR CRITERIOS DE BÚSQUEDA
			 		</div>
						<div class="panel-body p40 pb10">
							<form  id="frmFiltrosClientes" name="frmFiltrosClientes">
							<div class="tab-content pn br-n admin-form">
								<div class="section row">
									<div class="col-md-3">
										<select class="form-control" id="IdGerencia" name="IdGerencia">
											<option value="">Todos las Gerencias</option>
											{% for Valor in Gerencias%}
											<option value="{{Valor.IdGerencia}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdCartera" name="IdCartera">
											<option value="">Todas las Carteras</option>
											{% for Valor in Carteras %}
											<option value="{{Valor.IdCartera}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdProvincia" name="IdProvincia">
											<option value="">Todas las Provincias</option>
											{% for Valor in Provincias%}
											<option value="{{Valor.IdProvincia}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdDistrito" name="IdDistrito">
											<option value="">Todos los Distritos</option>
											{% for Valor in Distritos%}
											<option value="{{Valor.IdDistrito}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="Semanas" name="Semanas"/>
	                 						<label for="Semanas">Semanas de Atraso</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="SemanaAtraso">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSemanas" name="minimoSemanas" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSemanas" name="maximoSemanas" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="RangoSaldo" name="RangoSaldo"/>
	                 						<label for="RangoSaldo">Saldo</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="ContenedorSaldo">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSaldo" name="minimoSaldo" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSaldo" name="maximoSaldo" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="RangoSaldoTotal" name="RangoSaldoTotal"/>
	                 						<label for="RangoSaldoTotal">Saldo Total</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="ContenedorSaldoTotal">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSaldoTotal" name="minimoSaldoTotal" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSaldoTotal" name="maximoSaldoTotal" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
								</div>
							<div class="col-md-6">						
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="NombreCliente" name="NombreCliente"/>
		                 					<label for="NombreCliente">Nombre del Titular</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorNombreCliente">
									<div class="col-md-12">
										<label for="NombreTitular" class="field prepend-icon">
											<input type="text" name="NombreTitular" id="NombreTitular" class="gui-input" placeholder="Nombre de Titular" autocomplete="off"/>
											<label for="NombreTitular" class="field-icon">
											<i class="fa fa-user"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Aval" name="Aval" />
		                 					<label for="Aval">Nombre de Aval</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorAval">
									<div class="col-md-12">
										<label for="NombreAval" class="field prepend-icon">
											<input type="text" name="NombreAval" id="NombreAval" class="gui-input" placeholder="Nombre del Aval" autocomplete="off"/>
											<label for="NombreAval" class="field-icon">
											<i class="fa fa-user"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Fecha" name="Fecha"/>
		                 					<label for="Fecha">Fecha de Asignación</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFecha">
									<div class="col-md-12">
										<label for="FechaAsginacion" class="field prepend-icon">
											<input type="text" name="FechaAsginacion" id="FechaAsginacion" class="gui-input" placeholder="Fecha de Asignación" autocomplete="off"/>
											<label for="FechaAsginacion" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row"> 
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	         							<input type="checkbox" id="ClienteUnico" name="ClienteUnico"/>
	                 					<label for="ClienteUnico">Número de Cliente Único</label>
  									</div>
									</div>	
								</div>
								<div class="section row form-group" id="NumeroCliente">
										  <div class="col-md-2">
										    <input type="text" id="Pais" name="Pais" class="form-control" placeholder="Pais" value="" autocomplete="off"/>
										  </div>
										  <div class="col-md-2">
										    <input type="text" id="Producto" name="Producto" class="form-control" placeholder="Producto" value="" autocomplete="off"/>
										  </div>
										  <div class="col-md-4">
										    <input type="text" id="NumeroEconomico" name="NumeroEconomico" class="form-control" placeholder="Número Económico" value="" autocomplete="off"/>
										  </div>
										  <div class="col-md-4">
										    <input type="text" id="Operacion" name="Operacion" class="form-control" placeholder="Operación" value="" autocomplete="off"/>
										  </div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="CodigoColor" name="CodigoColor"/>
		                 					<label for="CodigoColor">Código de Gestión</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorCodigo">
									<div class="col-md-12">
										<select class="gui-input" id="IdCodigo" name="IdCodigo">
											<option value="" disabled="" selected="">Seleccione un Código</option>
											{% for Codigo in Codigos%}
											<option value="{{Codigo.IdCodigo}}" style="background:{{Codigo.Color}};">{{Codigo.Codigo}} {{Codigo.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
						</div>
						<div class="col-md-6">
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Telefono" name="Telefono"/>
		                 					<label for="Telefono">Número Telefónico</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorTelefono">
									<div class="col-md-12">
										<label for="TelefonoCasa" class="field prepend-icon">
											<input type="text" name="TelefonoCasa" id="TelefonoCasa" class="gui-input" placeholder="Teléfono Fijo" />
											<label for="TelefonoCasa" class="field-icon">
											<i class="fa fa-phone"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Agente" name="Agente"/>
		                 					<label for="Agente"> Agente </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorAgente">
									<div class="col-md-12">
										<select class="gui-input" id="IdAgente" name="IdAgente">
											<option value="">Todos los Agentes</option>
											{% for Valor in Agentes%}
											<option value="{{Valor.IdAgente}}">{{Valor.Nombres}} {{Valor.ApellidoPaterno}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="FechaCompromiso" name="FechaCompromiso"/>
		                 					<label for="FechaCompromiso"> Fecha de Compromiso </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFechaCompromiso">
									<div class="col-md-12">
										<label for="FechasCompromiso" class="field prepend-icon">
											<input type="text" name="FechasCompromiso" id="FechasCompromiso" class="gui-input pull-right" placeholder="Rango Fechas" />
											<label for="FechasCompromiso" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="FechaGestion" name="FechaGestion"/>
		                 					<label for="FechaGestion"> Fecha de Gestión </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFechaGestion">
									<div class="col-md-12">
										<label for="FechasGestion" class="field prepend-icon">
											<input type="text" class="form-control pull-right" name="FechasGestion" id="FechasGestion" placeholder="Rango Fechas">
											<label for="FechasGestion" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
							</div>
							</div>
							<div class="row"><input type="hidden" id="Key" name="Key" value="{{Key}}" /></div>
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-6">
									<div class="btn-group">
										<button type="button" class="btn btn-alert btn-rounded"><i class="fa fa-list"></i>&nbsp; Exportar a Excel</button>
										<button type="button" class="btn btn-alert dropdown-toggle btn-rounded" data-toggle="dropdown">
											<span class="caret"></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li>
												<a href='javascript: fnDescargar();'><span class="fa fa-download pr5"></span> Descargar Archivo</a>
											</li>
											<li>
												<a href='javascript: fnEnviar();'><span class="fa fa-envelope pr5"></span> Enviar &nbsp; a &nbsp; e-mail</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-md-6">								
									<p class="text-right">
										<button class="btn btn-alert btn-rounded" type="submit" ><span class="fa fa-search "></span>&nbsp; Buscar cliente(s) por criterio  </button>
									</p>
								</div>
							</div>
							</form>
						</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-12 admin-grid">
				<div id="AreaConsulta"></div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
  <script src="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/js/jquery-ui-monthpicker.min.js"></script>
  <script src="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/js/jquery-ui-datepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/moment/moment.min.js"></script>
  <script src="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.min.js"></script>
   <script src="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.js"></script>
  <script>
	  jQuery.datepicker.regional['es'] = {
		  closeText: 'Cerrar',
		  prevText: '<Ant',
		  nextText: 'Sig>',
		  currentText: 'Hoy',
		  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		  weekHeader: 'Sm',
		  dateFormat: 'dd/mm/yy',
		  firstDay: 1,
		  isRTL: false,
		  showMonthAfterYear: false,
		  yearSuffix: ''
	  };
	  jQuery.datepicker.setDefaults($.datepicker.regional['es']);
  </script>
<script>

	jQuery(document).ready(function() {
		jQuery("#NumeroCliente").hide();
		jQuery("#ContenedorTelefono").hide();
		jQuery("#SemanaAtraso").hide();
		jQuery("#ContenedorSaldo").hide();
		jQuery("#ContenedorSaldoTotal").hide();
		jQuery("#ContenedorNombreCliente").hide();
		jQuery("#ContenedorAval").hide();
		jQuery("#ContenedorFecha").hide();
		jQuery("#ContenedorAgente").hide();
		jQuery("#ContenedorFechaCompromiso").hide();
		jQuery("#ContenedorFechaGestion").hide();
		jQuery("#ContenedorCodigo").hide();
		jQuery("#FechaAsginacion").datepicker();
		jQuery("#FechaInicio").datepicker();
		jQuery("#FechaFin").datepicker();
 		jQuery("#FechasCompromiso").daterangepicker({
 			format: 'DD/MM/YYYY',
		 	locale: {
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: " Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
	    	}
		});
	   jQuery("#FechasGestion").daterangepicker({
	 		 format: "DD/MM/YYYY",
	 		 timePicker: true,
			 locale:{
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: "  Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
			}
  		});
  });

</script>
<script>
	/* Consultar Clientes*/
	function fnConsultar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/FiltradoClientes/ConsultarClientes',
			data: jQuery('#frmFiltrosClientes').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaConsulta").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreaConsulta").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmFiltrosClientes').on('submit', function(e){
		var isvalidate = jQuery('#frmFiltrosClientes').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnConsultar();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnValidacion(){
		var Error = true;
		if(jQuery("#ClienteUnico").is(':checked')){	
			if(jQuery("#Pais").val() != '' || jQuery("#Producto").val() != '' || jQuery("#NumeroEconomico").val() != '' || jQuery("#Operacion").val() != ''){
				Error = true;
			}
			else{
				Error = false;
			}
		}
		if(jQuery("#Telefono").is(':checked')){
			if(jQuery("#TelefonoCasa").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#NombreCliente").is(':checked')){
			if(jQuery("#NombreTitular").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Aval").is(':checked')){
			if(jQuery("#NombreAval").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Fecha").is(':checked')){
			if(jQuery("#FechaAsginacion").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Semanas").is(':checked')){
			if(jQuery("#minimoSemanas").val() == "" || jQuery("#maximoSemanas").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#RangoSaldo").is(':checked')){
			if(jQuery("#minimoSaldo").val() == "" || jQuery("#maximoSaldo").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#RangoSaldoTotal").is(':checked')){
			if(jQuery("#minimoSaldoTotal").val() == "" || jQuery("#maximoSaldoTotal").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#Agente").is(':checked')){
			if(jQuery("#IdAgente").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaCompromiso").is(':checked')){
			if(jQuery("#FechasCompromiso").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaGestion").is(':checked')){
			if(jQuery("#FechasGestion").val() == ""){
				Error = false;
			}
		}		
		if(jQuery("#CodigoColor").is(':checked')){
			if(jQuery("#IdCodigo").val() == "" || jQuery("#IdCodigo").val() == null){
				Error = false;
			}
		}
		return Error;
	}
</script>
<script>
	jQuery("#ClienteUnico").click(function(){
		if(jQuery("#ClienteUnico").is(':checked')){
			jQuery("#NumeroCliente").show();	
		} else{
			jQuery("#NumeroCliente").hide();
			jQuery("#Pais").val("");
			jQuery("#Producto").val("");
			jQuery("#NumeroEconomico").val("");
			jQuery("#Operacion").val("");
		}	
	});
	jQuery("#Telefono").click(function(){
		if(jQuery("#Telefono").is(":checked")){
			jQuery("#ContenedorTelefono").show();
		}else{
			jQuery("#ContenedorTelefono").hide();
			jQuery("#TelefonoCasa").val("");
		}
	});
	jQuery("#Semanas").click(function(){
		if(jQuery("#Semanas").is(":checked")){
			jQuery("#SemanaAtraso").show();
		}else{
			jQuery("#SemanaAtraso").hide();
			jQuery("#minimoSemanas").val("");
			jQuery("#maximoSemanas").val("");
		}
	});
	jQuery("#RangoSaldo").click(function(){
		if(jQuery("#RangoSaldo").is(":checked")){
			jQuery("#ContenedorSaldo").show();
		}else{
			jQuery("#ContenedorSaldo").hide();
			jQuery("#minimoSaldo").val("");
			jQuery("#maximoSaldo").val("");
		}
	});
	jQuery("#RangoSaldoTotal").click(function(){
		if(jQuery("#RangoSaldoTotal").is(":checked")){
			jQuery("#ContenedorSaldoTotal").show();
		}else{
			jQuery("#ContenedorSaldoTotal").hide();
			jQuery("#minimoSaldoTotal").val("");
			jQuery("#maximoSaldoTotal").val("");
		}
	});
	
	jQuery("#NombreCliente").click(function(){
		if(jQuery("#NombreCliente").is(":checked")){
			jQuery("#ContenedorNombreCliente").show();
		}else{
			jQuery("#ContenedorNombreCliente").hide();
			jQuery("#NombreTitular").val("");
		}
	});
	
	jQuery("#Aval").click(function(){
		if(jQuery("#Aval").is(":checked")){
			jQuery("#ContenedorAval").show();
		}else{
			jQuery("#ContenedorAval").hide();
			jQuery("#NombreAval").val("");
		}
	});
	
	jQuery("#Fecha").click(function(){
		if(jQuery("#Fecha").is(":checked")){
			jQuery("#ContenedorFecha").show();
		}else{
			jQuery("#ContenedorFecha").hide();
			jQuery("#FechaAsginacion").val("");
		}
	});
	
	jQuery("#Agente").click(function(){
		if(jQuery("#Agente").is(":checked")){
			jQuery("#ContenedorAgente").show();
		}else{
			jQuery("#ContenedorAgente").hide();
			jQuery("#IdAgente").val("");
		}
	});
	
	jQuery("#FechaCompromiso").click(function(){
		if(jQuery("#FechaCompromiso").is(":checked")){
			jQuery("#ContenedorFechaCompromiso").show();
		}else{
			jQuery("#ContenedorFechaCompromiso").hide();
			jQuery("#FechasCompromiso").val("");
		}
	});
	
	jQuery("#FechaGestion").click(function(){
		if(jQuery("#FechaGestion").is(":checked")){
			jQuery("#ContenedorFechaGestion").show();
		}else{
			jQuery("#ContenedorFechaGestion").hide();
			jQuery("#FechasGestion").val("");
		}
	});
	
	jQuery("#CodigoColor").click(function(){
		if(jQuery("#CodigoColor").is(":checked")){
			jQuery("#ContenedorCodigo").show();
		}else{
			jQuery("#ContenedorCodigo").hide();
			jQuery("#IdCodigo").val("");
		}
	});
	
</script>
<script>
	jQuery(function($){
		jQuery("#Pais").mask("9");
		jQuery("#Producto").mask("9?9");
		jQuery("#NumeroEconomico").mask("9999");
		jQuery("#Operacion").mask("99999");
		jQuery("#TelefonoCasa").mask("99999999?9");
	});
</script>