<div class="form-group has-error">
    <div class="alert alert-micro alert-border-left alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="fa fa-info pr10"></i>
    <strong>Alerta!</strong> &nbsp;
    No se encontraron Agentes disponibles para asignación, elija el número de agentes nuevamente.
	</div>
    <input type="hidden"  id="{{IdAgente}}" name="{{IdAgente}}" value=""/>
</div>