<section class="animated fadeIn">
<div class="alert alert-micro alert-border-left alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="fa fa-info pr10"></i>
    <strong>Alerta!</strong> &nbsp;
    No se encontraron registros con esos criterios de busqueda, intente otra búsqueda nuevamente.
</div>
</section>