 <section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			 <div class="bs-component">
              <div class="alert alert-danger alert-dismissable mb30">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h3 class="mt5">Error!</h3>
                <p>Error, El Archivo no coincide con el Archivo Excel Plantilla.</p>
                <br/>
                <p>
                  <a class="btn btn-danger" href="#" onclick="javascript: fnImportar();">Regresar</a>
                </p>
              </div>
            </div>
		</div>
	</div>
</section>