<div id="modal-form" class=" popup-basic admin-form mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
              <span class="panel-title">
                <i class="glyphicons glyphicons-lock"></i> Modificar su contraseña</span>
		</div>
		<!-- end .panel-heading section -->

		<form method="POST" id="frmCambioPassword" name="frmCambioPassword" action="{{NeuralRutaApp}}/Supervisor/Perfil/Index">
			<div class="panel-body p25">
				<div class="section row">

					<div class="col-md-12">
						<label for="PasswordActual" class="field prepend-icon">
							<input type="password" name="PasswordActual" id="PasswordActual" class="gui-input" placeholder="Contraseña Actual" autocomplete="off">
							<label for="PasswordActual" class="field-icon">
								<i class="fa fa-lock"></i>
							</label>
						</label>
					</div>

				</div>

				<div class="section row">
					<div class="col-md-12">
						<label for="PasswordNuevo" class="field prepend-icon">
							<input type="password" name="PasswordNuevo" id="PasswordNuevo" class="gui-input" placeholder="Nueva Contraseña" autocomplete="off">
							<label for="PasswordNuevo" class="field-icon">
								<i class="fa fa-lock"></i>
							</label>
						</label>
					</div>

				</div>

				<div class="section row">
					<div class="col-md-12">
						<label for="PasswordVerifica" class="field prepend-icon">
							<input type="password" name="PasswordVerifica" id="PasswordVerifica" class="gui-input" placeholder="Repita Contraseña" autocomplete="off">
							<label for="PasswordVerifica" class="field-icon">
								<i class="fa fa-lock"></i>
							</label>
						</label>
					</div>
				</div>

				<input type="hidden" id="KeyPerfil" name="KeyPerfil" value="{{KeyPerfil}}">
				<hr class="short alt">
				<div class="text-center">
					<button type="submit" class="button btn-primary"><span class="fa fa-save pr5"></span> Actualizar Nueva Contraseña</button>
				</div>

			</div>

		</form>
	</div>
</div>
<div id="modal-form2" class=" popup-basic admin-form mfp-with-anim mfp-hide">
	<div class="panel">
		<div class="panel-heading">
              <span class="panel-title">
                <i class="glyphicons glyphicons-adress_book"></i> Modificar Información</span>
		</div>
		

		<form  id="frmCambioImagen" name="frmCambioImagen" >
			<div class="panel-body p25">
				<div class="section row">
					<div class="col-md-6">
						<div class="fileupload fileupload-new admin-form" data-provides="fileupload">
							<div id="imagen" class="fileupload-preview thumbnail mb20">
								<img src="{{NeuralRutaWebPublico}}/assets/img/logos/imagen.png" alt="holder">
							</div>
							<div class="row">
								<div class="col-xs-12">
									<span class="button btn-system btn-file btn-block">
									  <span class="fileupload-new">Cargar Imagen</span>
									  <span class="fileupload-exists">Change</span>
									  <input type="file" name="ImagenPerfil" id="ImagenPerfil" accept=".gif,.jpg,.jpeg,.png,.bmp">
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="section row">
						<label for="NombreUsuario" class="field prepend-icon">
							<input type="text" name="NombreUsuario" id="NombreUsuario" class="gui-input" placeholder="Nombre(s)" value="{{NombreUsuario}}" autocomplete="off">
							<label for="NombreUsuario" class="field-icon">
								<i class="fa fa-user"></i>
							</label>
						</label>
						</div>
						<div class="section row">
						<label for="ApellidoPaternoUsuario" class="field prepend-icon">
							<input type="text" name="ApellidoPaternoUsuario" id="ApellidoPaternoUsuario" class="gui-input" placeholder="Apellido Paterno" value="{{ApellidoPaterno}}" autocomplete="off">
							<label for="ApellidoPaternoUsuario" class="field-icon">
								<i class="fa fa-user"></i>
							</label>
						</label>
					</div>
					<div class="section row">
						<label for="ApellidoMaternoUsuario" class="field prepend-icon">
							<input type="text" name="ApellidoMaternoUsuario" id="ApellidoMaternoUsuario" class="gui-input" placeholder="Apellido Materno" value="{{ApellidoMaterno}}" autocomplete="off">
							<label for="ApellidoMaternoUsuario" class="field-icon">
								<i class="fa fa-user"></i>
							</label>
						</label>
					</div>
					</div>
				</div>

				<input type="hidden" id="KeyPerfil" name="KeyPerfil" value="{{KeyPerfil}}">
				<hr class="short alt">
				<div class="text-center">
					<button type="submit" class="button btn-primary"><span class="fa fa-save pr5"></span> Actualizar Informacion del Usuario</button>
				</div>
			</div>
		</form>
	</div>
</div>
{{ScriptPerfil|raw}}
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/fileupload/fileupload.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<script>
	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}

	/* Guardar Nueva Contraseña */
	function fnGuardarNuevoPassword(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Perfil/Index',
			data: jQuery('#frmCambioPassword').serialize(),
			type: 'POST',
			beforeSend: function () {
				//jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				//jQuery("#AreContenido").html(data);
				var magnificPopup = jQuery.magnificPopup.instance;
				magnificPopup.close();
				alert(data);
			}
		});
	}

	function fnGuardarInformacion(){
		var formData = new FormData(document.getElementById("frmCambioImagen"));
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/Perfil/CambiarInfomacion',
			data: formData,
			type: 'POST',
			cache: false,
			contentType: false,
			async: false,
			processData: false,
			beforeSend: function () {
				//jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				//jQuery("#AreContenido").html(data);
				var magnificPopup = jQuery.magnificPopup.instance;
				magnificPopup.close();
				msjExito(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmCambioPassword').on('submit', function(e){
		var isvalidate = jQuery('#frmCambioPassword').valid();
		if (isvalidate) {
			e.preventDefault();
			fnGuardarNuevoPassword();
		}
	});
</script>
<script>
	jQuery('#frmCambioImagen').on('submit', function(e){
		var isvalidate = jQuery('#frmCambioImagen').valid();
		if (isvalidate) {
			e.preventDefault();
			fnGuardarInformacion();
		}
	});
</script>
<script>
	function mostrarImagen(){
			var data = '{{Imagen}}';
			if(data != ""){
				var bytes = new Uint8Array(data.length / 2);

				for (var i = 0; i < data.length; i += 2) {
				    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
				}
				
				// Make a Blob from the bytes
				var blob = new Blob([bytes], {type: 'image/jpeg'});
				
				// Use createObjectURL to make a URL for the blob
				var image = new Image();
				image.src = URL.createObjectURL(blob);
				$("#imagen").html(image);	
			}
	}
	mostrarImagen();
</script>