<li class="dropdown menu-merge">
	<div class="navbar-btn btn-group">
		<button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
			<span class="fa fa-bell-o fs14 va-m"></span>
			<span class="badge badge-danger">2</span>
		</button>
		<div class="dropdown-menu dropdown-persist w250 animated animated-shorter fadeIn" role="menu">
			<div class="panel mbn">
				<div class="panel-menu">
					<span class="panel-icon"><i class="fa fa-clock-o"></i></span>
					<span class="panel-title fw600"> Actividad de Agentes</span>
					<button class="btn btn-default light btn-xs pull-right" type="button"><i class="fa fa-refresh"></i></button>
				</div>
				<div class="panel-body panel-scroller scroller-navbar scroller-overlay scroller-pn pn">
					<ol class="timeline-list">
						<li class="timeline-item">
							<div class="timeline-icon bg-dark light">
								<span class="fa fa-tags"></span>
							</div>
							<div class="timeline-desc">
								<b>Michael</b> Added to his store:
								<a href="#">Ipod</a>
							</div>
							<div class="timeline-date">1:25am</div>
						</li>
						<li class="timeline-item">
							<div class="timeline-icon bg-success">
								<span class="fa fa-usd"></span>
							</div>
							<div class="timeline-desc">
								<b>Admin</b> created invoice for:
								<a href="#">Software</a>
							</div>
							<div class="timeline-date">4:15am</div>
						</li>
					</ol>
				</div>
				<div class="panel-footer text-center p7">
					<a href="#" class="link-unstyled"> Ver Todas</a>
				</div>
			</div>
		</div>
	</div>
</li>