<li class="menu-divider hidden-xs">
	<i class="fa fa-circle"></i>
</li>
<li class="dropdown menu-merge">
	<a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
		<img src="{{NeuralRutaWebPublico}}/assets/img/avatars/placeholder.png" alt="avatar" class="mw30 br64" id="imagen2">
		<span class="hidden-xs pl15"> {{ Usuario }} </span>
		<span class="caret caret-tp hidden-xs"></span>
	</a>
	<ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
		<li class="dropdown-header clearfix">
			<div class="pull-left ml10">
				<select id="user-status">
					<optgroup label="Estado del usuario:">
						<option value="1-1">Ocupado</option>
						<option value="1-2">Desconectado</option>
						<option value="1-3" selected="selected">En linea</option>
					</optgroup>
				</select>
			</div>
		</li>

		<li class="list-group-item">
			<a id="ConfigurarPerfil" href="#modal-form" class="animated animated-short fadeInUp">
				<span class="fa fa-lock"></span> Cambio de Contraseña </a>
		</li>

		<li class="list-group-item">
			<a id="ConfigurarImagen" href="#modal-form2" class="animated animated-short fadeInUp">
				<span class="fa fa-gear"></span> Editar Información del Usuario </a>
		</li>
		<li class="dropdown-footer">
			<a href="{{NeuralRutaApp}}/LogOut" class="">
				<span class="fa fa-power-off pr5"></span> Salir </a>
		</li>
	</ul>
</li>
<script>
	function mostrarImagen(){
			var data = '{{Imagen}}';
			if(data != ""){
				var bytes = new Uint8Array(data.length / 2);

				for (var i = 0; i < data.length; i += 2) {
				    bytes[i / 2] = parseInt(data.substring(i, i + 2), 16);
				}
				
				// Make a Blob from the bytes
				var blob = new Blob([bytes], {type: 'image/jpeg'});
				
				// Use createObjectURL to make a URL for the blob
				var image = new Image();
				image.src = URL.createObjectURL(blob);
				$("#imagen2").attr('src', image.src);	
			}
	}
	mostrarImagen();
</script>

<script>
	jQuery('#ConfigurarPerfil').on('click', function() {
		jQuery('#frmCambioPassword')[0].reset();
		jQuery("#PasswordActual").focus();
		jQuery.magnificPopup.open({
			removalDelay: 800,
			items: {
				src: '#modal-form'
			},
			callbacks: {
				beforeOpen: function(e) {
					var Animation = 'mfp-flipInX';
					this.st.mainClass = Animation;
				}
			},
			midClick: true
		});

	});
	jQuery('#ConfigurarImagen').on('click', function() {
		jQuery('#frmCambioImagen')[0].reset();
		jQuery.magnificPopup.open({
			removalDelay: 800,
			items: {
				src: '#modal-form2'
			},
			callbacks: {
				beforeOpen: function(e) {
					var Animation = 'mfp-flipInX';
					this.st.mainClass = Animation;
				}
			},
			midClick: true
		});

	});
</script>