<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">
<script src="{{NeuralRutaWebPublico}}/assets/filedownload/jquery.fileDownload.js" type="text/javascript"></script>

<!-- PNotify -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>

<style>
	/*demo button styles*/
	.contextual-demo a {
		padding: 9px 4px;
		width: 9.5%;
	}
	.contextual-demo a + a {
		margin-left: 0.5%;
	}
	.contextual-demo-alt a {
		padding: 9px 4px;
		width: 15%;
	}
	.contextual-demo-alt a + a {
		margin-left: 0.5%;
	}

	/*responsive demo button styles*/
	@media(max-width: 800px) {
		.contextual-demo a {
			padding: 9px 4px;
			width: 23%;
		}
		.contextual-demo a + a {
			margin-left: 0.5%;
		}
		.contextual-demo-alt a {
			padding: 9px 4px;
			width: 28%;
		}
		.contextual-demo-alt a + a {
			margin-left: 0.5%;
		}
	}
</style>

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();

	});
</script>

<script>

	/* FiltradoClientes */
	function fnFiltroGestiones() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ReporteGestiones/frmFiltroGestiones',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	function fnGeneraReporte(){
		jQuery.fileDownload('{{NeuralRutaApp}}/Supervisor/ReporteGestiones/GeneraReporte', {
			data: jQuery('#frmFiltroGestiones').serialize(),
	  		httpMethod: "POST",
	  		dataType: 'html'
			})
			.done(function(){
				msjExito("El reporte se ha generado correctamente.")
				})
    		.fail(function(){
      			msjError("No se pudo generar el reporte!")
         	});
		   return false;
		}

	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}

	function msjError(msj){
		var Mensaje = new PNotify({
			title: 'Error',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}

	function msjAlerta(msj){
		var Mensaje = new PNotify({
			title: 'Alerta',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'info',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
	

	fnFiltroGestiones();
</script>

