<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>

<script>
	
	/* Filtrado de Grabaciones */
	function fnFiltradoGrabaciones() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/frmFiltradoGrabaciones',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
	
	/* Listado  de Gestión*/
	function fnLineaTiempo(IdCliente) {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/LineaTiempo/HistorialGestiones',
			type: 'POST',
			dataType: 'html',
			data: {IdDatoAgenda : IdCliente},
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	fnFiltradoGrabaciones();
</script>

