<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.css">
<section id="content" class="animated fadeIn">
	<div class="tray tray-center">

		<div class="admin-panels mw700 center-block" >
		<div class="row mt20">
			<div class="col-md-12 admin-grid" data-animate='["400","fadeIn"]'>
				<div class="panel sort-disable mb50 panel-dark" id="p0" data-panel-title="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-collapse="false" data-panel-fullscreen="false">
			 		<div class="panel-heading">
						<span class="panel-icon">
                        	<i class="fa fa-minus"></i>
                      	</span> &nbsp;
						FILTRADO DE GRABACIONES
			 		</div>
						<div class="panel-body p40 pb10">
							<form  id="frmFiltroGrabaciones" name="frmFiltroGrabaciones">
							<div class="tab-content pn br-n admin-form">
								<div class="row">
								<div class="col-md-4">
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Agente" name="Agente"/>
		                 					<label for="Agente"> Agente </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorAgente">
									<div class="col-md-12">
										<select class="form-control" id="IdAgente" name="IdAgente" autofocus="on">
											<option value="">Selecciona un Agente</option>
											{% for Valor in Agentes%}
											<option value="{{Valor.IdAgente}}">{{Valor.Nombres}} {{Valor.ApellidoPaterno}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Telefono" name="Telefono"/>
		                 					<label for="Telefono">Número Telefónico</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorTelefono">
									<div class="col-md-12">
										<label for="NumeroTelefono" class="field prepend-icon">
											<input type="text" name="NumeroTelefono" id="NumeroTelefono" class="gui-input" placeholder="Teléfono Fijo" />
											<label for="NumeroTelefono" class="field-icon">
											<i class="fa fa-phone"></i>
											</label>
										</label>
									</div>
								</div>
								</div>
								<div class="col-md-4">
        						<div class="section row">
        							<div class="col-md-12">
        								<div class="checkbox-custom checkbox-primary mb5">
	         								<input type="checkbox" id="Duracion" name="Duracion"/>
	                 						<label for="Duracion"> Duración </label>
  										</div>	
									</div>
							     </div>
							     <div class="section row" id="ContenedorRangoDuracion">
							  			<div class="col-md-6">
								    		<input type="text" id="minimoDuracion" name="minimoDuracion" class="form-control" placeholder="Mínimo" autocomplete="off"/>
							  			</div>
						  				<div class="col-md-6">
										    <input type="text" id="maximoDuracion" name="maximoDuracion" class="form-control" placeholder="Máximo" autocomplete="off"/>
								 		</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="FechaGestion" name="FechaGestion"/>
		                 					<label for="FechaGestion"> Fecha de Gestión </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFechaGestion">
									<div class="col-md-12">
										<label for="FechasGestion" class="field prepend-icon">
											<input type="text" class="form-control pull-right" name="FechasGestion" id="FechasGestion" placeholder="Rango Fecha"/>
											<label for="FechasGestion" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
								</div>
								<div class="col-md-4">
									<div class="section row">
										<div class="col-md-12">
											<div class="checkbox-custom checkbox-primary mb5">
		 										<input type="checkbox" id="Cliente" name="Cliente"/>
			                 					<label for="Cliente">Nombre Cliente </label>
											</div>
										</div>									
									</div>
									<div class="section row" id="ContenedorCliente">
										<div class="col-md-12">
											<label for="NombreTitular" class="field prepend-icon">
												<input type="text" class="form-control pull-right" name="NombreTitular" id="NombreTitular" placeholder="Nombre del Cliente" autocomplete="off"/>
												<label for="NombreTitular" class="field-icon">
												<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>	
								</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="section row mbn">
										   <label class="col-sm-10"> <span class="text-info">Estado de Gabación </span></label>
												<div class="col-sm-8">
													<label class="switch switch-info switch-round block mt15">
													<input type="checkbox" name="Grabacion" id="Grabacion" value="SI">
													<label for="Grabacion" data-on="SI" data-off="NO"></label>
													<span>Existe Grabación</span>
												</label>
									 		</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="section row mbn">
										   <label class="col-sm-10"> <span class="text-info">Estado de Llamada</span></label>
												<div class="col-sm-8">
													<label class="switch switch-info switch-round block mt15">
													<input type="checkbox" name="StatusLlamada" id="StatusLlamada" value="CONTESTADO">
													<label for="StatusLlamada" data-on="SI" data-off="NO"></label>
													<span>Contestada</span>
												</label>
									 		</div>
										</div>
									</div>
								</div>														
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-alert btn-rounded" type="submit" ><span class="fa fa-search "></span>&nbsp; Buscar Grabacion(es) por criterio  </button>
									</p>
								</div>
							</div>
							</form>
						</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-12 admin-grid">
				<div id="AreaConsulta"></div>
			</div>
		</div>
	</div>
</section>
{{Scripts|raw}}
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/jquerymask/jquery.maskedinput.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/moment/moment.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.min.js"></script>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<script>
	jQuery(document).ready(function(){
		jQuery("#ContenedorAgente").hide();
		jQuery("#ContenedorTelefono").hide();
		jQuery("#ContenedorCliente").hide();
		jQuery("#NumeroTelefono").mask("99999999?9");
		jQuery("#FechasGestion").daterangepicker({
	 		 format: "DD/MM/YYYY",
	 		 timePicker: true,
			 locale:{
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: "  Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
			}
  		});
		jQuery("#ContenedorFechaGestion").hide();
		jQuery("#ContenedorRangoDuracion").hide();
			
	});
</script>
<script>
	jQuery("#Agente").click(function(){
		if(jQuery("#Agente").is(":checked")){
			jQuery("#ContenedorAgente").show();
		}else{
			jQuery("#ContenedorAgente").hide();
			jQuery("#IdAgente").val("");
		}
	});
	jQuery("#Telefono").click(function(){
		if(jQuery("#Telefono").is(":checked")){
			jQuery("#ContenedorTelefono").show();
		}else{
			jQuery("#ContenedorTelefono").hide();
			jQuery("#NumeroTelefono").val("");
		}
	});
	jQuery("#Cliente").click(function(){
		if(jQuery("#Cliente").is(":checked")){
			jQuery("#ContenedorCliente").show();
		}else{
			jQuery("#ContenedorCliente").hide();
			jQuery("#NombreTitular").val("");
		}
	});
	jQuery("#Duracion").click(function(){
		if(jQuery("#Duracion").is(":checked")){
			jQuery("#ContenedorRangoDuracion").show();
		}else{
			jQuery("#ContenedorRangoDuracion").hide();
			jQuery("#minimoDuracion").val("");
			jQuery("#maximoDuracion").val("");
		}
	});
	jQuery("#FechaGestion").click(function(){
		if(jQuery("#FechaGestion").is(":checked")){
			jQuery("#ContenedorFechaGestion").show();
		}else{
			jQuery("#ContenedorFechaGestion").hide();
			jQuery("#FechasGestion").val("");
		}
	});
	jQuery("#maximoDuracion").change(function(){
		if(jQuery("#minimoDuracion").val() >= jQuery("#maximoDuracion").val()){
			msjError('El valor máximo debe ser mayor al de mínimo!');
			jQuery("#minimoDuracion").val("");
			jQuery("#maximoDuracion").val("");
		}
	});
	
	function msjError(msj){
		var Mensaje = new PNotify({
			title: 'Error',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}
	
</script>
<script>
	/* Consultar Grabaciones*/
	function fnConsultar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/ConsultarGrabaciones',
			data: jQuery('#frmFiltroGrabaciones').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaConsulta").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreaConsulta").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmFiltroGrabaciones').on('submit', function(e){
		var isvalidate = jQuery('#frmFiltroGrabaciones').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnConsultar();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnValidacion(){
		var Error = true;
		if(jQuery("#Agente").is(':checked')){
			if(jQuery("#IdAgente").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Telefono").is(':checked')){
			if(jQuery("#NumeroTelefono").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Cliente").is(':checked')){
			if(jQuery("#NombreTitular").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Duracion").is(':checked')){
			if(jQuery("#minimoDuracion").val() == "" || jQuery("#maximoDuracion").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaGestion").is(':checked')){
			if(jQuery("#FechasGestion").val() == "" ){
				Error = false;
			}
		}
		return Error;
	}
</script>