<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/datepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/daterange/daterangepicker.css">

<section id="content" class="animated fadeIn">
	<div class="tray tray-center">
		<div class="admin-panels mw700 center-block" >
		<div class="row mt20">
			<div class="col-md-12 admin-grid" data-animate='["400","fadeIn"]'>
				<div class="panel sort-disable mb50 panel-dark" id="p0" data-panel-title="false" data-panel-fullscreen="false" data-panel-remove="false" data-panel-collapse="false" data-panel-fullscreen="false">
			 		<div class="panel-heading">
						<span class="panel-icon">
                        	<i class="fa fa-minus"></i>
                      	</span> &nbsp;
						FILTRADO POR CRITERIOS DE BÚSQUEDA
			 		</div>
						<div class="panel-body p40 pb10">
							<form  id="frmFiltrosGestiones" name="frmFiltrosGestiones">
							<div class="tab-content pn br-n admin-form">
								<div class="section row">
									<div class="col-md-3">
										<select class="form-control" id="IdGerencia" name="IdGerencia">
											<option value="">Todos las Gerencias</option>
											{% for Valor in Gerencias%}
											<option value="{{Valor.IdGerencia}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdCartera" name="IdCartera">
											<option value="">Todas las Carteras</option>
											{% for Valor in Carteras %}
											<option value="{{Valor.IdCartera}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdProvincia" name="IdProvincia">
											<option value="">Todas las Provincias</option>
											{% for Valor in Provincias%}
											<option value="{{Valor.IdProvincia}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-md-3">
										<select class="form-control" id="IdDistrito" name="IdDistrito">
											<option value="">Todos los Distritos</option>
											{% for Valor in Distritos%}
											<option value="{{Valor.IdDistrito}}">{{Valor.Descripcion}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="Semanas" name="Semanas"/>
	                 						<label for="Semanas">Semanas de Atraso</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="SemanaAtraso">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSemanas" name="minimoSemanas" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSemanas" name="maximoSemanas" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="RangoSaldo" name="RangoSaldo"/>
	                 						<label for="RangoSaldo">Saldo</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="ContenedorSaldo">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSaldo" name="minimoSaldo" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSaldo" name="maximoSaldo" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
									<div class="col-md-4">
										<div class="checkbox-custom checkbox-success mb5">
	         								<input type="checkbox" id="RangoSaldoTotal" name="RangoSaldoTotal"/>
	                 						<label for="RangoSaldoTotal">Saldo Total</label>
  										</div>	
  										<br />
										<div class="section mb25">
											<div class="row form-group has-primary" id="ContenedorSaldoTotal">
												  <div class="col-xs-5">
												    <input type="text" id="minimoSaldoTotal" name="minimoSaldoTotal" class="form-control" placeholder="Mínimo" value="" autocomplete="off"/>
												  </div>
												   <div class="col-xs-2 text-center"> _ </div>
												  <div class="col-xs-5">
												    <input type="text" id="maximoSaldoTotal" name="maximoSaldoTotal" class="form-control" placeholder="Máximo" value="" autocomplete="off"/>
												  </div>
											</div>
	                        			</div>
									</div>
								</div>
							<div class="col-md-6">
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Fecha" name="Fecha"/>
		                 					<label for="Fecha">Fecha de Asignación</label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFecha">
									<div class="col-md-12">
										<label for="FechaAsginacion" class="field prepend-icon">
											<input type="text" name="FechaAsginacion" id="FechaAsginacion" class="gui-input" placeholder="Fecha de Asignación" autocomplete="off"/>
											<label for="FechaAsginacion" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="Agente" name="Agente"/>
		                 					<label for="Agente"> Agente </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorAgente">
									<div class="col-md-12">
										<select class="gui-input" id="IdAgente" name="IdAgente">
											<option value="">Todos los Agentes</option>
											{% for Valor in Agentes%}
											<option value="{{Valor.IdAgente}}">{{Valor.Nombres}} {{Valor.ApellidoPaterno}}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="FechaCompromiso" name="FechaCompromiso"/>
		                 					<label for="FechaCompromiso"> Fecha de Compromiso </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFechaCompromiso">
									<div class="col-md-12">
										<label for="FechasCompromiso" class="field prepend-icon">
											<input type="text" name="FechasCompromiso" id="FechasCompromiso" class="gui-input pull-right" placeholder="Rango Fechas" />
											<label for="FechasCompromiso" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
								<div class="section row">
									<div class="col-md-12">
										<div class="checkbox-custom checkbox-primary mb5">
	 										<input type="checkbox" id="FechaGestion" name="FechaGestion"/>
		                 					<label for="FechaGestion"> Fecha de Gestión </label>
										</div>
									</div>									
								</div>
								<div class="section row" id="ContenedorFechaGestion">
									<div class="col-md-12">
										<label for="FechasGestion" class="field prepend-icon">
											<input type="text" class="form-control pull-right" name="FechasGestion" id="FechasGestion" placeholder="Rango Fechas">
											<label for="FechasGestion" class="field-icon">
											<i class="fa fa-calendar"></i>
											</label>
										</label>
									</div>
								</div>
						</div>
							</div>
							<div class="row"><input type="hidden" id="Key" name="Key" value="{{Key}}" /></div>
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-6">
       								<div class="col-md-4">
			                            <div class="radio-custom radio-primary ">
			                              <input type="radio" id="Campo" name="TipoGestion" value="Campo" checked="true"/>
			                              <label for="Campo">Campo</label>
			                            </div>
               						</div>
									<div class="col-md-5">					
			                            <div class="radio-custom radio-success ">
			                              <input type="radio" id="Telefonica" name="TipoGestion" value="Telefonica"/>
			                              <label for="Telefonica">Telefónica</label>
			                            </div>
  									</div>
									<div class="col-md-3">					
			                            <div class="radio-custom radio-alert ">
			                              <input type="radio" id="Manual" name="TipoGestion" value="Manual"/>
			                              <label for="Manual">Manual</label>
			                            </div>
  									</div>
								</div>
								<div class="col-md-6">								
									<p class="text-right">
										<button class="btn btn-alert btn-rounded" type="submit" ><span class="fa fa-search "></span>&nbsp; Graficar Resultados </button>
									</p>
								</div>
							</div>
							</form>						
						</div>
				</div>
			</div>
		</div>
		</div>
		<div class="row">
			<div class="col-md-12 admin-grid">
			 <!-- Stats Top Graph Bot -->
          		<div class="panel" id="fullscreen">
               		<div class="panel-heading">
                    	<span class="panel-title"> Gráficas de Gestiones </span>
			         </div>
					<div class="panel-body pn">				
						<div id="high-line3" style="width: 100%; height: 310px; margin: 0 auto"></div>
					</div>
				</div> 
			</div>	

			<div class="col-md-6 admin-grid">	
				<div class="panel" id="p11">
		  			<div class="panel-heading">
		     			<span class="panel-title">Compromiso de Pago</span>
		  			</div>
		  			<div class="panel-body pn">
		            	<div id="high-pie" style="width: 100%; height: 400px; margin: 0 auto"></div>
		             </div>
		     	</div>
     		</div>
     		<div class="col-md-6 admin-grid">	
				<div class="panel" id="p13">
		  			<div class="panel-heading">
		     			<span class="panel-title">Semanas de atraso</span>
		  			</div>
		  			<div class="panel-body pn">
		            	<div id="bar-atraso" style="width: 100%; height: 400px; margin: 0 auto"></div>
		             </div>
		     	</div>
     		</div>
     	</div>
	</div>
</section>
{{Scripts|raw}}
<script src="{{NeuralRutaWebPublico}}/assets/js/utility/fulscreen/jquery.fullscreen.js"></script>
  <script>
	  jQuery.datepicker.regional['es'] = {
		  closeText: 'Cerrar',
		  prevText: '<Ant',
		  nextText: 'Sig>',
		  currentText: 'Hoy',
		  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		  weekHeader: 'Sm',
		  dateFormat: 'dd/mm/yy',
		  firstDay: 1,
		  isRTL: false,
		  showMonthAfterYear: false,
		  yearSuffix: ''
	  };
	  jQuery.datepicker.setDefaults($.datepicker.regional['es']);
  </script>
<script>
	function fnConsultarGestiones(){
		$.ajax({
	        url: '{{NeuralRutaApp}}/Supervisor/GraficaGestiones/ConsultarGestiones',
			data: jQuery('#frmFiltrosGestiones').serialize(),
			type: 'POST',
	        success: function(data) {
       	 		var DataJSON = JSON.parse(data);
      			var Data1 = [];
      			var Data2 = [];
      			var saldos = DataJSON['saldo'];
				var saldostotal = DataJSON['saldototal']; 
      			for(var i in saldos){
      				Data1.push(saldos[i]);
      				Data2.push(saldostotal[i]);
      			}
	         	Graficar(Data1, Data2, DataJSON['Compromiso'], DataJSON['Semanas']);    
	        }
	    });
 	}
	function Graficar(saldo, saldototal, compromiso, semanas){
		$('#high-line3').highcharts({
			        title: {
			            text: 'Gráfica de Saldos',
			            x: -20 //center
			        },
			        subtitle: {
			            text: 'saldo y saldo total',
			            x: -20
			        },
			        xAxis: {
			          	tickInterval: 1
			        },
			        yAxis: {
  	        		  title: {
			                text: 'Nuevo Sol'
			            },
			            plotLines: [{
			                value: 0,
			                width: 1,
			                color: '#000000',
			            }],
			        },
			        legend: {
			            layout: 'vertical',
			            align: 'right',
			            verticalAlign: 'middle',
			            borderWidth: 0
			        },
			        series: [{
			        	name: 'Saldo',
			        	data: saldo,pointStart: 1
			        },{
			        	name: 'Saldo Total',
			        	data: saldototal,pointStart: 1
					}],
			    });
			    
	 	$('#high-pie').highcharts({
        	chart: {
	            plotBackgroundColor: null,
	            plotBorderWidth: null,
	            plotShadow: false,
	            type: 'pie'
	        },
	        title: {
     	       text: 'Porcentaje de Compromiso de Pago'
        	},
        	subtitle: {
			            text: 'Clientes con Compromiso de pago',
			            x: -20
			        },
        	tooltip: {
            	pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        	},
        	plotOptions: {
            	pie: {
                	allowPointSelect: true,
          		 	cursor: 'pointer',
                	dataLabels: {
                    	enabled: true,
	                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                    }
                	}
            	}
        	},
        	series: [{
	            name: "Porcentaje",
	            colorByPoint: true,
	            data: [{
	                name: "SI",
	                y: compromiso['SI']
	            }, {
	                name: "NO",
	                y: compromiso['NO']
	            }]
	        }]
    	});
    	
    $('#bar-atraso').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Gráfica de Semanas de Atraso'
        },
        xAxis: {	
            type: 'category',
            labels: {
                rotation: -90,
                style: {
                    fontSize: '0px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Semanas  de atraso'
            }
        },
        legend: {
            enabled: false
        },
        series: [{
            name: 'Atraso',
            data: semanas,
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y}', // one decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });   	
}

</script>
<script>
	jQuery(document).ready(function() {
		jQuery("#SemanaAtraso").hide();
		jQuery("#ContenedorSaldo").hide();
		jQuery("#ContenedorSaldoTotal").hide();
		jQuery("#ContenedorFecha").hide();
		jQuery("#ContenedorAgente").hide();
		jQuery("#ContenedorFechaCompromiso").hide();
		jQuery("#ContenedorFechaGestion").hide();
		jQuery("#FechaAsginacion").datepicker();
		jQuery("#FechaInicio").datepicker();
		jQuery("#FechaFin").datepicker();
 		jQuery("#FechasCompromiso").daterangepicker({
 			format: 'DD/MM/YYYY',
		 	locale: {
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: " Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
	    	}
		});
	   jQuery("#FechasGestion").daterangepicker({
	 		 format: "DD/MM/YYYY",
	 		 timePicker: true,
			 locale:{
	   		    applyLabel: "Aplicar",
		        cancelLabel: "Cancelar",
		        fromLabel: "  Desde",
		        toLabel: "   Hasta",
		        customRangeLabel: "Personalizado",
		        daysOfWeek: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		        monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"]
			}
  		});
  		fnConsultarGestiones();
  });

</script>
<script>
	/* Consultar Clientes*/
	function fnConsultar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/GraficaGestiones/frmConsultarGestiones',
			data: jQuery('#frmFiltrosGestiones').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreaConsulta").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreaConsulta").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmFiltrosGestiones').on('submit', function(e){
		var isvalidate = jQuery('#frmFiltrosGestiones').valid();
		if (isvalidate) {
			e.preventDefault();
			if(fnValidacion()){
				fnConsultarGestiones();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnValidacion(){
		var Error = true;
		if(jQuery("#Fecha").is(':checked')){
			if(jQuery("#FechaAsginacion").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#Semanas").is(':checked')){
			if(jQuery("#minimoSemanas").val() == "" || jQuery("#maximoSemanas").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#RangoSaldo").is(':checked')){
			if(jQuery("#minimoSaldo").val() == "" || jQuery("#maximoSaldo").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#RangoSaldoTotal").is(':checked')){
			if(jQuery("#minimoSaldoTotal").val() == "" || jQuery("#maximoSaldoTotal").val() == "" ){
				Error = false;
			}
		}
		if(jQuery("#Agente").is(':checked')){
			if(jQuery("#IdAgente").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaCompromiso").is(':checked')){
			if(jQuery("#FechasCompromiso").val() == ""){
				Error = false;
			}
		}
		if(jQuery("#FechaGestion").is(':checked')){
			if(jQuery("#FechasGestion").val() == ""){
				Error = false;
			}
		}
		if(!(jQuery("#Campo").is(':checked') || jQuery("#Telefonica").is(':checked') || jQuery("#Manual").is(':checked'))){
			Error = false;
		}
		return Error;
	}
</script>
<script>
	jQuery("#Semanas").click(function(){
		if(jQuery("#Semanas").is(":checked")){
			jQuery("#SemanaAtraso").show();
		}else{
			jQuery("#SemanaAtraso").hide();
			jQuery("#minimoSemanas").val("");
			jQuery("#maximoSemanas").val("");
		}
	});
	jQuery("#RangoSaldo").click(function(){
		if(jQuery("#RangoSaldo").is(":checked")){
			jQuery("#ContenedorSaldo").show();
		}else{
			jQuery("#ContenedorSaldo").hide();
			jQuery("#minimoSaldo").val("");
			jQuery("#maximoSaldo").val("");
		}
	});
	jQuery("#RangoSaldoTotal").click(function(){
		if(jQuery("#RangoSaldoTotal").is(":checked")){
			jQuery("#ContenedorSaldoTotal").show();
		}else{
			jQuery("#ContenedorSaldoTotal").hide();
			jQuery("#minimoSaldoTotal").val("");
			jQuery("#maximoSaldoTotal").val("");
		}
	});

	jQuery("#Fecha").click(function(){
		if(jQuery("#Fecha").is(":checked")){
			jQuery("#ContenedorFecha").show();
		}else{
			jQuery("#ContenedorFecha").hide();
			jQuery("#FechaAsginacion").val("");
		}
	});
	
	jQuery("#Agente").click(function(){
		if(jQuery("#Agente").is(":checked")){
			jQuery("#ContenedorAgente").show();
		}else{
			jQuery("#ContenedorAgente").hide();
			jQuery("#IdAgente").val("");
		}
	});
	
	jQuery("#FechaCompromiso").click(function(){
		if(jQuery("#FechaCompromiso").is(":checked")){
			jQuery("#ContenedorFechaCompromiso").show();
		}else{
			jQuery("#ContenedorFechaCompromiso").hide();
			jQuery("#FechasCompromiso").val("");
		}
	});
	
	jQuery("#FechaGestion").click(function(){
		if(jQuery("#FechaGestion").is(":checked")){
			jQuery("#ContenedorFechaGestion").show();
		}else{
			jQuery("#ContenedorFechaGestion").hide();
			jQuery("#FechasGestion").val("");
		}
	});
</script>
