<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Troncales</div>
				</div>
				<div class="panel-body pn">
					{% if Consulta %}
					<table class="table table-striped table-hover" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th class="text-center">Número de Registro</th>
							<th class="text-center">Supervisor</th>
							<th class="text-center">Troncal</th>
							<th class="text-center">Estatus</th>
						</tr>
						</thead>
						<tbody>
						{% set Contador = 0 %}
						{% for Valor in Consulta %}
							{% set Contador = Contador + 1 %}
						<tr>
							<td class="text-center">{{Contador}}</td>
							<td class="text-center">{{Valor.Nombres}} {{Valor.ApellidoPaterno}}</td>
							<td class="text-center">{{Valor.NombreTroncal}}</td>
							<td class="text-center">
							{% if Valor.Status == "ASIGNADO" %}
								<a class="label label-info" href='javascript: frmReasignarTroncales("{{Valor.IdTroncalAsignada|Cifrado}}");'>ASIGNADO</a>
							{% else %}
								<a class="label label-warning" href='javascript: frmVerTroncales("{{Valor.idUsuario|Cifrado}}");'>Asignar</a>
							{% endif %}
							</td>
						</tr>
						{% endfor %} 
						</tbody>
					</table>
					{% else %}
						<div class="alert alert-info pastel alert-dismissable">
						  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						  <i class="fa fa-info pr10"></i>
						  <strong>No hay Registros!</strong> No se han encontrado registros.
						</div>
					{% endif %}
				</div>
			</div>
		</div>

	</div>
</section>

<script type="text/javascript">
	jQuery(document).ready(function() {

		// Init DataTables
		$('#datatable2').dataTable({
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>

<script>
	function frmVerTroncales(Id){
		jQuery.ajax({
				data: {IdSupervisor: Id},
				type: 'POST',
				url: '{{NeuralRutaApp}}/Administrador/AsignacionTroncales/frmVerTroncales',
				success: function(data) {
					bootbox.dialog({
						message: data,
						title: "Asignación de Troncales"
					});
				}
			});
	}
</script>
<script>
	function frmReasignarTroncales(Id){
		jQuery.ajax({
				data: {IdTroncalAsignada: Id},
				type: 'POST',
				url: '{{NeuralRutaApp}}/Administrador/AsignacionTroncales/frmReasignarTroncales',
				success: function(data) {
					bootbox.dialog({
						message: data,
						title: "Asignación de Troncales"
					});
				}
			});
	}
</script>
