<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="panel panel-dark">
			<div class="panel-heading">
				<span class="panel-title">Importación De Archivo Excel</span>
				<div class="widget-menu pull-right">
				</div>
			</div>

			<div class="panel-body">
				<div class="section row text-center">
					<br/><br/>
					<div class="col-md-5"></div>
					<div id="ExaminarExcel" onclick="javascript: fnExaminarArchivo()" class="col-md-2 text-center">
						<a class="holder-style p15 mb20 holder-active" href="#dock-image">
							<span class="fa fa-search holder-icon"></span>
							<br/> Examinar Archivo Cargado
						</a>
					</div>

				</div>
				<div class="section row">
					<div class="col-md-12">
						<br/>
						<input type="hidden" id="ruta" name="ruta" value="{{ruta}}"/>
						<input type="hidden" id="extension" name="extension" value="{{extension}}"/>
						<p><span class="label label-warning"><span class="glyphicons glyphicons-warning_sign"></span> &nbsp;Precaución:</span>
						Solo se pueden subir archivos en formato Excel (xls ó xlsx).</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>
<script>
	function fnExaminarArchivo(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ImportarProvincias/ExaminarArchivo',
			data: { ruta: jQuery('#ruta').val(), extension: jQuery('#extension').val() },
			dataType: 'html',
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>