<ul class="nav sidebar-menu">
	<li class="sidebar-label pt20">Menu de Opciones</li>

	{% if Menu == "Index" or Menu == "AgendaTelefonica" %}
	<li class="active">
		{% else %}
		<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/AgendaTelefonica">
			<span class="glyphicon glyphicon-edit"></span> Registro de Clientes 
		</a>
	</li>

	{% if Menu == "Agente" %}
	<li class="active">
		{% else %}
	<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/Agente">
			<span class="glyphicons glyphicons-group"></span>
			<span class="sidebar-title">Agentes</span>
		</a>
	</li>

	{% if Menu == "CargaLaboral" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/CargaLaboral">
			<span class="fa fa-building"></span> Carga Laboral </a>
	</li>
	
	{% if Menu == "FiltradoClientes" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/FiltradoClientes">
			<span class="glyphicons glyphicons-filter"></span> Filtrado de registros </a>
	</li>
	
	{% if Menu == "RegistroGrabaciones" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones">
			<span class="glyphicons glyphicons-headset"></span> Registro de Grabaciones </a>
	</li>

	{% if Menu == "MonitorAgentes" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/MonitorAgentes">
			<span class="glyphicon glyphicon-phone-alt"></span> Monitoreo de Agentes </a>
	</li>

	<li class="sidebar-label pt15">Herramientas</li>

	<li>
		{% if Menu == "Gerencia" or Menu == "Cartera" or Menu == "Provincia" or Menu == "Distrito" or Menu == "Cliente" or Menu == "LimiteLlamada" or Menu == "CodigosGestion" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="fa fa-cogs"></span>
			<span class="sidebar-title">Configuraciones</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "Cliente" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/Cliente">
					<span class="glyphicons glyphicons-group"></span> Clientes </a>
			</li>
			{% if Menu == "Gerencia" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/Gerencia">
					<span class="glyphicons glyphicons-building"></span> Gerencias </a>
			</li>
			{% if Menu == "Cartera" %}
			<li class="active">
				{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/Cartera">
					<span class="glyphicons glyphicons-notes_2"></span> Carteras </a>
			</li>
			{% if Menu == "Provincia" %}
			<li class="active">
				{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/Provincia">
					<span class="glyphicons glyphicons-truck"></span> Provincias </a>
			</li>
			{% if Menu == "Distrito" %}
			<li class="active">
				{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/Distrito">
					<span class="glyphicons glyphicons-truck"></span> Distritos </a>
			</li>
			{% if Menu == "LimiteLlamada" %}
			<li class="active">
				{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/LimiteLlamada">
					<span class="glyphicons glyphicons-stopwatch"></span> Limite de llamada </a>
			</li>
				{% if Menu == "CodigosGestion" %}
			<li class="active">
				{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Supervisor/CodigosGestion">
					<span class="glyphicon glyphicon-barcode"></span> Capturar Códigos </a>
			</li>
		</ul>
	</li>

	<li>
		{% if Menu == "ImportarProvincias" or Menu == "ImportarRegistros" or  Menu == "HistorialDeCarga" %}
		<a class="accordion-toggle menu-open" href="#">
			{% else %}
			<a class="accordion-toggle" href="#">
				{% endif %}
				<span class="glyphicons glyphicons-settings"></span>
				<span class="sidebar-title">Importaciones</span>
				<span class="caret"></span>
			</a>
			<ul class="nav sub-nav">
				{% if Menu == "ImportarProvincias" %}
				<li class="active">
					{% else %}
				<li>
					{% endif %}
					<a href="{{NeuralRutaApp}}/Supervisor/ImportarProvincias">
						<span class="glyphicons glyphicons-database_plus"></span> Provincias/Distritos </a>
				</li>
				{% if Menu == "ImportarRegistros" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
					<a href="{{NeuralRutaApp}}/Supervisor/ImportarRegistros">
						<span class="fa fa-folder-open-o"></span> Importar Registros</a>
				</li>
				{% if Menu == "HistorialDeCarga" %}
				<li class="active">
				{% else %}
				<li>
				{% endif %}
					<a href="{{NeuralRutaApp}}/Supervisor/HistorialDeCarga">
						<span class="glyphicons glyphicons-clock"></span> Historial de Carga </a>
				</li>
			</ul>
	</li>
	<li>
		{% if Menu == "ReporteGestiones" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="glyphicons glyphicons-log_book"></span>
			<span class="sidebar-title">Reportes Excel</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "ReporteGestiones" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{{NeuralRutaApp}}/Supervisor/ReporteGestiones">
			<span class="fa fa-book"></span> Reporte de Gestión</a>
			</li>
			
		</ul>
	</li>
		<li>
		{% if Menu == "GraficaGestiones" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="fa fa-bar-chart-o	"></span>
			<span class="sidebar-title">Gráficas</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "GraficaGestiones" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{{NeuralRutaApp}}/Supervisor/GraficaGestiones">
			<span class="glyphicons glyphicons-charts"></span> Gráficas de Gestiones</a>
			</li>			
		</ul>
	</li>
	{% if Menu == "Bitacora" %}
	<li class="active">
		{% else %}
		<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Supervisor/Bitacora">
			<span class="glyphicons glyphicons-notes_2"></span>
			<span class="sidebar-title">Bitácora de Modificaciones</span>
		</a>
	</li>
<!--	<br><br>
	<!--<li>
		<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo.gif" class="img-responsive w250"></img>
	</li>!-->
	<!--<br><br>-->
</ul>