
<header id="topbar" class="ph10">
	<div class="topbar-right">
		<a href="#" onclick="javascript: frmAgregar();" class="btn btn-success btn-sm fw600 ml10">
			<span class="fa fa-plus pr5"></span> Agregar Nuevo Registro</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="topbar-right">
		<a href="#" onclick="javascript: frmImportarExcel();" class="btn btn-success btn-sm fw600 ml10">
			<span class="glyphicons glyphicons-database_plus pr5"></span>&nbsp; Importar Datos Excel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
</header>

<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">
		<div class="col-md-12 ">
			<div class="section row">
					<div class="col-md-4 bs-component">
						<input type="text" id="Filtro" name="Filtro" class="form-control align-left" placeholder="Búsqueda"/>
					</div>
			</div>
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">					
					<div class="panel-title hidden-xs">
    					<span class="glyphicon glyphicon-tasks"></span>Listado De Registros De Clientes
					</div>
				</div>
				<div class="panel-body pn">
					<table id="datatable2" class="table table-striped table-hover" cellspacing="0" width="100%">
						<thead>
						<tr>
							<th class="text-center">Num.</th>
							<th>Cliente Único</th>
							<th>Nombre Titular</th>
							<th class="text-center">Semana de Atraso</th>
							<th class="text-center"> Saldo</th>
							<th class="text-center">Saldo Total</th>
							<th class="text-center">Código</th>
							<th class="text-center">Status</th>
							<th class="text-center">Asignación</th>
							<th class="text-center">Acciones</th>
						</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
					<label for="Pagina" class="col-md-1 control-label ">Número de Página</label>
					<div class="col-md-2 bs-component">
						<select id="Pagina" name="Pagina" class="form-control">
						{% for i in 1..NumeroPaginas %}
	        	          <option value="{{i}}">{{i}}</option>
						{% endfor %}
						</select>
					</div>
					<div class="col-md-7"></div>
					<div id="total">
					<label class="text10_a text-right col-md-2">Total de Registros {{Registros}}</label>
					</div>
			</div>
		</div>
	</div>
</section>
<script>
	function DatosJson(){
		var Pagina = $("#Pagina").val();
		var filtro = $("#Filtro").val(); 
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/ConsultaPagina',
			dataType: 'json',
			type: 'POST',
			data: {NumeroPagina : Pagina, Busqueda : filtro},
			cache: false,
			success: function(Datos){
				var html = '';
				var contador = 1;
				$('tbody').html("");
				$.each(Datos, function(i,Dato){
					html = '<tr><td class="text-center">' + (i+1) + '</td>';
					html = html + '<td>' + Dato.ClienteUnico + '</td>';
					html = html + '<td>' + Dato.NombreTitular + '</td>';
					html = html + '<td class="text-center">' + Dato.SemanaAtraso + '</td>';
					html = html + '<td class="text-right">S/.' + Dato.Saldo + '</td>';
					html = html + '<td class="text-right">S/.' + Dato.SaldoTotal + '</td>';
					html += '<td class= "text-center"><span class="label label-default" style="background: '+Dato.Color+'; color: '+Dato.Color+';">--</span></td>'
					if(Dato.StatusRegistro == "ACTIVO"){
						html = html + '<td class="text-center"><span class="label label-primary">' + Dato.StatusRegistro + '</span></td>';
					}
					else{
						html = html + '<td class="text-center"><span class="label label-default">' + Dato.StatusRegistro + '</span></td>';
					}
					
					if(Dato.Status == "ASIGNADO"){
						html = html + '<td class="text-center"><a class="btn btn-success btn-xs shiny icon-only" href="javascript: fnAsignacionAgentes(\''+Dato.IdDatoAgenda+'\');"><i class="fa fa-check"></i></a></td>';
					}
					else{						
						html = html + '<td class="text-center"><span class="label label-danger"><i class="fa fa-times"></i></span></td>';
					}
					html = html + '<td class="text-center"><a class="btn btn-default btn-xs shiny icon-only yellow" href="javascript: frmEditar(\''+Dato.IdDatoAgenda+'\');"><i class="fa fa-pencil-square-o"></i></a>';
					html = html + '&nbsp;<a class="btn btn-default btn-xs shiny icon-only danger" href="javascript: fnEliminarRegistro(\''+Dato.IdDatoAgenda+'\');" ><i class="fa fa-trash-o"></i></a>';
					html = html + '</td></tr>';
					$('tbody').append(html);
				});
			}
		});
	}
	
	DatosJson();
</script>
<script>
	$("#Pagina").on('change', function(){
		DatosJson();
	});
	$("#Filtro").on('keyup', function(){
		$("tbody").html("");
		DatosJson();
		Limite();
	});
</script>
<script>
	function Limite(){
		var filtro = $("#Filtro").val(); 
		jQuery.ajax({
				cache: false,
				datatype: "text",
				type: "POST",
				url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/CalcularLimite',
				data: {Busqueda : filtro},
				success: function(Dato){
					var html = "";
					var total = "";
					var Reg = JSON.parse(Dato);
					for(var i = 1; i <= parseInt(Reg.Paginas); i++){
						html = html + "<option value="+(i)+">"+(i)+"</option>"
					}
					total = '<div class="col-md-7"></div>'+
					'<label class="text10_a text-right col-md-2">Total de Registros '+Reg.Registros+'</label>';
					$("#Pagina").html(html);
					$("#total").html(total);
				}
					
		});
	}
</script>

