<!DOCTYPE html>
<html>
<head>
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<title>ZICOM :: Sistema de gestión de cobros</title>
	<meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
	<meta name="description" content="AbsoluteAdmin - A Responsive HTML5 Admin UI Framework">
	<meta name="author" content="AbsoluteAdmin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Font CSS (Via CDN) -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/skin/default_skin/css/theme.css">

	<!-- Ladda Loading Btns CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/ladda/ladda.min.css">

	<!-- Admin Forms CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/css/admin-forms.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{NeuralRutaWebPublico}}/assets/img/favicon.ico">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<style>
		label.error {
			color: #0063dc;
			font-size: 10px;
		}
	</style>
	<style>
		/* Demo Page Styles */
		.hero-content .btn {
			border-radius: 0 !important;
			padding: 12px 0 !important;
		}
		.col-adjust-8 {
			padding: 0 30px;
		}
		.col-adjust-8 > .row > div {
			width: 11.1%;
			padding-left: 7px;
			padding-right: 7px;
		}
		.col-adjust-8 > .row > div > .btn {
			padding-left: 5px;
			padding-right: 5px;
		}
		.col-adjust-8 > .row > div > .btn-group > .btn {
			padding-left: 10px;
			padding-right: 10px;
		}

		/* Responsive Demo Page Styles */
		@media (max-width: 700px) {
			.col-adjust-8 code {
				display: none;
			}
			.col-adjust-8 > .row > div {
				width: 100%;
				margin-bottom: 10px;
			}
			.hero-content {
				border-bottom: 0 !important;
				padding-bottom: 0 !important;
			}
			.hero-content .col-adjust-8 h3,
			.hero-content .col-adjust-8 > .row:first-child > div {
				margin-bottom: 0px !important;
			}
			.col-adjust-8.demo-btn-groups > .row > div,
			.col-adjust-8.demo-btn-dropdowns > .row > div,
			.col-adjust-8.demo-btn-ladda > .row > div {
				width: 33%;
				margin-bottom: 10px;
			}
			.col-adjust-8.demo-btn-ladda > .row > div > .btn {
				min-width: 100px;
			}
		}

		/* Zocal Demo Page Styles*/
		button.zocial {
			margin: 6px;
		}

		/* Ladd Demo Page Styles*/
		.ladda-button[data-loading] {
			overflow: visible;
		}
		.ladda-button[data-style=contract][data-loading] {
			width: 35px;
		}
	</style>


</head>
<body class="external-page sb-l-c sb-r-c">
<div id="main" class="animated fadeIn">

	<section id="content_wrapper">

		<div id="canvas-wrapper">
			<canvas id="demo-canvas"></canvas>
		</div>


		<section id="content">

			<div class="admin-form theme-info mw700" style="margin-top: 3%;" id="register">

				<div class="row table-layout">
					<a href="dashboard.html" title="Return to Dashboard">
						<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo_header.png" class="center-block img-responsive" style="max-width: 275px;">
					</a>
				</div>

				<div class="panel panel-info mt10 br-n">

					<form method="POST" id="frm_Recuperacion" name="frm_Recuperacion">
						<div class="panel-body p25 bg-light">


							<div class="section row p10 ph15">
								<h3>Restablecer contraseña</h3>
								<p>Introduzca su dirección de correo electrónico a continuación y le enviaremos instrucciones para restablecer la contraseña.</p>
							</div>

							<div class="section">
								<label for="email" class="field prepend-icon">
									<input type="email" name="email" id="email" class="gui-input" placeholder="Correo Electronico de su Cuenta Registrada" autocomplete="off">
									<label for="email" class="field-icon">
										<i class="fa fa-envelope"></i>
									</label>
								</label>
							</div>


						</div>
						<input type="hidden" id="Key" name="Key" value="{{Key}}">
						<div class="panel-footer clearfix">
							<button id="Enviar" type="submit" class="btn ladda-button btn-alert pull-right" data-style="zoom-out">
								<span class="ladda-label"><span class="fa fa-magic pr5"></span> Recuperación de Contraseña</span>
								<span class="ladda-spinner"></span></button>
						</div>

					</form>
				</div>

				<div class="login-links">
					<p>Ya se encuentra su cuenta activada?
						<a href="{{NeuralRutaApp}}/Index" class="active">Ingrese aquí</a>
					</p>
				</div>


			</div>

		</section>
	</section>
</div>

<!-- jQuery -->
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery-1.11.1.min.js" ></script>
<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery_ui/jquery-ui.min.js" ></script>

<!-- CanvasBG Plugin(creates mousehover effect) -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/canvasbg/canvasbg.js" ></script>

<!-- PNotify -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js" ></script>

<!-- Ladda Loading Button JS -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/ladda/ladda.min.js" ></script>

<!-- Theme Javascript -->
<script src="{{NeuralRutaWebPublico}}/assets/js/utility/utility.js" ></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/demo/demo.js" ></script>
<script src="{{NeuralRutaWebPublico}}/assets/js/main.js" ></script>

<!-- Page Javascript -->
<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
		CanvasBG.init({
			Loc: {
				x: window.innerWidth / 2,
				y: window.innerHeight / 3.3
			},
		});
	});
</script>
{{Scripts|raw}}
<script>
	jQuery(document).ready(function(){
		jQuery( "input[name=email]" ).focus();
	});
</script>

<script>
	jQuery(document).ready(function() {
		jQuery("Form").keypress(function(e) {
			if (e.which == 13) {
				return false;
			}
		});
	});
</script>
<script>
	function fnEnviarValidacion(){
		var l = Ladda.create(document.querySelector('.ladda-button'));
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Index/EmailRecuperacionPassword',
			data: jQuery('#frm_Recuperacion').serialize(),
			type: 'POST',
			beforeSend: function() {
				l.start();
			},
			success: function(data) {
				//alert(data);
				new PNotify({
					title: '¡Aviso!',
					shadow: true,
					opacity: 0.75,
					type: "primary",
					delay: 3800,
					text: data
				});
				l.stop();
			}
		});
	}
</script>
<script>
	jQuery(document).ready(function(){
		jQuery("Form").keypress(function(e) {
			if (e.which == 13) {
				return false;
			}
		});
		jQuery('#email').focus();
		jQuery('#frm_Recuperacion').on('submit', function(e){
			var isvalidate = jQuery('#frm_Recuperacion').valid();
			if (isvalidate) {
				e.preventDefault();
				fnEnviarValidacion();
			}
		});

	});
</script>
</body>
</html>