<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: frmImportarExcel();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>

<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-10 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Archivo Excel</span>
						<ul class="nav panel-tabs panel-tabs-left">
							
						</ul>
					</div>

					<form method="POST" enctype="multipart/form-data" id="frmAgregarArchivoExcel" name="frmAgregarArchivoExcel">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_0" class="tab-pane active">
									<div class="section row">
										<div class="col-md-2">
											<div class="col-md-12 text-center">
												<a class="holder-style p15 mb20 holder-active" href="{{NeuralRutaWebPublico}}/documentos/Provincias_Distritos.xlsx">
													<span class="fa fa-download holder-icon"></span>
													<br/> Descargar Plantilla
												</a>
											</div>
										</div>
										<div class="col-md-8">
											<div class="row"></div>
											<br>
				                        	<div class="section">
					                          <label class="field prepend-icon append-button file">
					                            <span class="button">Seleccionar Archivo</span>
					                            <input type="file" class="gui-file" name="archivo" id="archivo" onChange="document.getElementById('uploader1').value = this.value;">
					                            <input type="text" class="gui-input" id="uploader1" placeholder="Por favor selecciona un Archivo">
					                            <label class="field-icon">
					                              <i class="fa fa-upload"></i>
					                            </label>
					                          </label>
					                        </div>
					                    </div>
					                    <div class="col-md-12">
												<br>
												<p><span class="label label-warning"><span class="glyphicons glyphicons-warning_sign"></span> &nbsp;Precaución:</span>
												Solo se pueden subir archivos en formato Excel (xls ó xlsx), sin diseño se recomienda la descarga de la plantilla para hacer un llenado correcto.</p>
										</div>
					                </div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="" />
							<hr class="short alt"/>
				 			<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-open pr5"></span> Importar Archivo de Excel</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
	/* Caragar Archivo */
	function fnCargarArchivoExcel(){
		var data = new FormData();
		jQuery.each($('#archivo')[0].files, function(i, file){
			data.append('file-'+i, file);
		});
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/ImportarProvincias/CargarArchivoExcel',
			data: data,
			type: 'POST',
			cache: false,
			contentType: false,
			async: false,
			processData: false,
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>
<script>
	jQuery('#frmAgregarArchivoExcel').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarArchivoExcel').valid();
		if (isvalidate) {
			e.preventDefault();
			if(Validacion()){
				fnCargarArchivoExcel();	
			}
			else{
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function Validacion(){
		var Error = false;
		if($("#archivo").val() == ""){
			Error = false;
		}
		else{
			Error = true;
		}
		return Error;
	}
</script>