<div class="animated fadeIn">
	<form class="form-horizontal" role="form" id="frmAgentes">
		<br>
		{% set Contador = 0%}
		{% for Consulta in Consultas %}
		{% set Contador = Contador + 1%}
		<div class="form-group">
		
			<div class="section row">
			<label for="Agente{{Contador}}" class="col-md-3 control-label">Agente {{Contador}}</label>
			<div class="col-md-8">
					<select class="form-control" id="Agente{{Contador}}" name="Agente{{Contador}}">
						<option value="">Seleccione Un Agente</option>
						{% for Agente in Agentes %}
						{% if Consulta.idUsuario == Agente.IdAgente %}
							{% if Agente.Status == "ELIMINADO"%}
							<option value="{{Consulta.idUsuario}}" selected="">ELIMINADO</option>
							{% else %}
							<option value="{{Agente.IdAgente}}" selected>{{Agente.Nombres}} {{Agente.ApellidoPaterno}} {{Agente.ApellidoMaterno}}</option>
							{% endif %} 
						{% endif %}
						{% endfor %}
						<div id="opciones{{Contador}}">
						</div>
					</select>
			</div>
			</div>
		
		</div>
		<br>
		{% endfor %}
		<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdCliente}}"/>
		<input type="hidden" id="Key" name="Key" value="{{Key}}" />
		<div class="text-right">
			<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Reasignar Agentes</button>
		</div>
	</form>
</div>
<script>
	$("select").click(function(){
		var objeto = $(this);
	    var Id = objeto.attr('id');
	    Id = "#"+Id;
	    var valor = $(Id).val();
	    var texto = $(Id+" option:selected").text();
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/ReducirAgentes',
			data: jQuery('#frmAgentes').serialize(),
			type: 'POST',
			async: false,
			beforeSend: function () {
				jQuery("#opciones1").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery(Id).html(data);
				jQuery(Id).append('<option value="'+valor+'" selected="">'+texto+'</option>');
			}
		});
	});
</script>
<script>
	jQuery('#frmAgentes').on('submit', function(e){
		var isvalidate = jQuery('#frmAgentes').valid();
		if (isvalidate) {
			e.preventDefault();
			fnReasignarAgentes();
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function fnReasignarAgentes(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Supervisor/AgendaTelefonica/ReasignarAgente',
			data: jQuery('#frmAgentes').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				bootbox.hideAll();
			}
		});
	}
</script>