<div class="animated fadeIn">
	<form id="frmGestionTelefonica" name="frmGestionTelefonica" class="form-horizontal" role="form">
		<br/>
		<div class="form-group">
			<div class="form-group">
				<label for="Telefono" class="col-lg-3 control-label">Teléfonos</label>
				<div class="col-lg-8">
					<select class="form-control" id="Telefono" name="Telefono">
						<option value="">Seleccione Un Teléfono</option>
						{% for Telefono in Telefonos %}
						<option value="{{Telefono}}" selected="" >{{Telefono}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<br/>
		<input type="hidden" id="Key" name="Key" value="{{Key}}" />
		<input type="hidden" id="IdDatoAgenda" name="IdDatoAgenda" value="{{IdDatoAgenda}}"/>
		<div class="text-right">
			<button class="btn btn-primary" type="submit"><span class="glyphicons glyphicons-headset pr5"></span> &nbsp; Llamar al cliente</button>
		</div>
	</form>
</div>
{{ Scripts|raw }}
<script>
	/* Llamar */
	function fnLlamar(){
		var Telefono = $('select[name=Telefono]').val();
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/Marcacion',
			data: jQuery('#frmGestionTelefonica').serialize(),
			type: 'POST',
			async:true,
			cache:false,
			dataType:"html",
			error: function(){
				msjFallo('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
			},
			beforeSend: function() {
				bootbox.hideAll();
			},
			success: function(Response) {
				if(Response == 'Fallo'){
					msjError('No se pudo establecer comunicación con el servidor de comunicaciones VOIP.');
				}
				if(Response == 'Error'){
					msjAlerta('La llamada no se pudo a completar.');
					//fnGetionarLlamada();
				}
				if(Response == 'Success'){
					fnGetionarLlamada(Telefono);
				}
			}
		});
	}
</script>
<script>
	function msjAlerta(msj){
		var Mensaje = new PNotify({
			title: 'Alerta',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'info',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
	function msjFallo(msj){
		var Mensaje = new PNotify({
			title: 'Fallo',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: true,
			delay: 2800
		});
	}
</script>
<script>
	function fnGetionarLlamada(Telefono){
			var Id = "{{IdDatoAgenda}}";
			jQuery.ajax({
			data: {'IdRegistro': Id, 'Telefono': Telefono},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmGestionarLlamada',
			beforeSend: function() {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function(data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#frmGestionTelefonica').on('submit', function(e){
		var isvalidate = jQuery('#frmGestionTelefonica').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnLlamar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#Telefono").val() == ''){
			error = false;
		}
		return error;
	}
</script>
