<link href="{{NeuralRutaWebPublico}}/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<link href="{{NeuralRutaWebPublico}}/skin/metro-fire/jplayer.metro-fire.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{NeuralRutaWebPublico}}/js/jquery.jplayer.min.js"></script>
<script type="text/javascript">
	//<![CDATA[
	$(document).ready(function(){

		$.ajax({
			url: "{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/EscucharGrabacion/{{uniqueid}}",
			dataType: "html",
			async: true,
			beforeSend: function(){
				html = '<strong>Cargando ...</strong>';
				$('#Audio').html(html);
			},
			success: function(html){
				if(html!="ERROR"){
					$("#jquery_jplayer_1").jPlayer({
						ready: function (event) {
							$(this).jPlayer("setMedia", {
								mp3: "{{NeuralRutaWebPublico}}/Audios/{{uniqueid}}.mp3"
							});
						},
						swfPath: "js",
						supplied: "mp3",
						wmode: "window",
						smoothPlayBar: true,
						keyEnabled: true,
						remainingDuration: true,
						toggleDuration: true,
						volume: 1
					});
					html = '<a href="{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/EscucharGrabacion/{{uniqueid}}">Descargar Audio</a>';
					$('#Audio').html(html);
				}
				else{
					$("#Reproductor").html("");
					$("#Reproductor").html('<div class="alert alert-danger alert-dismissable">'+
  						'<strong>No existe audio grabacion del registro!</strong></div>');
				}
			}
		});
	});
	//]]>
</script>
	<div id="Reproductor">
	<div id="jquery_jplayer_1" class="jp-jplayer"></div>
		<div id="jp_container_1" class="jp-audio">
		<div class="jp-controls">
			<a class="jp-play"><i class="fa fa-play"></i></a>
			<a class="jp-pause"><i class="fa fa-pause"></i></a>
		</div>
		<div class="jp-progress">
			<div class="jp-seek-bar">
				<div class="jp-play-bar">
				</div>
			</div>
			<div class="jp-current-time"></div>
		</div>
		<div class="jp-no-solution">
			Media Player Error<br>
			Update your browser or Flash plugin
		</div>
	</div>

	<div id="Audio">
		<a href="{{NeuralRutaApp}}/Supervisor/RegistroGrabaciones/EscucharGrabacion/{{uniqueid}}">Descargar Audio</a>
	</div>
	</div>