<script src="{{NeuralRutaWebPublico}}/js/sweetalert.min.js"></script>
<link rel="stylesheet" href="{{NeuralRutaWebPublico}}/css/sweetalert.css">

<!-- PNotify -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/pnotify/pnotify.js"></script>
<style>
	/*demo button styles*/
	.contextual-demo a {
		padding: 9px 4px;
		width: 9.5%;
	}
	.contextual-demo a + a {
		margin-left: 0.5%;
	}
	.contextual-demo-alt a {
		padding: 9px 4px;
		width: 15%;
	}
	.contextual-demo-alt a + a {
		margin-left: 0.5%;
	}	

	/*responsive demo button styles*/
	@media(max-width: 800px) {
		.contextual-demo a {
			padding: 9px 4px;
			width: 23%;
		}
		.contextual-demo a + a {
			margin-left: 0.5%;
		}
		.contextual-demo-alt a {
			padding: 9px 4px;
			width: 28%;
		}
		.contextual-demo-alt a + a {
			margin-left: 0.5%;
		}
	}
</style>

<script type="text/javascript">
	jQuery(document).ready(function() {
		"use strict";
		Core.init();
	});
</script>

<script>

	/* Listado */
	function fnListado() {
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/GestionTelefonica/frmListado',
			dataType: 'html',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	/* Editar Registro */
	function frmEditar(ide){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Agente/AgendaTelefonica/frmEditar',
			type: 'POST',
			dataType: 'html',
			data: {Id : ide},
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}

	function msjExito(msj){
		var Mensaje = new PNotify({
			title: 'Exito',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'success',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}

	function msjError(msj){
		var Mensaje = new PNotify({
			title: 'Error',
			text: msj,
			shadow: true,
			opacity: '0.8',
			addclass: 'stack_top_right',
			type: 'danger',
			width: '290px',
			hide: false,
			delay: 1400
		});
	}
	
	function fnGestionTelefonica(Id){
		jQuery.ajax({
			data: {id: Id},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmGestionTelefonica',
			success: function(data) {
				bootbox.dialog({
					message: data,
					title: "Gestión Telefónica"
				});
			}
		});
	}
	
	function fnGestionCampo(Id){
		jQuery.ajax({
			data: {id: Id},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmGestionCampo',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
	
	function fnGestionManual(Id, formulario){
		jQuery.ajax({
			data: {id: Id, Formulario : formulario},
			type: 'POST',
			url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmGestionManual',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}

	fnListado();
</script>
<script>
	/* Listado  de Gestión*/
	function fnListadoGestionExito(formulario) {
		if(formulario){
			jQuery.ajax({
				url: '{{NeuralRutaApp}}/Agente/FiltradoClientes/frmFiltradoClientes',
				data: {Formulario : formulario},
				type: 'POST',
				beforeSend: function () {
					jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
				},
				success: function (data) {
					jQuery("#AreContenido").html(data);
				}
			});
		}
		else{
			fnListado();
		}
	}
</script>