<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>ZICOM - Sistema de control de cobros</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<!-- Font CSS (Via CDN) -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>

	<!-- Glyphicons Pro CSS(font) -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/fonts/glyphicons-pro/glyphicons-pro.css">

	<!-- Vendor CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/magnific/magnific-popup.css">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/skin/default_skin/css/theme.min.css">

	<!-- Admin Forms CSS -->
	<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/assets/admin-tools/admin-forms/css/admin-forms.min.css">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{NeuralRutaWebPublico}}/assets/img/favicon.ico">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	
	<!-- jQuery -->
	<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery-1.11.1.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

	<!-- Page Plugins -->
	<script src="{{NeuralRutaWebPublico}}/vendor/plugins/magnific/jquery.magnific-popup.js"></script>

	<!-- Theme Javascript -->
	<script src="{{NeuralRutaWebPublico}}/assets/js/utility/utility.min.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/demo/demo.js"></script>
	<script src="{{NeuralRutaWebPublico}}/assets/js/main.js"></script>

	<style>
		label.error {
			color: #0063dc;
			font-size: 10px;
		}
		li.timeline-item {
			position: relative;
			padding: 15px 5px 15px 50px;
		}
		li.timeline-item .timeline-desc {
			letter-spacing: -0.2px;
		}
	</style>
</head>
<body class="dashboard-page">
<div id="main">

	{% include 'General/Partes/Configuracion.html' %}

	<!-- Start: Header -->
	<header id="Encabezado" class="navbar navbar-fixed-top navbar-shadow bg-dark">
		<div class="navbar-branding">
			<a class="navbar-brand" href="#">
				<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo_header.png" class="w200">
			</a>
			<span id="toggle_sidemenu_l" class="ad ad-lines"></span>
		</div>
		<ul class="nav navbar-nav navbar-left">
			<li class="hidden-xs">
				<a class="request-fullscreen toggle-active" href="#">
					<span class="ad ad-screen-full fs18"></span>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<!--{% include 'General/Partes/Notificaciones.html' %}-->

			{% include 'General/Partes/Profile.html' %}
		</ul>
	</header>
	<!-- End: Header -->


	<!-- Start: Sidebar -->
	<aside id="sidebar_left" class="nano nano-light affix">
		<div class="sidebar-left-content nano-content">

			<header class="sidebar-header">

				{% include 'General/Partes/Infousuario.html' %}
				<div class="sidebar-toggle-mini">
					<a href="#">
						<span class="fa fa-sign-out"></span>
					</a>
				</div>
				{% include 'General/Menu.html' %}
			</header>
		</div>
	</aside>
	<!-- End: Sidebar Left -->

	<!-- Start: Content-Wrapper -->
	<section id="content_wrapper">

		<!-- Start: Topbar -->
		<header id="topbar" class="alt">
			<div class="topbar-left">
				<ol class="breadcrumb">
					<li class="crumb-active">
						<a href="#">Agente</a>
					</li>
					<li class="crumb-icon">
						<a href="#">
							{% block Titulo %}
								<span class="fa fa-windows"> Principal</span>
							{% endblock Titulo %}
						</a>
					</li>

				</ol>
			</div>

		</header>
		<!-- End: Topbar -->

		<!--  Contenido -->
		<div id="AreContenido"></div>
		{% block Contenido %}
		<!-- Contenido de la Aplicacion -->
		{% endblock Contenido %}
		<!-- #Contenido -->

		<!-- Begin: Page Footer -->
		{% include 'General/Partes/Pie.html' %}
		<!-- End: Page Footer -->
	</section>

</div>
<!-- End: Main -->

<!-- Scripts -->
{% block ScriptsAplicacion %}
<!-- Script de la aplicacion -->
{% endblock ScriptsAplicacion %}
<script>
	jQuery(function($) {
		jQuery('#Encabezado').addClass('navbar navbar-fixed-top navbar-shadow bg-info');
		jQuery('#sidebar_left').addClass('nano nano-light affix sidebar-light light');
		Demo.init();
	});
</script>
</body>
</html>