<ul class="nav sidebar-menu">
	<li class="sidebar-label pt20">Menú de Opciones</li>

	{% if Menu == "Index" or Menu == "FiltradoClientes" %}
	<li class="active">
		{% else %}
		<li>
	{% endif %}
		<a href="{{NeuralRutaApp}}/Agente/FiltradoClientes">
			<span class="fa fa-search"></span> Filtrado de Clientes </a>
	</li>

	{% if Menu == "AgendaTelefonica" %}
	<li class="active">
		{% else %}
	<li>
		{% endif %}
		<a href="{{NeuralRutaApp}}/Agente/AgendaTelefonica">
			<span class="glyphicon glyphicon-edit"></span> Registro de Clientes </a>
	</li>
	<li class="sidebar-label pt15">Herramientas de Gestión</li>
	<li>
		{% if Menu == "GestionTelefonica" or Menu == "GestionCampo" or Menu == "FiltradoCompromisoPago" or Menu == "GestionManual" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="glyphicons glyphicons-log_book"></span>
			<span class="sidebar-title">Historial Gestión</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "GestionTelefonica" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{{NeuralRutaApp}}/Agente/GestionTelefonica">
			<span class="glyphicons glyphicons-headset"></span> Gestión Telefónica </a>
			</li>			
			{% if Menu == "GestionCampo" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Agente/GestionCampo">
					<span class="glyphicons glyphicons-bus"></span> Gestión de Campo </a>
			</li>
			{% if Menu == "GestionManual" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Agente/GestionManual">
					<span class="fa fa-pencil-square-o"></span> Gestión Manual </a>
			</li>			
			{% if Menu == "FiltradoCompromisoPago" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<a href="{{NeuralRutaApp}}/Agente/FiltradoCompromisoPago">
					<span class="fa fa-thumbs-o-up"></span> Compromiso de Pago </a>
			</li>
		</ul>
	</li>
	<li>
		{% if Menu == "ReporteGestiones" %}
		<a class="accordion-toggle menu-open" href="#">
		{% else %}
		<a class="accordion-toggle" href="#">
		{% endif %}
			<span class="glyphicons glyphicons-log_book"></span>
			<span class="sidebar-title">Reporte de Gestiones</span>
			<span class="caret"></span>
		</a>
		<ul class="nav sub-nav">
			{% if Menu == "ReporteGestiones" %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
			<a href="{{NeuralRutaApp}}/Agente/ReporteGestiones">
			<span class="glyphicons glyphicons-headset"></span> Reporte de Gestión</a>
			</li>
			
		</ul>
	</li>

	<!--<li>
		<img src="{{NeuralRutaWebPublico}}/assets/img/logos/logo.gif" class="img-responsive w250"/>
	</li>-->
</ul>