<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">
		<div class="col-md-12">
  		<div class="panel" id="spy5">
            <div class="panel-heading">
              <span class="panel-title">
                <span class="fa fa-table"></span>Listado de Clientes</span>
            </div>
            <div class="panel-body pn">
              <div class="bs-component">
                <table class="table table-striped">
                  <thead>
                    <tr>
					  	<th class="text-center">Num.</th>
						<th>Cliente Único</th>
						<th>Nombre Titular</th>
						<th class="text-center">Semana de Atraso</th>
						<th>Saldo</th>
						<th class="text-center">Saldo Total</th>
						<th class="text-center">Historial</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% set Contador = 0%}
						{% for Valor in Consulta %}
    						{% set Contador = Contador + 1 %}
						<tr>
							<td class="text-center">{{ Contador }}</td>
							
							<td>{{ Valor.ClienteUnico }}</td>
							<td>{{ Valor.NombreTitular }}</td>
							<td class="text-center">{{ Valor.SemanaAtraso }}</td>
							<td> S/.{{ Valor.Saldo|Formato_Moneda }}</td>
							<td> S/.{{ Valor.SaldoTotal|Formato_Moneda }}</td>
							<td class="text-center">
								<a class="btn btn-primary" href='javascript: fnLineaTiempo("{{Valor.IdDatoAgenda|Cifrado}}");'><span class="fa fa-search"></span></a>
							</td>
						</tr>
						{% endfor %}
                  </tbody>
                  <tfoot>
                  	<tr>
                  		<td colspan="2">TOTALES</td>
                  		<td></td>
                  		<td></td>
                  		<td> <span class="label label-rounded label-system">S/.{{TotalSaldo|Formato_Moneda}}</span></td>
                  		<td> <span class="label label-rounded label-system">S/.{{TotalSaldoTotal|Formato_Moneda}}</samp></td>
                  		<td></td>
				    </tr>
				  </tfoot>
                </table>
              </div>
            </div>
          </div>
		</div>
     </div>
</section>
<!-- Datatables -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>

<!-- Datatables Bootstrap Modifications  -->
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('#datatable2').dataTable({
			"oLanguage": {
				"sProcessing":     "Procesando...",
				"sLengthMenu":     "Mostrar _MENU_ registros",
				"sZeroRecords":    "No se encontraron resultados",
				"sEmptyTable":     "Ningún dato disponible en esta tabla",
				"sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				"sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				"sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				"sInfoPostFix":    "",
				"sSearch":         "Buscar:",
				"sUrl":            "",
				"sInfoThousands":  ",",
				"sLoadingRecords": "Cargando...",
				"oPaginate": {
					"sFirst":    "Primero",
					"sLast":     "Último",
					"sNext":     "Siguiente",
					"sPrevious": "Anterior"
				},
				"oAria": {
					"sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
					"sSortDescending": ": Activar para ordenar la columna de manera descendente"
				}
			},
			"aoColumnDefs": [{
				'bSortable': false,
				'aTargets': [-1]
			}],
			"iDisplayLength": 5,
			"aLengthMenu": [
				[5, 10, 25, 50, -1],
				[5, 10, 25, 50, "All"]
			],
			"sDom": '<"dt-panelmenu clearfix"lfr>t<"dt-panelfooter clearfix"ip>',
			"oTableTools": {
				"sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
			}
		});
	});
</script>
