<header id="topbar" class="ph10">
	<div class="topbar-left">

	</div>
	<div class="topbar-right hidden-xs hidden-sm">
		<a href="#" onclick="javascript: fnListado();" class="btn btn-warning btn-sm fw600 ml10">
			<span class="fa fa-times pr5"></span> Cancelar</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	</div>
</header>
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Agregar Nuevo Supervisor</span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Datos Generales</a>
							</li>
							<li>
								<a href="#tab1_2" data-toggle="tab">Datos De La Cuenta</a>
							</li>
						</ul>
					</div>

					<form method="POST" action="{{NeuralRutaApp}}/Administrador/Supervisor/Agregar" id="frmAgregarSupervisor" name="frmAgregarSupervisor">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">

									<div class="section row">

										<div class="col-md-4">
											<label for="Nombres" class="field prepend-icon">
												<input type="text" name="Nombres" id="Nombres" class="gui-input" placeholder="Nombre(s)" autocomplete="off" />
												<label for="Nombres" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoPaterno" class="field prepend-icon">
												<input type="text" name="ApellidoPaterno" id="ApellidoPaterno" class="gui-input" placeholder="Apellido Paterno" autocomplete="off"/>
												<label for="ApellidoPaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

										<div class="col-md-4">
											<label for="ApellidoMaterno" class="field prepend-icon">
												<input type="text" name="ApellidoMaterno" id="ApellidoMaterno" class="gui-input" placeholder="Apellido Materno" autocomplete="off" />
												<label for="ApellidoMaterno" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>

									</div>

									<div class="section row mbn">
										<div class="col-md-4">
											<div class="fileupload fileupload-new admin-form" data-provides="fileupload">
												<div class="fileupload-preview thumbnail mb20">
													<img src="{{NeuralRutaWebPublico}}/assets/img/logos/imagen.png" alt="holder">
												</div>
												<div class="row">
													<div class="col-xs-12">
														<span class="button btn-system btn-file btn-block">
														  <span class="fileupload-new">Cargar Imagen</span>
														  <span class="fileupload-exists">Change</span>
														  <input type="file" name="Imagen" id="Imagen" accept=".gif,.jpg,.jpeg,.png,.bmp">
														</span>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-8 pl15">
											<div class="section mb10">
												<label for="Cargo" class="field prepend-icon">
													<input type="text" name="Cargo" id="Cargo" class="event-name gui-input br-light light" placeholder="Cargo" autocomplete="off" />
													<label for="Cargo" class="field-icon">
														<i class="fa fa-truck"></i>
													</label>
												</label>
											</div>

											<div class="section row">
												<div class="col-md-6">
													<label for="TelefonoCasa" class="field prepend-icon">
														<input type="text" name="TelefonoCasa" id="TelefonoCasa" class="gui-input" placeholder="Teléfono Fijo 1" autocomplete="off"/>
														<label for="TelefonoCasa" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>

												<div class="col-md-6">
													<label for="TelefonoMovil" class="field prepend-icon">
														<input type="text" name="TelefonoMovil" id="TelefonoMovil" class="gui-input" placeholder="Teléfono Móvil 1" autocomplete="off"/>
														<label for="TelefonoMovil" class="field-icon">
															<i class="fa fa-mobile"></i>
														</label>
													</label>
												</div>

											</div>
											<div class="section row">
												<div class="col-md-6">
													<label for="TelefonoCasa2" class="field prepend-icon">
														<input type="text" name="TelefonoCasa2" id="TelefonoCasa2" class="gui-input" placeholder="Teléfono Fijo 2" autocomplete="off"/>
														<label for="TelefonoCasa2" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>

												<div class="col-md-6">
													<label for="TelefonoMovil2" class="field prepend-icon">
														<input type="text" name="TelefonoMovil2" id="TelefonoMovil2" class="gui-input" placeholder="Teléfono Móvil 2" autocomplete="off">
														<label for="TelefonoMovil2" class="field-icon">
															<i class="fa fa-mobile"></i>
														</label>
													</label>
												</div>

											</div>
											<div class="section row">
												<div class="col-md-6">
													<label for="Extension" class="field prepend-icon">
														<input type="text" name="Extension" id="Extension" class="event-name gui-input br-light light" placeholder="Extensión" autocomplete="off">
														<label for="Extension" class="field-icon">
															<i class="fa fa-phone"></i>
														</label>
													</label>
												</div>
												<div class="col-md-6">
													<label for="Correo" class="field prepend-icon">
														<input type="text" name="Correo" id="Correo" class="event-name gui-input br-light light" placeholder="Correo Electrónico" autocomplete="off">
														<label for="Correo" class="field-icon">
															<i class="fa fa-envelope"></i>
														</label>
													</label>
												</div>
											</div>
											<div class="section row" id="ContenedorTipoCallerId">
												<div class="col-md-12">
													<select class="form-control" name="TipoCallerId" id="TipoCallerId">
														<option value="">Seleccione Tipo de CallerId</option>
														<option value="Fijo"> Fijo </option>
														<option value="Aleatorio"> Aleatorio </option>
													</select>
												</div>
											</div>
											<div class="section row" id="ContenedorFijo">
												<div class="col-md-12">
													<input type="text" name="callerid" id="callerid" class="event-name form-control br-light light" placeholder="CallerId" autocomplete="off"/>
												</div>											
											</div>
											<div class="section row" id="ContenedorAleatorio">
												<div class="col-md-6">
													<input type="text" name="NumeroBase" id="NumeroBase" class="event-name form-control br-light light col-md-6" placeholder="Número Base" autocomplete="off"/>
												</div>
												<div class="col-md-6">
													<select class="form-control" name="Cantidad" id="Cantidad">
														<option value="">Números Aleatorios</option>
														<option value="1"> 1 </option>
														<option value="2"> 2 </option>
														<option value="3"> 3 </option>
														<option value="4"> 4 </option>
													</select>
												</div>
											</div>

										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="Usuario" class="field prepend-icon">
												<input type="text" name="Usuario" id="Usuario" class="gui-input" placeholder="Usuario" autocomplete="off"/>
												<label for="Usuario" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="Password" class="field prepend-icon">
												<input type="password" name="Password" id="Password" class="gui-input" placeholder="Contraseña" autocomplete="off"/>
												<label for="Password" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="RepitePassword" class="field prepend-icon">
												<input type="password" name="RepitePassword" id="RepitePassword" class="gui-input" placeholder="Repetir Contraseña" />
												<label for="RepitePassword" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>

									<hr class="short alt">
									<div class="section row mbn">
										<div class="col-sm-8">
											<label class="switch block mt15">
												<input type="checkbox" name="Status" id="Status" value="ACTIVO" checked>
												<label for="Status" data-on="SI" data-off="NO"></label>
												<span>Usuario Activo</span>
											</label>
										</div>

									</div>

								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt">
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Información del Supervisor</button>
									</p>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	jQuery(function($){
		jQuery("#Nombres").focus();
		jQuery("#TelefonoCasa").mask("99999999");
		jQuery("#TelefonoMovil").mask("999999999");
		jQuery("#TelefonoCasa2").mask("99999999");
		jQuery("#TelefonoMovil2").mask("999999999");
		jQuery("#callerid").mask("99999999?9");
		jQuery("#NumeroBase").mask("99999999?9");
		jQuery("#ContenedorFijo").hide();
		jQuery("#ContenedorAleatorio").hide();
	});
</script>
{{Scripts|raw}}

<script>
	/* Guardar */
	function fnGuardar(){
			var formData = new FormData(document.getElementById("frmAgregarSupervisor"));
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Supervisor/Agregar',
			data: formData,
			type: 'POST',
			cache: false,
			contentType: false,
			async: false,
			processData: false,
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Procesando, Espere por favor  <img src='{{NeuralRutaWebPublico}}/assets/img/255.gif' />");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
			}
		});
	}
</script>

<script>
	jQuery('#frmAgregarSupervisor').on('submit', function(e){
		var isvalidate = jQuery('#frmAgregarSupervisor').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#Nombres").val() == ''){
			error = false;
		}
		if(jQuery("#ApellidoPaterno").val() == ''){
			error = false;
		}
		if(jQuery("#ApellidoMaterno").val() == ''){
			error = false;
		}
		if(jQuery("#Extension").val() == ''){
			error = false;
		}
		if(jQuery("#Correo").val() == ''){
			error = false;
		}
		if(jQuery("#Usuario").val() == ''){
			error = false;
		}
		if(jQuery("#Password").val() == ''){
			error = false;
		}
		if(jQuery("#TipoCallerId").val() == ''){
			error = false;
		}
		else if(jQuery("#TipoCallerId").val() == "Fijo"){
			if($("#callerid").val() == "")
				error = false;
		}
		else if(jQuery("#TipoCallerId").val() == "Aleatorio"){
			if($("#NumeroBase").val() == "" || $("#Cantidad").val() == ""){
				error = false;
			}
		}
		return error;
	}
</script>
<script>
	jQuery("#TipoCallerId").change(function(){
		if(jQuery("#TipoCallerId").val() == "Fijo"){
			jQuery("#ContenedorFijo").show();
			jQuery("#ContenedorAleatorio").hide();
			jQuery("#NumeroBase").val("");
			jQuery("#Cantidad").val("");
		}
		else if(jQuery("#TipoCallerId").val() == "Aleatorio"){
			jQuery("#ContenedorAleatorio").show();
			jQuery("#ContenedorFijo").hide();
			jQuery("#callerid").val("");
		}

	});
</script>