
<section id="content" class="table-layout animated fadeIn">
	<div class="tray tray-center">

		<div class="row">
			<div class="col-md-8 admin-grid">

				<div class="panel sort-disable panel-dark" data-panel-title="false">
					<div class="panel-heading">
						<span class="panel-title hidden-xs hidden"> Configuración </span>
						<ul class="nav panel-tabs panel-tabs-left">
							<li class="active">
								<a href="#tab1_1" data-toggle="tab">Configuración del Conmutador</a>
							</li>
							<li >
								<a href="#tab1_2" data-toggle="tab">Datos de Usuario</a>
							</li>
						</ul>
					</div>
					{% if Consulta %}
					
					{% for Valor in Consulta %}
					<form method="POST" id="frmConfigurarConmutador" name="frmConfigurarConmutador">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									<div class="section row">
										<div class="col-md-8">
											<label for="host" class="field prepend-icon">
												<input type="text" name="host" id="host" class="gui-input" placeholder="Host" value="{{Valor.host}}"/>
												<label for="host" class="field-icon">
													<i class="glyphicons glyphicons-home"></i>
												</label>
											</label>
										</div>
										
										<div class="col-md-4">
											<label for="port" class="field prepend-icon">
												<input type="text" name="port" id="port" class="gui-input" placeholder="Puerto" value="{{Valor.port}}"/>
												<label for="port" class="field-icon">
													<i class="glyphicons glyphicons-riflescope"></i>
												</label>
											</label>
										</div>
									</div>

									<div class="section row">
										<div class="col-md-8">
											<label for="Prefijo" class="field prepend-icon">
												<input type="text" name="Prefijo" id="Prefijo" class="gui-input" placeholder="Prefijo de Marcación" value="{{Valor.Prefijo}}"/>
												<label for="Prefijo" class="field-icon">
													<i class="glyphicons glyphicons-calculator"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="callerid" class="field prepend-icon">
												<input type="text" name="callerid" id="callerid" class="gui-input" placeholder="Número de Salida" value="{{Valor.callerid}}"/>
												<label for="callerid" class="field-icon">
													<i class="glyphicon glyphicon-phone-alt"></i>
												</label>
											</label>
										</div>
									</div>
									
									<div class="section row">
										<div class="col-md-8">
											<label for="contexto" class="field prepend-icon">
												<input type="text" name="contexto" id="contexto" class="gui-input" placeholder="Contexto" value="{{Valor.contexto}}"/>
												<label for="contexto" class="field-icon">
													<i class="glyphicons glyphicons-adjust_alt"></i>
												</label>
											</label>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="user" class="field prepend-icon">
												<input type="text" name="user" id="user" class="gui-input" placeholder="Usuario" value="{{Valor.user}}"/>
												<label for="user" class="field-icon">
													<i class="glyphicons glyphicons-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="password" class="field prepend-icon">
												<input type="password" name="password" id="password" class="gui-input" placeholder="Contraseña" />
												<label for="password" class="field-icon">
													<i class="glyphicons glyphicons-keys"></i>
												</label>
											</label>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<input type="hidden" id="idConfiguracion" name="idConfiguracion" value="{{Valor.idConfiguracion}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Configuración</button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endfor %}
					{% else %}
					<form method="POST" id="frmConfigurarConmutador" name="frmConfigurarConmutador">
						<div class="panel-body p20 pb10">
							<div class="tab-content pn br-n admin-form">
								<div id="tab1_1" class="tab-pane active">
									<div class="section row">
										<div class="col-md-8">
											<label for="host" class="field prepend-icon">
												<input type="text" name="host" id="host" class="gui-input" placeholder="Host" />
												<label for="host" class="field-icon">
													<i class="glyphicons glyphicons-cloud"></i>
												</label>
											</label>
										</div>										
										<div class="col-md-4">
											<label for="port" class="field prepend-icon">
												<input type="text" name="port" id="port" class="gui-input" placeholder="Puerto" />
												<label for="port" class="field-icon">
													<i class="glyphicons glyphicons-riflescope"></i>
												</label>
											</label>
										</div>										
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="Prefijo" class="field prepend-icon">
												<input type="text" name="Prefijo" id="Prefijo" class="gui-input" placeholder="Prefijo de Marcación" />
												<label for="Prefijo" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="callerid" class="field prepend-icon">
												<input type="text" name="callerid" id="callerid" class="gui-input" placeholder="Núemro de Salida" />
												<label for="callerid" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									
									<div class="section row">
										<div class="col-md-8">
											<label for="contexto" class="field prepend-icon">
												<input type="text" name="contexto" id="contexto" class="gui-input" placeholder="Contexto" />
												<label for="contexto" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
								</div>
								<div id="tab1_2" class="tab-pane">
									<div class="section row">
										<div class="col-md-8">
											<label for="user" class="field prepend-icon">
												<input type="text" name="user" id="user" class="gui-input" placeholder="Usuario" />
												<label for="user" class="field-icon">
													<i class="fa fa-user"></i>
												</label>
											</label>
										</div>
									</div>
									<div class="section row">
										<div class="col-md-8">
											<label for="password" class="field prepend-icon">
												<input type="password" name="password" id="password" class="gui-input" placeholder="Contraseña" />
												<label for="password" class="field-icon">
													<i class="fa fa-unlock-alt"></i>
												</label>
											</label>
										</div>
									</div>
								</div>
							</div>
							<input type="hidden" id="Key" name="Key" value="{{Key}}" />
							<hr class="short alt"/>
							<div class="section row">
								<div class="col-md-12">
									<p class="text-right">
										<button class="btn btn-primary" type="submit"><span class="fa fa-save pr5"></span> Guardar Configuración</button>
									</p>
								</div>
							</div>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	jQuery(function($){
		jQuery("#host").focus();

	 	jQuery("#host").mask('099.099.099.099');
		jQuery("#port").mask("9999");
	});
</script>
{{Scripts|raw}}

<script>
	/* Guardar configuracion */
	function fnGuardar(){
		jQuery.ajax({
			url: '{{NeuralRutaApp}}/Administrador/Conmutador/GuardarConfiguracion',
			data: jQuery('#frmConfigurarConmutador').serialize(),
			type: 'POST',
			beforeSend: function () {
				jQuery("#AreContenido").html("<br />&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-spinner fa-spin'></i>&nbsp;&nbsp;Procesando, Espere por favor...");
			},
			success: function (data) {
				jQuery("#AreContenido").html(data);
				//fnListado();
			}
		});
	}
</script>

<script>
	jQuery('#frmConfigurarConmutador').on('submit', function(e){
		var isvalidate = jQuery('#frmConfigurarConmutador').valid();
		if (isvalidate) {
			e.preventDefault();
			if(frmValidacion()){
				fnGuardar();
			}
			else {
				sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
			}
		}
		else {
			sweetAlert("Error", "Faltan campos para el proceso de captura, verifique nuevamente sus datos", "error");
		}
	});
</script>
<script>
	function frmValidacion(){
		var error = true;
		if(jQuery("#host").val() == ''){
			error = false;
		}
		if(jQuery("#Prefijo").val() == ''){
			error = false;
		}
		if(jQuery("#callerid").val() == ''){
			error = false;
		}
		if(jQuery("#contexto").val() == ''){
			error = false;
		}
		return error;
	}
</script>