<!-- Datatables CSS -->
<link rel="stylesheet" type="text/css" href="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.css"/>
<header id="topbar" class="ph10">
	<div class="topbar-left">
	</div>
</header>
<section id="content" class="table-layout animated fadeIn">

	<div class="tray tray-center">

		<div class="col-md-12">
			<div class="panel panel-visible" id="spy2">
				<div class="panel-heading">
					<div class="panel-title hidden-xs">
						<span class="glyphicon glyphicon-tasks"></span>Listado De Registros De Clientes</div>
						<input type="hidden" id="TotalRegistros" name="TotalRegistros" value="{{Total}}"/>
				</div>
				<div class="panel-body pn">
					<table class="table table-condensed table-hover table-striped" id="datatable2" cellspacing="0" width="100%">
						<thead>
						<tr>							
							<th data-column-id="ClienteUnico" data-sortable="false">Cliente Único</th>
							<th data-column-id="NombreTitular" data-width="200px" data-sortable="false">Nombre Titular</th>
							<th data-column-id="SemanaAtraso" data-align="center" data-header-align="center" data-sortable="false">Semana de Atraso</th>
							<th data-column-id="Saldo" data-sortable="false">Saldo</th>
							<th data-column-id="SaldoTotal" data-align="center" data-header-align="center" data-sortable="false">Saldo Total</th>
							<th data-formatter="Codigo" data-sortable="false" data-align="center" data-header-align="center" data-width="80px"> Código</th>
							<th data-formatter="Registro" data-sortable="false">Status</th>
							<th data-formatter="Acciones" data-align="center" data-header-align="center" data-sortable="false">Acciones</th>
						</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="{{NeuralRutaWebPublico}}/vendor/plugins/bootgrid/jquery.bootgrid.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {
			var grid = $("#datatable2").bootgrid({
			    ajax: true,
			    post: function ()
			    { 
			        return {
			            TotalRegistros: $("#TotalRegistros").val()
			        };
			    },
			    url: "{{NeuralRutaApp}}/Agente/AgendaTelefonica/ListadoPagina",
			    formatters: {
			        "Registro": function(column, row)
			        {	
			        	if(row.StatusRegistro == "ACTIVO")
			            	return 	'<span class="label label-primary">'+row.StatusRegistro+'</span>';
			        	else
			        		return '<span class="label label-default">'+row.StatusRegistro+'</span>';
					},
					"Acciones": function(column, row)
					{	
						return '<a class="btn btn-default btn-xs shiny icon-only yellow" href=\'javascript: frmEditar("'+row.IdDatoAgenda+'");\'><i class="fa fa-pencil-square-o"></i></a>';
					},
					"Codigo": function(column, row)
					{
						return '<span class="label label-default" style="background: '+row.Color+'; color: '+row.Color+';">--</span>';
					}
			    },
				rowCount: [5, 10, 25, 50, -1],
			    labels: {
			    	search: "Buscar",
			    	loading: "Cargando...",
			    	all: "Todos",
			    	noResults: "No se encontraron Resultados."
			    }
			});
	});
</script>