﻿.jp-audio {
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
  width: 100%;
  height: 42px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #151517;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 0;
}
.jp-audio .jp-controls {
  left: 0;
  position: absolute;
  top: 0;
  width: 42px;
  height: 100%;
  background-color: #16a7de;
}
.jp-audio .jp-controls a {
  text-decoration: none;
  font-size: 20px;
  padding-left: 12px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #fff;
}
.jp-audio .jp-controls a:hover {
  color: #efeff0;
}
.jp-audio .jp-controls a:before {
  display: inline-block;
  font-family: flat-audio;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  speak: none;
  width: 42px;
  line-height: 42px;
  text-align: center;
  opacity: 1;
}
.jp-audio .jp-progress {
  position: absolute;
  top: 0;
  left: 42px;
  right: 0;
  height: 100%;
  background-color: #e0e0e0;
}
.jp-audio .jp-progress .jp-seek-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}
.jp-audio .jp-progress .jp-seek-bar .jp-play-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #7e8080;
}
.jp-audio .jp-current-time {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  padding: 0 12px;
  font-size: 16px;
  line-height: 42px;
  text-align: right;
  pointer-events:none;
}
.jp-audio .jp-no-solution {
  position: absolute;
  top: 0;
  left: 42px;
  right: 0;
  height: 42px;
  padding: 8px 0;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  display: none;
  color: #ffd850;
  background-color: #b28282;
}
/*# sourceMappingURL=jplayer.metro-fire.css.map */